<div class="content-wrap">
	<div class="title_depth3">{__NAV.page_tit}<span></span>
		<div class="pull-right">
			{? cnt.rr>0}
			<button type="button" class="btn btn-danger btn-sm" onclick="Cancel.search('cs_flag','RR')">환불접수건이 {=number_format(cnt.rr)}건 있습니다.</button>
			{/}
		</div>
	</div>

	<div class=" m-t-20">
		<!--{* 검색폼:S *}-->
		<form id="FrmCancelSearch">
		<input type="hidden" name="sort" value="cancel_date_desc">
		<input type="hidden" name="limit" value="20">
		<table class="tbl-search">
			<colgroup>
				<col style="width:150px">
				<col>
				<col style="width:150px">
				<col>
			</colgroup>
			<tr>
				<th>
					<span>검색어</span>
				</th>
				<td colspan="3">
					<select name="sf" class="select" style="height:32px;vertical-align:middle;">
						<option value="ob.order_num">주문번호</option>
						<option value="" disabled style="background-color:#ddd;color:#000;font-weight:700">주문자 정보</option>
						<option value="ob.buyer_name">주문자명</option>
						<option value="ob.member_id">주문자ID</option>
						<option value="ob.buyer_mobile">주문자 휴대폰번호</option>
						<option value="ob.buyer_ip">주문자IP</option>
						<option value="" disabled style="background-color:#ddd;color:#000;font-weight:700">받는사람 정보</option>
						<option value="ob.receiver_name">받는사람 이름</option>
						<option value="ob.receiver_mobile">수령자휴대폰번호</option>
						<option value="ob.receiver_addr">배송지주소</option>
					</select>
					<textarea class="w500" name="sv" id="search" style="vertical-align:middle;height:32px;box-sizing:border-box"></textarea>
				</td>
			</tr>

			<tr>
				<th>
					<span>기간선택</span>
				</th>
				<td colspan="3">
					<select name="date_field" class="select">
						<option value="date_order_1">주문일</option>
						<option value="date_order_cancel">취소신청일</option>
					</select>
					<input class="input datepicker calendar" type="text" name="date_s" value="" readonly /> ~
					<input class="input datepicker calendar" type="text" name="date_v" value="" readonly />
				</td>
			</tr>

			<tr>
				<th>
					<span>상품</span>
				</th>
				<td>
					<select name="product_field" class="select">
						<option value="productname">상품명</option>
						<option value="productcode">상품코드</option>
					</select>
					<input type="text" name="product_value" value=""  class="w200">
				</td>
				<th>
					<span>상품유형</span>
				</th>
				<td>
					<label><input type="checkbox" name="pr_type[]" value="all" class="hj" data-reverse="pr_type[]" checked><span class="lbl">전체</span></label>
					<label><input type="checkbox" name="pr_type[]" value="1" class="hj"><span class="lbl">일반상품</span></label>
					<label><input type="checkbox" name="pr_type[]" value="3" class="hj"><span class="lbl">임직원상품</span></label>
					<label><input type="checkbox" name="pr_type[]" value="2" class="hj"><span class="lbl">바로구매상품</span></label>
				</td>
			</tr>
			<tr>
				<th>
					<span>취소상태</span>
				</th>
				<td>
					<label><input type="checkbox" class='hj' name="step[]" value="all" checked data-reverse="step[]"><span class="lbl">전체</span></label>
					<label><input type="checkbox" class='hj' name="step[]" value="1C1','2C1"><span class="lbl">취소신청</span></label>
					<label><input type="checkbox" class='hj' name="step[]" value="1C2','2C2"><span class="lbl">취소접수</span></label>
					<!--{*<label><input type="checkbox" class='hj' name="step[]" value="1C3','2C3"><span class="lbl">취소처리중</span></label>*}-->
					<label><input type="checkbox" class='hj' name="step[]" value="1C4','2C4"><span class="lbl">취소완료</span></label>
				
				</td>
				<th>
					<span>환불상태</span>
				</th>
				<td>
					<label><input type="radio" class='hj' name="cs_flag" value="all" checked><span class="lbl">전체</span></label>
					<label><input type="radio" class='hj' name="cs_flag" value="RR"><span class="lbl">환불접수</span></label>
					<label><input type="radio" class='hj' name="cs_flag" value="RC"><span class="lbl">환불완료</span></label>
				</td>
			</tr>
			<tr>
				<th>
					<span>결제방법</span>
				</th>
				<td>
					<label><input type="checkbox" class='hj' name="pg_paymethod[]" value="all" checked data-reverse="pg_paymethod[]"><span class="lbl">전체</span></label>
					<label><input type="checkbox" class='hj' name="pg_paymethod[]" value="card"><span class="lbl">카드결제</span></label>
					<label><input type="checkbox" class='hj' name="pg_paymethod[]" value="acnt"><span class="lbl">실시간계좌이체</span></label>
					<label><input type="checkbox" class='hj' name="pg_paymethod[]" value="vcnt"><span class="lbl">가상계좌</span></label>
				</td>
				<th>
					<span>주문금액</span>
				</th>
				<td>
					<input type="text" class="w100" name="pay_total_s"> 원 ~ <input type="text" class="w100" name="pay_total_e"> 원
				</td>
			</tr>

			<tr>
				<th>
					<span>유입경로</span>
				</th>
				<td>
					<label><input type="radio" class='hj' name="buyer_viewport" value="all" checked><span class="lbl">전체</span></label>
					<label><input type="radio" class='hj' name="buyer_viewport" value="PC"><span class="lbl">PC</span></label>
					<label><input type="radio" class='hj' name="buyer_viewport" value="MOBILE"><span class="lbl">MOBILE</span></label>
				</td>
				<th>회원구분</th>
				<td>
					<label><input type="radio" name="is_member" value="all" class="hj" checked><span class="lbl">전체</span></label>
					<label><input type="radio" name="is_member" value="Y"" class="hj" ><span class="lbl">회원</span></label>
					<label><input type="radio" name="is_member" value="N" class="hj" ><span class="lbl">비회원</span></label>
				</td>
			</tr>

		</table>

		<div class="ta_c mt_20">
			<button type="button" class="btn-point" onclick="Cancel.search()">조회</button>
			<button type="button" class="btn-basic" onclick="Cancel.searchReset()">초기화</button>
		</div>
		</form>
		<!--{* 검색폼:E *}-->
	</div>

	<!--{* 상단툴:S *}-->
	<div class="tools mb_10">
		<div class="pull-left">
			<img src="/admin/images/icon_8a.gif" border="0"> 전체
			<span id="count_total"></span>건 조회
			<button type="button" class="btn-basic dark h-x-small" onclick="Cancel.excel()" style="vertical-align:middle">엑셀 다운로드</button>
		</div>
		<div class="pull-right">
			<select name="sort" onchange="Cancel.search('sort',this.value)">
				<option value="cancel_date_desc">취소신청일 ↓</option>
				<option value="cancel_date_asc">취소신청일 ↑</option>
				<option value="reg_desc">주문일 ↓</option>
				<option value="reg_asc">주문일 ↑</option>
			</select>
			<select name="listnum_select" onchange="OrderList.search('limit',this.value)">
				{@ __CONFIG.limit}
				<option value="{.value_}">{.value_}개씩 보기</option>
				{/}
			</select>
		</div>
	</div>
	<!--{* 상단툴:E *}-->


	<!--{* 목록:S *}-->
	<div id="inner"></div>
	<!--{* 목록:E *}-->

</div>
<textarea id="searched" style="display:none">{searched}</textarea>
<script type="text/javascript">
var Cancel = {
	page: 1,
	proc_url: '/admin/proc/order.proc.php',
	init: function() {
		var me = this;
		$('.datepicker').datepicker();
		me.load(1);
		UI.reverseCheck();
	},
	search: function (field, value) {
		if (field && value) $('#FrmCancelSearch').find('[name="' + field + '"]').val(value);
		this.load(1);
	},
	searchReset: function () {
		$('#FrmCancelSearch')[0].reset();
		$('[data-reverse]').prop('checked',true);
		this.load(1);
	},
	load: function (page) {
		UI.ing('데이터를 불러오는 중입니다...');
		var p = page || Cancel.page;
		var search = $('#FrmCancelSearch').serialize();

		$('#inner').load('/admin/cscenter/cs_cancel.inner.php', {
				page: p,
				search: search
			},
			function () {
				Cancel.page = p;
				UI.toggleCheck();
				UI.ing();
				$('[data-toggle="tooltip"]').tooltip();
			}
		);
	},
    excel: function () {
        var search = $('#searched').val();
        UI.modal('/admin/common/excel.php', '엑셀다운로드', {
            type:'cs_cancel',
            search: search
        }, 800);
    }
}

$(function() {
	Cancel.init();
})
</script>

