<!-- 내용 -->
<div id="page">
	<main id="content">

		<section class="page_local is-line">
			<h2 class="page_title">
				<a href="javascript:history.back();" class="prev">이전페이지</a>
				<span style="font-weight:800">Beauty Tip</span>
			</h2>
		</section>

		<div class="review-mrk clear">
			<div class="inner">
				<div class="area-tip no-margin">
					<h3 class="head">Beauty Tip!<span>좀 더 예뻐지는 방법</span></h3>
					<div id="blog_inner"></div>
				</div><!-- //.area-tip -->
			</div>
		</div>

	</main>
</div>
<!-- //내용 -->

<script type="text/javascript" src="/static/js/blazy.min.js"></script> <!--{* 이미지lazy 처리js *}-->
<script type="text/javascript">

    var BlogList = {
        page: 1,
        num:'{num}',
        init: function(){
            var me = this;
            me.load(1);
		},

        load: function (page) {
            var p = page || BlogList.page;
            $('#blog_inner').load('/m/review/bloglist_inner.php', {
                page: p
            });

        },
        search: function (field, value) {
            if (field && value) $('#FrmReviewSearch').find('[name="' + field + '"]').val(value);
            this.load(1);
        },
        blogOpen: function(idx,title) {
            UI.popup('/m/review/review_blog_detail.php', title , {
                idx :idx
            },function () {
                new Blazy(); //이미지 바인딩
            });
        },
        close: function() {
            $('.btn-close').trigger('click');
        }

    }

    $(function() {
        BlogList.init();
    })
</script>