<!-- Quick -->
<div class="quick_btn_wrp">
	<div class="btn_cart"><a href="" title="장바구니"><span class="count">5</span></a></div>
	<div class="btn_top"><a href="javascript:;"><span class="txt">TOP</span></a></div>
</div>
<!-- //Quick -->

<!-- Footer -->
<footer id="footer">
	<div class="ft_notice">
		<div class="notice_summary">
			<h2 class="tit">공지</h2>
			<p class="subject"><a href="">5월 5일 I KNOW I ONE 공식몰 Grand OPEN!</a></p>
			<a href="" class="more">MORE</a>
		</div>
		<div class="notice_summary">
			<h2 class="tit">가이드</h2>
			<p class="subject"><a href="">소중한 내 피부, 정품인지 꼭 확인하세요!</a></p>
			<a href="" class="more">MORE</a>
		</div>
	</div>
	<div class="ft_wrp">
		<div class="ft_menu">
			<ul>
				<li><a href="../m/etc_agreement.php">이용약관</a></li>
				<li><a href="../m/etc_privacy.php">개인정보취급방침</a></li>
				<li><a href="../m/customer_notice.php">고객센터</a></li>
				<li><a href="">PC버전</a></li>
			</ul>
		</div>
		<div class="sns_link">
			<a href="javascript:;" target="_blank"><i class="icon-instagram-light">instagram</i></a>
			<a href="javascript:;" target="_blank"><i class="icon-youtube-light">youtube</i></a>
			<a href="javascript:;" target="_blank"><i class="icon-facebook-light">facebook</i></a>
		</div>
		<div class="company_info">
			<p><span>서울특별시 강남구 논현로 526</span><span>고객(제품)상담 : 080-881-2001</span></p>
			<p><span>기업(IR)상담 : 02-2193-9513</span><span>팩스 : 02-2193-9595</span></p>
			<p><span>법인명 : 제이준코스메틱(주)</span><span>대표자 : 이진형, 판나</span></p>
			<p><span>사업자 등록번호 : [222-85-12156]</span></p>
			<p><span>통신판매업 신고 : 2016-서울강남-00111</span></p>
			<p><span>개인정보관리책임자 : 최시원</span></p>
		</div>
		<p class="copyright">Copyright(c) JAYJUNCOSMETIC. all right reserved.</p>
		<ul class="ft_etc">
			<li class="family_site">
				<select title="FAMILY SITE 바로가기">
					<option value="">FAMILY SITE</option>
					<option value="">FAMILY SITE 1</option>
					<option value="">FAMILY SITE 2</option>
				</select>
			</li>
			<li class="btn_link"><a href="" target="_blank">에스크로 서비스 가입 확인</a></li>
		</ul>
	</div>
</footer>
<!-- //Footer -->