#data/shopimages
#data/backup
#data/cache
#SE2/upload
#linkhub
#api/log
#batch/log
#data/
#shopimages/
#data/backup/
#data/cache/
#SE2/upload/
#linkhub/
#api/log/
#batch/log/
#data/log/
#paygate/A/payplus/log/


.idea
# ignore all files in the directory
#data/
=======
data/backup/
data/cache/
data/ssl/
data/groupmail/
data/name/
test/
uploads/
data/shopimages/
SE2/upload/
data/
log/
lib/Template_/_compile/
lib/Template_/m/
lib/Template_/m/_compile/
lib/Template_/m/_cache/
conf/config.db.php
admin/_config/colorchip.json

# files
front/test.php
data/config.php

# eclipse
.project
.settings/

# log file
*.log


# paygate log
/paygate/A/log/*.txt
data/shopimages/campaigns
/m/paygate/kcpTest.txt
data/groupmail/a.txt
data/ssl/a.txt

# pg refund
filecli_v02/bin/
filecli_v02/cfg/
filecli_v02/key/
filecli_v02/log/
deploy/commit/
data/shopimages/board/photo/

#vscode
.vscode/
sftp-config.json
admin/static/css/admin.min.css.map


#local
.history/

#log
log/

#acecount
/template/_include/acecounter.html
/m/template/_include/acecounter.html