
<div class="top-slider-wrap">
  <ul class="page-top-slider">
    <li class="top-banner ban01">
      <a href="#">의약외품 손 소독제</a>
    </li>
    <li class="top-banner ban02">
      <a href="#">로하셀, 롭스 공식 입점</a>
    </li>
    <li class="top-banner ban03">
      <a href="#">보습 크림 팩 패드</a>
    </li>
  </ul>
</div>

<div class="list-page">
  <div class="inner-wrap">
    <div class="top-area clear">
      <h3>| 전체보기</h3>
      <ul class="sorting">
        <li><span>최신순</span></li>
        <li><span>판매순</span></li>
        <li><span>상품명순</span></li>
      </ul>
    </div>
    <div class="list-goods-wrap mb-100">
      <ul class="list clear">
        <li>
          <div class="img-wrap">
            <a href="#">
              <img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
            </a>
            <img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
          </div>
          <div class="btn-view-layer">
            <button class="btn-view-modal">
              <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
            </button>
          </div>
          <p class="name">[의약외품 손 소독제] 폴톤 핸</p>
          <div class="price-wrap">
            <div class="price">
              <span class="origin">15,000원</span>
              <span class="divider">|</span>
              <span class="sale">9,900원</span>
            </div>
          </div>
        </li>
        <li>
          <div class="img-wrap">
            <a href="#">
              <img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
            </a>
            <img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
          </div>
          <div class="btn-view-layer">
            <button class="btn-view-modal">
              <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
            </button>
          </div>
          <p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
          <div class="price-wrap">
            <div class="price">
              <span class="origin">15,000원</span>
              <span class="divider">|</span>
              <span class="sale">9,900원</span>
            </div>
          </div>
        </li>
        <li>
          <div class="img-wrap">
            <a href="#">
              <img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
            </a>
            <img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
          </div>
          <div class="btn-view-layer">
            <button class="btn-view-modal">
              <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
            </button>
          </div>
          <p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
          <div class="price-wrap">
            <div class="price">
              <span class="origin">15,000원</span>
              <span class="divider">|</span>
              <span class="sale">9,900원</span>
            </div>
          </div>
        </li>
        <li>
          <div class="img-wrap">
            <a href="#">
              <img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
            </a>
            <img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
          </div>
          <div class="btn-view-layer">
            <button class="btn-view-modal">
              <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
            </button>
          </div>
          <p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
          <div class="price-wrap">
            <div class="price">
              <span class="origin">15,000원</span>
              <span class="divider">|</span>
              <span class="sale">9,900원</span>
            </div>
          </div>
        </li>
        <li>
          <div class="img-wrap">
            <a href="#">
              <img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
            </a>
            <img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
          </div>
          <div class="btn-view-layer">
            <button class="btn-view-modal">
              <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
            </button>
          </div>
          <p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
          <div class="price-wrap">
            <div class="price">
              <span class="origin">15,000원</span>
              <span class="divider">|</span>
              <span class="sale">9,900원</span>
            </div>
          </div>
        </li>
        <li>
          <div class="img-wrap">
            <a href="#">
              <img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
            </a>
            <img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
          </div>
          <div class="btn-view-layer">
            <button class="btn-view-modal">
              <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
            </button>
          </div>
          <p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
          <div class="price-wrap">
            <div class="price">
              <span class="origin">15,000원</span>
              <span class="divider">|</span>
              <span class="sale">9,900원</span>
            </div>
          </div>
        </li>
        <li>
          <div class="img-wrap">
            <a href="#">
              <img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
            </a>
            <img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
          </div>
          <div class="btn-view-layer">
            <button class="btn-view-modal">
              <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
            </button>
          </div>
          <p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
          <div class="price-wrap">
            <div class="price">
              <span class="origin">15,000원</span>
              <span class="divider">|</span>
              <span class="sale">9,900원</span>
            </div>
          </div>
        </li>
        <li>
          <div class="img-wrap">
            <a href="#">
              <img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
            </a>
            <img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
          </div>
          <div class="btn-view-layer">
            <button class="btn-view-modal">
              <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
            </button>
          </div>
          <p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
          <div class="price-wrap">
            <div class="price">
              <span class="origin">15,000원</span>
              <span class="divider">|</span>
              <span class="sale">9,900원</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="list-paginate mt-20 mb-20">
      <a href="#" class="prev-all"></a>
      <a href="#" class="prev"></a>
      <a href="#" class="number on">1</a>
      <a href="#" class="number">2</a>
      <a href="#" class="number">3</a>
      <a href="#" class="next "></a>
      <a href="#" class="next-all "></a>
    </div>
  </div>
</div>

<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
</div>

<script>
$(function(){
  var mySwiper = new Swiper ('.swiper-container', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  })  
});
</script>



<!-- modal -->
<div class="bpopup goods-summary">
  <button class="btn-close" onClick="javascript:$('.bpopup.goods-summary').bPopup().close();">
    <img src="../../jayjun/web/static/img/btn/btn-popup-close.jpg" alt="닫기 버튼">
  </button>
  <div class="clear">
    <div class="thumb">
      <div class="goods-img">
        <a href="#">
          <img src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 이미지">
          <img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
        </a>
      </div>
      <div class="btns">
        <button class="btn-view-bigger">
          <i class="icon-plus-red"></i>
          <span>큰이미지 보기</span>
        </button>
        <button>
          <i class="icon-search-red"></i>
          <span>상품 자세히보기</span>
        </button>
      </div>
    </div>
    <div class="info">
      <h3 class="title">[의약외품 손 소독제] 폴튼 핸드세니타이저겔 ★휴대용 소독코튼 증정★</h3>
      <div class="origin-price">
        <span>소비자 가격 : </span>
        <span class="remove">15,000원</span>
      </div>
      <div class="sale-price">
        <span>판매할인가 : </span>
        <span>9,000원</span>
      </div>
      <div class="opts-wrap">
        <p class="mb-5"><strong>기본옵션</strong></p>
        <ul class="options">
          <li>
            <label for="">상품선택</label>
            <div class="select is-custom">
              <select title="타이틀작성 필수">
                <option>의약외품 손 소독제</option>
              </select>
            </div>
          </li>
          <li>
            <label for="">수량</label>
            <div class="quantity">
              <input type="text" value="1" title="타이틀 작성" readonly="">
              <button class="plus">수량증가</button>
              <button class="minus">수량감소</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="btn-sns">
        <a href="#">
          <img src="../../jayjun/web/static/img/icon/icon-fb.gif" alt="페이스북 버튼">
        </a>
        <a href="#">
          <img src="../../jayjun/web/static/img/icon/icon-insta.gif" alt="페이스북 버튼">
        </a>
        <p class="mt-10">재고 수량 : 무제한</p>
      </div>
      <div class="btns">
        <button class="btn-point red">
          <span>즉시구매</span>
        </button>
        <button class="btn-point">
          <span>장바구니 담기</span>
        </button>
        <button class="btn-point">
          <span>관심상품 등록</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- //modal -->

<script>
$(function(){
    // 상품 요약 보기 팝업
    $('.btn-view-modal').click(function () {
      $('.bpopup.goods-summary').bPopup({
        position: ['auto', 'auto'], //x, y
        modalClose: true
      });
    });

  // main slider
  $('.page-top-slider').slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    adaptiveHeight: true,
    arrows: false,
  });	
});
</script>