<!-- 마이페이지 > 주문상세 > 반품신청 -->
<div class="layer-dimm-wrap popDelivery-return refund" >
		<div class="layer-inner">
			<h2 class="layer-title">환불/반품신청</h2>
			<button class="btn-close" type="button"><span>닫기</span></button>
			<div class="layer-content">
	
				<table class="th-top" id="rg_list">
					<caption>주문 목록</caption>
					<colgroup>
						<col style="width:100px">
						<col style="width:auto">
						<col style="width:80px">
						<col style="width:110px">
						<col style="width:105px">
						<col style="width:95px">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">주문일</th>
							<th scope="col">상품정보</th>
							<th scope="col">수량</th>
							<th scope="col">판매가</th>
							<th scope="col">배송정보</th>
							<th scope="col">할인금액</th>
						</tr>
					</thead>
					<tbody></tbody>
					<tfoot></tfoot>
				</table>
	
				<div class="refund-frm clear">
					<ul class="comment">
						<li>* 할인금액, 배송비를 제외한 금액으로 환불됩니다.</li>
						<li>* 결제 수단별 환불방법과 환불소요기간에 차이가 있습니다. </li>
					</ul>
					<div class="reason">
						<table class="th-left">
							<caption>환불/반품사유 작성</caption>
							<colgroup>
								<col style="width:120px">
								<col style="width:auto">
							</colgroup>
							<tbody>
								<tr id="tr_refund">
									<th scope="row"><label for="refund_reason" class="essential">환불사유</label></th>
									<td>
										<div class="input-cover">
											<div class="select">
												<select name="b_sel_code" id="refund_reason" style="width:190px" title="반품사유 선택" class="tab-select">
													<option value="">선택</option>
													<?php
											$oc_reason_sub_code_html = "";
											$oc_reason_sub_code_html .= '<div class="mt-10 checkbox-set">';
											foreach($cancel_oc_code as $key => $val) {
	?>
													<option value="<?=$key?>">
														<?=$val['name']?>
													</option>
													<?
												if($val['detail_code']) {
													$oc_rsc_addClass	= " style='display:none'";
													$oc_reason_sub_code_html .= '
														<div class="mt-10 CLS_sel_sub_code chk_sub_code_'.$key.'" '.$oc_rsc_addClass.'>
													';
													foreach($val['detail_code'] as $c2key => $c2val) {
														$oc_reason_sub_code_html	.= '<div>
																							<input id="checkbox-'.$key.$c2key.'" class="b_sel_sub_code" type="checkbox" name="b_sel_sub_code" value="'.$c2key.'">
																							<label for="checkbox-'.$key.$c2key.'">'.$c2val.'</label>
																						</div>
																						';
													}
													$oc_reason_sub_code_html .= '</div>';
												}
											}
											$oc_reason_sub_code_html .= '</div>';
	?>
												</select>
	
											</div>
										</div>
										<?=$oc_reason_sub_code_html?>
									</td>
								</tr>
	
								<tr id="tr_return">
									<th scope="row"><label for="refund_reason" class="essential">반품사유</label></th>
									<td>
										<div class="input-cover">
											<div class="select">
												<select name="b_sel_code2" id="refund_reason" style="width:190px" title="반품사유 선택" class="tab-select">
													<option value="">선택</option>
													<?php
											$oc_reason_sub_code_html = "";
											$oc_reason_sub_code_html .= '<div class="mt-10 checkbox-set">';
											foreach($return_oc_code as $key => $val) {
	?>
													<option value="<?=$key?>">
														<?=$val['name']?>
													</option>
													<?
												if($val['detail_code']) {
													$oc_rsc_addClass	= " style='display:none'";
													$oc_reason_sub_code_html .= '
														<div class="mt-10 CLS_sel_sub_code chk_sub_code_'.$key.'" '.$oc_rsc_addClass.'>
													';
													foreach($val['detail_code'] as $c2key => $c2val) {
														$oc_reason_sub_code_html	.= '<div>
																							<input id="checkbox-'.$key.$c2key.'" class="b_sel_sub_code" type="checkbox" name="b_sel_sub_code" value="'.$c2key.'">
																							<label for="checkbox-'.$key.$c2key.'">'.$c2val.'</label>
																						</div>
																						';
													}
													$oc_reason_sub_code_html .= '</div>';
												}
											}
											$oc_reason_sub_code_html .= '</div>';
	?>
												</select>
	
											</div>
										</div>
										<?=$oc_reason_sub_code_html?>
									</td>
								</tr>
								<tr>
									<th scope="row"><label for="detail_reason2" class="essential">상세사유</label></th>
									<td>
										<textarea id="detail_reason2" name="memo" class="w100-per" style="height:79px" title="상세사유 입력" placeholder=""></textarea>
									</td>
								</tr>
								<?
					if ($_ord->paymethod[0] == 'C') { // 카드결제일 경우
						$refund_text	= "신용카드 취소";
						$account_disabled	= " disabled";
					} else if ($_ord->paymethod[0] == 'M') { // 휴대폰결제일 경우
						$refund_text	= "휴대폰결제 취소";
						$account_disabled	= " disabled";
					} else if ($_ord->paymethod[0] == 'Y') { // 페이코결제일 경우
						$refund_text	= "PAYCO결제 취소";
						$account_disabled	= " disabled";
					} else if ($_ord->paymethod[0] == 'V') { // 계좌이체결제일 경우
						$refund_text	= "계좌이체결제 취소";
						$account_disabled	= " disabled";
					} else if ($_ord->paymethod[0] == 'G') { // 임직원 포인트결제일 경우
						$refund_text	= "임직원 포인트 환원";
						$account_disabled	= " disabled";
					} else {
						$refund_text	= "계좌입금(가상계좌 입금의 경우는 계좌입금만 가능)";
						$account_disabled	= "";
					}
	?>
								<tr>
									<th scope="row"><label class="essential">환불방법</label></th>
									<td><span class='refund-way'>
											<?=$refund_text?></span><span class='refund-way2 hide'>계좌입금(가상계좌 입금의 경우는 계좌입금만 가능)</span></td>
								</tr>
							</tbody>
						</table>
					</div><!-- //.reason -->
	
	
					<div class="account account-info">
						<table class="th-left">
							<caption>계좌정보 작성</caption>
							<colgroup>
								<col style="width:120px">
								<col style="width:auto">
							</colgroup>
							<tbody>
								<tr>
									<th scope="row"><label for="refund_bank" class="essential">은행명</label></th>
									<td>
										<div class="input-cover">
											<div class="select">
												<select name="bankcode" id="refund_bank" style="width:190px" title="은행명 선택" <?=$account_disabled?>>
													<option value=''>선택</option>
													<?php
											foreach($oc_bankcode as $key => $val) {
	?>
													<option value="<?=$key?>">
														<?=$val?>
													</option>
													<?php
											}
	?>
												</select>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row"><label for="refund_account" class="essential">계좌번호</label></th>
									<td>
										<div class="input-cover"><input type="text" class='chk_only_number' id="account-number" name="bankaccount"
												maxlength="20" class="w100-per" title="환불받을 계좌번호 입력" placeholder="하이픈(-) 없이 입력" style="ime-mode:disabled;"
												<?=$account_disabled?>></div>
									</td>
								</tr>
								<tr>
									<th scope="row"><label for="refund_account_name" class="essential">예금주</label></th>
									<td>
										<div class="input-cover"><input type="text" class="w100-per" id="account-name" name="bankuser" maxlength="20"
												title="환불받을 계좌 예금주" placeholder="이름" <?=$account_disabled?>></div>
									</td>
								</tr>
								<tr>
									<th scope="row"><label for="refund_account_tel" class="essential">연락처</label></th>
									<td>
										<div class="input-cover"><input type="text" class="w100-per" class='chk_only_number' id="account-tel" name="bankusertel"
												maxlength="20" title="환불받는 분 연락처" placeholder="하이픈(-) 없이 입력" style="ime-mode:disabled;" <?=$account_disabled?>></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- //.account -->
				</div><!-- //.refund-frm -->
	
	
				<dl class="return-delivery-price" id="parcel_pay">
					<dt>택배비 발송</dt>
					<?
					$oc_delivery_fee_type_cnt = 0;
					foreach($delivery_fee_type as $key => $val) {
					 ?>
					<?if($key  == "3"){ ?>
					<dd>
						<div class="radio">
							<input type="radio" id="radio-delivery-fee<?=$key?>" value="<?=$key ?>" name="return_deli_type">
							<label for="radio-delivery-fee<?=$key?>">
								<?=$val ?></label>
						</div>
						<div class="input-cover d-iblock ml-10"><input type="text" title="입금자명 입력" name="return_deli_memo" id="return_deli_memo"
								placeholder="입금자명"></div>
					</dd>
					<?}else{ ?>
					<dd>
						<div class="radio">
							<input type="radio" id="radio-delivery-fee<?=$key?>" value="<?=$key ?>" name="return_deli_type">
							<label for="radio-delivery-fee<?=$key?>">
								<?=$val ?></label>
						</div>
					</dd>
					<?} ?>
	
					<?} ?>
	
				</dl>
				<input type=hidden name="return_deli_price" id="return_deli_price" value="">
				<input type="hidden" name="return_deli_receipt" id="return_deli_receipt" title="택배비 수령" value=""></td>
				<input type="hidden" name="receiver_tel1" id="receiver_tel1" value="<?=$_ord->receiver_tel1?>">
	
				<dl class="attention-box mt-20">
					<dt>유의사항</dt>
					<dd>상품이 손상/훼손 되었거나 이미 사용하셨다면 반품이 불가능합니다</dd>
					<dd>반품 사유가 단순변심, 구매자 사유일 경우반품 배송비를 상품과 함께 박스에 동봉해 주세요</dd>
					<dd>배송비가 동봉되지 않았을 경우 별도 입금 요청을 드릴 수 있습니다</dd>
					<dd>반품 사유가 상품불량/파손, 배송누락/오배송 등 판매자 사유일 경우 별도 배송비를 동봉하지 않으셔도 됩니다 </dd>
					<dd>상품 확인 후 실제로 판매자 사유가 아닐 경우 별도 배송비 입금 요청을 드릴 수 있습니다</dd>
					<dd>가상계좌로 결제하신 경우에는 환불이 영업일 기준으로 1~2일정도 소요될 수 있습니다.</dd>
				</dl>
	
				<div class="btnPlace mt-20 mb-40 button_open">
					<!--<button class="btn-line h-large" type="button"><span>취소</span></button>-->
					<button class="btn-point h-large refundSubmit" type="button"><span>신청</span></button>
				</div>
	
				<div class="mt-40 mb-40 button_close" style="text-align:center; display:none;">
					========== 처리중 입니다 ==========
				</div>
	
			</div><!-- //.layer-content -->
		</div>
	</div><!-- //마이페이지 > 주문상세 > 반품신청 -->