<style>
.point-info dl {height:210px;}
</style>

<div id="contents">
	<div class="mypage-page">

		<h2 class="page-title">포인트/마일리지</h2>
		<div class="inner-align page-frm clear">

			{=include("mypage_TEM01_left.php")}
			<article class="my-content">
				
				<div class="point-info clear">
					<dl>
						<dt><img src="/jayjun/web/static/img/icon/icon_my_grade.png" alt="회원등급">회원등급</dt>
						<dd class="fz-16">{=member.name} 님의 회원등급<br> <strong class="fz-20">{=member.group_info.group_name}</strong></dd>
						
						<!--<dd class="pt-5">등급업 필요 포인트 <strong>1,000P</strong><br>※ 온라인 회원등급은 통합포인트 기준</dd>-->
					</dl>
					<dl>
						<dt><img src="/jayjun/web/static/img/icon/icon_my_point_big.png" alt="포인트">포인트</dt>
						<dd class="fz-20">현재  포인트 <strong class="fz-22 point-color">{=number_format(member.act_point)}P</strong></dd>
						
					</dl>
					<dl>
						<dt><img src="/jayjun/web/static/img/icon/icon_my_epoint_big.png" alt="마일리지">마일리지</dt>
						<dd class="fz-20">현재 마일리지 <strong class="fz-22 point-color">{=number_format(member.reserve)}M</strong></dd>
					
					</dl>
				</div>

				<section class="mt-25" data-ui="TabMenu">
					<div class="tabs"> 
						<button type="button"  data-contents='point'  class="active point_change"><span>포인트</span></button>
						<button type="button"  data-contents='mileage'  class=" point_change"><span>마일리지</span></button>
					</div>

					<header class="my-title mt-30">
						<h3 class="fz-0">포인트 내역</h3>
						<div class="count">전체 <strong class="p_count"></strong>건</div>
						<form id="FrmSearchPoint">
							<div class="date-sort fl-r">
								<div class="type month mr-10">
									<button type="button" class="on" onclick="UI.month('1')"><span>1개월</span></button>
									<button type="button" class="" onclick="UI.month('3')"><span>3개월</span></button>
									<button type="button" class="" onclick="UI.month('6')"><span>6개월</span></button>
									<button type="button" class="" onclick="UI.month('12')"><span>12개월</span></button>
								</div>
								<div class="type calendar">
									<div class="box">
										<div><input type="text" title="일자별 시작날짜" name="date_s" value="{search.date_s}" id="date_s" readonly class="datepicker"></div>
										<button type="button" class="btn_calen CLS_cal_btn">달력 열기</button>
									</div>
									<span class="dash"></span>
									<div class="box">
										<div><input type="text" title="일자별 시작날짜" name="date_e" value="{search.date_e}" id="date_e" readonly class="datepicker"></div>
										<button type="button" class="btn_calen CLS_cal_btn">달력 열기</button>
									</div>
								</div>

								<button type="button" class="btn-point" onclick="Point.search()"><span>검색</span></button>
							</div>
						</form>
					</header>

					
					<div id="tabs_contents"></div>

				</section>

			</article><!-- //.my-content -->
		</div><!-- //.page-frm -->

	</div>
</div><!-- //#contents -->

<script type="text/javascript">
var Point = {
	url:'{_SERVER.PHP_SELF}',
	tab_id:'point',
	page:1,
	init: function() {
		var me = this;

		
		$('.tabs button').on('click', function() {
			$('.tabs button').removeClass('active');
			$(this).addClass('active');

			me.tab_id = $(this).data('contents');
			me.load(1);
		});
		$(".datepicker").datepicker();
        me.load(1);
	},
	load: function(page) {
        var p = page || Point.page;
		var href = this.tab_id+'.inner.php';
		var search = $('#FrmSearchPoint').serialize();
		$('#tabs_contents').load('{C.DIR_FRONT}/mypage/'+href, { page: p,search:search}, function() {

		})
	},
    loadPage: function (page) {
        this.load(page);
    },
    search: function (field, value) {
        if (field && value) $('#FrmSearchPoint').find('[name="' + field + '"]').val(value);
        this.load(1);
    }
}

$(function() {
	Point.init();
})
</script>