<div class="order-infoDetail clear mt-30">
	<form id="FrmReturnConfirm">
	{@ refund}
	<input type="hidden" name="refund[{.key_}]" value="{.value_}">
	{/}
	<input type="hidden" name="pay_delivery" value="{pay_delivery}">
	{@ cancel}
	<input type="hidden" name="cancel[{.key_}]" value="{.value_}">
	{/}
		
	<section class="inner-payment">
		<header class="my-title">
			<h3>할인 및 결제정보</h3>
		</header>
		
			
		<table class="th-left">
			<caption>할인 및 결제 확인</caption>
			<colgroup>
				<col style="width:168px">
				<col style="width:auto">
			</colgroup>
			<tbody>
			<tr>
				<th scope="row"><label>총 상품금액</label></th>
				<td class="fw-bold">
					{=number_format(basic.sum_consumer)} 원
				</td>
			</tr>
			<tr>
				<th scope="row"><label class="txt-toneC fz-12">할인 (-)</label></th>
				<td class="point-color">- {=number_format(basic.sum_discount)} 원</td>
			</tr>
			{? basic.coupon_product_discount > 0 //상품쿠폰할인}
			<tr>
				<th scope="row"><label class="txt-toneC fz-12">상품쿠폰 할인 (-)</label></th>
				<td class="point-color">- {=number_format(basic.coupon_product_discount)} 원</td>
			</tr>
			{/}
			{? basic.coupon_basket_discount > 0 //장바구니쿠폰할인}
			<tr>
				<th scope="row"><label class="txt-toneC fz-12">장바구니쿠폰 할인 (-)</label></th>
				<td class="point-color">- {=number_format(basic.coupon_basket_discount)} 원</td>
			</tr>
			{/}
			<tr>
				<th scope="row"><label class="txt-toneC fz-12">마일리지 사용 (-)</label></th>
				<td class="point-color">- {=number_format(basic.use_mileage)} M</td>
			</tr>
			<tr>
				<th scope="row"><label class="txt-toneC fz-12">포인트 사용 (-)</label></th>
				<td class="point-color">- {=number_format(basic.use_point)} P</td>
			</tr>
			<tr>
				<th scope="row"><label class="txt-toneC fz-12">배송비 (+)</label></th>
				<td class="point-color">- {=number_format(basic.pay_delivery - basic.coupon_delivery_discount)} 원</td>
			</tr>
			<tr>
				<th scope="row"><label>총 결제금액</label></th>
				<td><span class="fw-bold point-color">{=number_format(basic.pay_pg)}원</span><p class="mt-5">적립 마일리지 {=number_format(basic.sum_mileage)} M</p></td>
			</tr>
			<tr>
				<th scope="row">
					<label>{basic.payment_info.name}</label>
				</th>
				<td class="fz-13 ta-r">
					{? basic.pg_paymethod == 'vcnt'}
					<div class="mt-5">
						{basic.payment_info.quota}
					</div>
					{: basic.pg_paymethod == 'acnt'}
					{? payment.escrow_yn=='Y'} / 에스크로{/}
					{:}
					
					<div class="mt-5">
						{basic.payment_info.quota //카드결제추가정보}
					</div>
					{/}
				</td>
			</tr>
			</tbody>
		</table>
	</section><!-- //.inner-payment -->

	<section class="inner-delivery">
		<header class="my-title">
			<h3 class="d-iblock">환불 정보 결제 수단</h3>
			<!--<button class="btn-line btn-pop-address" id="delivery-change" type="button"><span>배송지 변경</span></button>-->
		</header>
		<table class="th-left">
			<caption>환불 정보 확인</caption>
			<colgroup>
				<col style="width:200px">
				<col style="width:auto">
			</colgroup>
			<tbody>
			<tr>
				<th scope="row"><label>취소 금액</label></th>
				<td class="fw-bold">{=number_format(refund.product)}원</td>
			</tr>
			<tr>
				<th scope="row"><label class="txt-toneC fz-12">마일리지 복원(+)</label></th>
				<td class="point-color">{=number_format(refund.mileage)}원</td>
			</tr>
			<tr>
				<th scope="row"><label class="txt-toneC fz-12">포인트 복원(+)</label></th>
				<td class="point-color">{=number_format(refund.point)}원</td>
			</tr>
			<tr>
				<th scope="row"><label class="txt-toneC fz-12">배송비</label></th>
				<td>{=number_format(pay_delivery)}원</td>
			</tr>
			<tr>
				<th scope="row"><label>환불예정금액</label></th>
				<td><span class="fw-bold">{=number_format(refund.end)}원</span><p class="mt-5">적립 차감 마일리지 {=number_format(cancel.mileage)} M</p></td>
			</tr>
			{? basic.pg_paymethod != 'card'}
			<tr>
				<td colspan="2" class="pl-25 ta-l">
					<div class="mt-10"><strong class="txt-toneA fz-14">무통장입금(환불계좌)</strong></div>
					<div class="mt-10">
						<div class="select refund_account">
							<select id="bank_code" title="은행 선택">
								<option value="">은행을 선택해주세요.</option>
								{@ _kcp_bank_code}
								<option value="{.key_}">{.value_}</option>
								{/}
							</select>
						</div>
						<input type="text" class="refund_account" title="예금주명 입력자리" id="depositor" name="bank[depositor]" placeholder="예금주명" style="width:100px">
						<div class="mt-5">
							<input type="text" class="refund_account" title="계좌번호 입력자리" id="account_num" name="bank[account]" placeholder="'-' 없이 입력해주세요." style="width:300px">
							<button id="confirm_account" class="btn-line cancel h-medium no-margin va-t" type="button"  onclick="Account.acnt_chk()"><span>본인계좌 인증</span></button>
							<button type="button" class="btn-basic hide" id="re_auth" onclick="Account.acnt_del()"><span>재인증</span></button>
							<input type="hidden" id="bank_checked" value="0">
							<input type="hidden" id="bank_code_val" class="refund_account" name="bank[code]" value="0">
						</div>
					</div>
				</td>
			</tr>
			{/}

			</tbody>
		</table>
	</section><!-- //.inner-delivery -->
	</form>
</div>





<div class="btnPlace mt-40">
	<a class="btn-line h-large w200" href="javascript:Refund.close();"><span>취소</span></a>
	<a class="btn-point h-large w200" href="javascript:;" onclick="Refund.act();"><span>반품신청</span></a>
</div>

<style>
	.layer-inner {width:1030px !important;}
	.order-infoDetail .my-title h3 {font-size:16px; padding-bottom:10px}
	.inner-payment {margin-left: 30px}
	.inner-delivery {margin-right:30px}
	.order-infoDetail .inner-payment:before {
		right:30px;
	}
</style>

<!--계좌인증스크립트-->
<script src="/static/js/account.js"></script>

<script type="text/javascript">
	var Refund = {
		init: function() {
			
		},
		close: function() {
			$('#jayjun_modal .btn-close').trigger('click');
		},
		act: function() {
			var me = this;
			var fd1 = $('#FrmReturn').serializeArray();
			var fd2 = $('#FrmReturnConfirm').serializeArray();
			var formdata = $.merge(fd1, fd2);
            var bank_checked = $('#bank_checked').val();

            if(bank_checked =="0"){
				UI.alert("본인계좌인증이 필요합니다");
				return false;
            }

			UI.confirm('반품신청하시겠습니까?', function() {
				$.ajax({
					url:'/proc/order.proc.php',
					data:formdata,
					dataType:'json',
					type:'POST',
					success: function(r) {
						if(r.success){
							//이동
							document.location.href="/front/mypage_complete.php?oid="+r.data.oid+"&order_status=return";
						}
						else {
							UI.error(r.msg);
						}
					}
				})
			})
		}
	}
	
	$(function() {
		Refund.init();
	})
	</script>