<!DOCTYPE html PUBtdC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8;IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>장기 미 접속 회원에 대한 휴면 계정 전환 안내</title>
</head>
<body bgcolor="f8f8f8" style="background-color:#f8f8f8;">
<style type="text/css">
body {padding:0px; margin:0px;}
a , a:link , a:visited , a:active , a:hover , img {text-decoration:none; outline:0;border:none;}
</style>
<div align="center" style="width:100%;min-height:100%;background-color:#f8f8f8;">
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center" style="width:800px;margin:0 auto;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;">
	<tr>
		<td align="center">

<!-- 로고 -->
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td height="80" align="center"><a href="" target="_blank"><img src="{C.SHOPURL}/jayjun/web/static/img/mail/h1_logo.png" border="0" title="i KNOW iONE" alt="i KNOW iONE"></a></td>
	</tr>
</table>
<!-- //로고 -->

<!-- 내용 -->
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="ffffff" style="border:1px solid #ebebeb;border-collapse:collapse;">
	<tr>
		<td height="20"></td>
	</tr>
	<tr>
		<td align="center">
			<table width="760" cellpadding="0" cellspacing="0" border="0" align="center">
				<!-- 제목 -->
				<tr>
					<td height="90" align="center" bgcolor="000000" style="color:#fff;font-family:'돋움',dotum,sans-serif;font-size:20px;">장기 미 접속 회원에 대한 휴면 계정 전환 안내</td>
				</tr>
				<!-- //제목 -->

				<tr><td height="25"></td></tr>
				<tr>
					<td align="left" style="color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;line-height:20px;">안녕하세요. i KNOW iONE입니다.<br>정보통신망법 개정에 따라 최근 1년간 i KNOW iONE에 로그인을 하지 않은 회원을 대상으로 안전한 개인정보 관리를 위해<br> 휴면계정으로 전환 후 "회원 자동탈퇴 및 개인정보 파기"를 진행하게 됨을 알려드립니다.</td>
				</tr>
				<tr><td height="30"></td></tr>
				<tr>
					<td align="center" bgcolor="f1f1f1">
						<table width="710" cellpadding="0" cellspacing="0" border="0" align="center">
							<tbody>
								<tr><td height="30"></td></tr>
								<tr>
									<th scope="row" width="125" align="left" style="padding-left:15px;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;box-sizing:border-box;">전환일자</th>
									<td width="9" align="center" style="color:#aeaeae;font-family:'돋움',dotum,sans-serif;font-size:11px;">|</td>
									<td align="left" style="padding-left:15px;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;">{=format(logindate,'Y')+1}년 {=format(logindate,'m')}월 {=format(logindate,'d')}일</td>
								</tr>
								<tr><td height="10"></td></tr>
								<tr>
									<th scope="row" width="125" align="left" style="padding-left:15px;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;box-sizing:border-box;">관련법령</th>
									<td width="9" align="center" style="color:#aeaeae;font-family:'돋움',dotum,sans-serif;font-size:11px;">|</td>
									<td align="left" style="padding-left:15px;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;">정보통신망 이용촉진 및 정보보호 등에 관한 법률 제 29조(개인정보의 파기)<br>정보통신망 이용촉진 및 정보보호 등에 관한 법률 시행령 제 16조(개인정보의 파기 등)</td>
								</tr>
								<tr><td height="10"></td></tr>
								<tr>
									<th scope="row" width="125" align="left" style="padding-left:15px;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;box-sizing:border-box;">대상회원</th>
									<td width="9" align="center" style="color:#aeaeae;font-family:'돋움',dotum,sans-serif;font-size:11px;">|</td>
									<td align="left" style="padding-left:15px;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;">i KNOW iONE 홈페이지에 1년 이상 로그인하지 않은 회원</td>
								</tr>
								<tr><td height="24"></td></tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr><td height="35"></td></tr>
				<tr>
					<td align="left" style="color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;line-height:20px;">
						∙ 장기간 미사용으로 인한 자동 탈퇴 후에 서비스 재이용을 원하시는 경우 신규 회원가입이 필요합니다.<br>
						∙ 자동탈퇴를 원하지 않는 경우 {=format(logindate,'Y')+1}년 {=format(logindate,'m')}월 {=format(logindate,'d')}일 이전에 i KNOW iONE 홈페이지를 통해 1회 이상 로그인하시면 됩니다.
					</td>
				</tr>
				<tr><td height="45"></td></tr>
				<tr>
					<td align="center">
						<table width="273" cellpadding="0" cellspacing="0" border="0" align="center">
							<tr>
								<td height="46" align="center" bgcolor="000000"><a href="{url}" target="_blank" style="display:block;width:100%;height:46px;color:#fff;font-family:'돋움',dotum,sans-serif;font-size:16px;line-height:46px;font-weight:700;text-decoration:none;">i KNOW iONE 로그인하기</a></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="50"></td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="52" align="center" style="border-top:1px solid #ededed;color:#999;font-family:'돋움',dotum,sans-serif;font-size:12px;line-height:18px;">본 메일은 장기 미접속 회원을 대상으로 법률 준수를 위하여 수신동의 여부와 상관없이 발송되었습니다.</td>
	</tr>
</table>
<!-- //내용 -->

<!-- 푸터 -->
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr><td height="18"></td></tr>
	<tr>
		<td align="center">
			<table width="800" cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td width="280" align="center" style="color:#b1b1b1;font-family:'돋움',dotum,sans-serif;font-size:11px;line-height:18px;"><img src="{C.SHOPURL}/jayjun/web/static/img/mail/ft_logo.png" alt="i KNOW iONE"></td>
					<td align="left" style="color:#b1b1b1;font-family:'돋움',dotum,sans-serif;font-size:11px;line-height:18px;"><strong>CS CENTER</strong> 080 881 2001 &nbsp;<strong>TEL</strong> 02 2193 9513 &nbsp;<strong>FAX</strong> 02 2193 9595<br>서울특별시 강남구 논현로 526 &nbsp;<strong>대표자</strong> 이진형 &nbsp;<strong>사업자번호</strong> 222-85-12156</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr><td height="34"></td></tr>
</table>
<!-- //푸터 -->

		</td>
	</tr>
</table>
</div>


</body>
</html>