<!DOCTYPE html PUBtdC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8;IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>1:1 문의 답변완료</title>
</head>
<body bgcolor="f8f8f8" style="background-color:#f8f8f8;">
<style type="text/css">
body {padding:0px; margin:0px;}
a , a:link , a:visited , a:active , a:hover , img {text-decoration:none; outline:0;border:none;}
</style>
<div align="center" style="width:100%;min-height:100%;background-color:#f8f8f8;">
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center" style="width:800px;margin:0 auto;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;">
	<tr>
		<td align="center">

<!-- 로고 -->
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td height="80" align="center"><a href="" target="_blank"><img src="{C.SHOPURL}/jayjun/web/static/img/mail/h1_logo.png" border="0" title="i KNOW iONE" alt="i KNOW iONE"></a></td>
	</tr>
</table>
<!-- //로고 -->

<!-- 내용 -->
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="ffffff" style="border:1px solid #ebebeb;border-collapse:collapse;">
	<tr>
		<td height="20"></td>
	</tr>
	<tr>
		<td align="center">
			<table width="760" cellpadding="0" cellspacing="0" border="0" align="center">
				<!-- 제목 -->
				<tr>
					<td height="90" align="center" bgcolor="000000" style="color:#fff;font-family:'돋움',dotum,sans-serif;font-size:20px;">1:1 문의에 답변이 등록되었습니다</td>
				</tr>
				<!-- //제목 -->

				<tr><td height="40"></td></tr>
				<tr>
					<td align="left" style="color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;line-height:20px;">문의 신청 내역은 [ MYPAGE > 활동정보 > 1:1문의 ] 에서 확인하실 수 있습니다.</td>
				</tr>
				<tr><td height="35"></td></tr>
				<tr>
					<td align="center">
						<table width="760" align="center" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td height="44" align="left" bgcolor="f1f1f1" style="padding-left:10px;color:#111;font-family:'돋움',dotum,sans-serif;font-size:12px;">문의유형 : <span style="color:#888;font-size:13px;">{head_title}</span></td>
								<td width="150" height="44" align="right" bgcolor="f1f1f1" style="padding-right:20px;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;box-sizing:border-box;">처리상태 : 답변완료</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="2" bgcolor="000000"></td>
				<tr><td height="20"></td></tr>
				<tr>
					<td align="center">
						<table width="760" align="center" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="71" align="center" valign="top"><img src="{C.SHOPURL}/jayjun/web/static/img/mail/icon_inquiry_q.gif" alt="Q" title="Q" border="0"></td>
								<td align="left" valign="top" style="padding-top:5px;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;">
									<span style="font-weight:700;text-decoration:underline;">{subject}</span>
									<div style="margin-top:15px;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;line-height:20px;">{content}</div>
								</td>
								<td width="98" align="center" valign="top" style="padding-top:5px;color:#888;font-family:'돋움',dotum,sans-serif;font-size:12px;">{date}</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="20"></td></tr>
				<tr><td height="1" bgcolor="e5e5e5"></td>
				<tr><td height="20"></td></tr>
				<tr>
					<td align="center">
						<table width="760" align="center" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="71" align="center" valign="top"><img src="{C.SHOPURL}/jayjun/web/static/img/mail/icon_inquiry_a.gif" alt="A" title="A" border="0"></td>
								<td align="left" valign="top" style="padding-top:5px;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;">
									<span style="font-weight:700;">관리자 ({re_date})</span>
									<div style="margin-top:15px;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;line-height:20px;">{re_content}</div>
								</td>
								<td width="98"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="20"></td></tr>
				<tr><td height="1" bgcolor="e5e5e5"></td>

				<tr><td height="50"></td></tr>
				<tr>
					<td align="center">
						<table width="200" cellpadding="0" cellspacing="0" border="0" align="center">
							<tr>
								<td height="46" align="center" bgcolor="000000"><a href="{url}" target="_blank" style="display:block;width:100%;height:46px;color:#fff;font-family:'돋움',dotum,sans-serif;font-size:16px;line-height:46px;font-weight:700;text-decoration:none;">문의내역 확인하기</a></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="50"></td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="86" align="center" style="border-top:1px solid #ededed;color:#999;font-family:'돋움',dotum,sans-serif;font-size:12px;line-height:18px;">본 메일은 메일 수신에 동의한 회원에게만 발송되며, 발신전용 메일이므로 회신되지 않습니다.</td>
	</tr>
</table>
<!-- //내용 -->

<!-- 푸터 -->
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr><td height="18"></td></tr>
	<tr>
		<td align="center">
			<table width="800" cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td width="280" align="center" style="color:#b1b1b1;font-family:'돋움',dotum,sans-serif;font-size:11px;line-height:18px;"><img src="{C.SHOPURL}/jayjun/web/static/img/mail/ft_logo.png" alt="i KNOW iONE"></td>
					<td align="left" style="color:#b1b1b1;font-family:'돋움',dotum,sans-serif;font-size:11px;line-height:18px;"><strong>CS CENTER</strong> 080 881 2001 &nbsp;<strong>TEL</strong> 02 2193 9513 &nbsp;<strong>FAX</strong> 02 2193 9595<br>서울특별시 강남구 논현로 526 &nbsp;<strong>대표자</strong> 이진형 &nbsp;<strong>사업자번호</strong> 222-85-12156</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr><td height="34"></td></tr>
</table>
<!-- //푸터 -->

		</td>
	</tr>
</table>
</div>


</body>
</html>