<!DOCTYPE html PUBtdC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8;IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>i KNOW iONE을 이용해주셔서 감사합니다</title>
</head>
<body bgcolor="f8f8f8" style="background-color:#f8f8f8;">
<style type="text/css">
body {padding:0px; margin:0px;}
a , a:link , a:visited , a:active , a:hover , img {text-decoration:none; outline:0;border:none;}
</style>
<div align="center" style="width:100%;min-height:100%;background-color:#f8f8f8;">
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center" style="width:800px;margin:0 auto;color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;">
	<tr>
		<td align="center">

<!-- 로고 -->
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td height="80" align="center"><a href="" target="_blank"><img src="{C.SHOPURL}/jayjun/web/static/img/mail/h1_logo.png" border="0" title="i KNOW iONE" alt="i KNOW iONE"></a></td>
	</tr>
</table>
<!-- //로고 -->

<!-- 내용 -->
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="ffffff" style="border:1px solid #ebebeb;border-collapse:collapse;">
	<tr>
		<td height="20"></td>
	</tr>
	<tr>
		<td align="center">
			<table width="760" cellpadding="0" cellspacing="0" border="0" align="center">
				<!-- 제목 -->
				<tr>
					<td height="90" align="center" bgcolor="000000" style="color:#fff;font-family:'돋움',dotum,sans-serif;font-size:20px;">i KNOW iONE을 이용해주셔서 감사합니다</td>
				</tr>
				<!-- //제목 -->

				<tr><td height="40"></td></tr>
				<tr>
					<td align="center">
						<table width="560" cellpadding="0" cellspacing="0" border="0" align="center">
							<tr>
								<td height="180" align="center" bgcolor="f1f1f1" style="font-family:'돋움',dotum,sans-serif;font-size:12px;">
									<span style="color:#111;font-size:16px;font-weight:700;">ID : {=format(id,'id')}</span>
									<div style="margin-top:15px;color:#888;font-family:'돋움',dotum,sans-serif;">회원탈퇴일 : {date}</div>
									<div style="margin-top:35px;color:#555;font-family:'돋움',dotum,sans-serif;line-height:24px;"><strong style="color:#000;">{name}</strong> 고객님, 그 동안 i KNOW iONE을 이용해 주셔서 진심으로 감사드리며 <br>앞으로도 관심있게 지켜봐 주시기 바랍니다.</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="35"></td></tr>
				<tr>
					<td align="left" style="color:#555;font-family:'돋움',dotum,sans-serif;font-size:12px;line-height:20px;">
						∙ i KNOW iONE 쇼핑몰에서 발급한 쿠폰 혜택은 모두 소멸됩니다.<br>
						∙ 거래 정보 관리를 위해서 회원ID, 상품정보, 거래내역 등의 기본정보는 5년간 보관되며 회원 탈퇴 후 90일간 재가입이 불가합니다.<br>
						∙ 재가입 시 기존 아이디 사용이 불가하며, 신규회원 가입으로 처리되므로 개인정보가 복원되지 않습니다.
					</td>
				</tr>
				<tr><td height="35"></td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="86" align="center" style="border-top:1px solid #ededed;color:#999;font-family:'돋움',dotum,sans-serif;font-size:12px;line-height:18px;">본 메일은 메일 수신에 동의한 회원에게만 발송되며, 발신전용 메일이므로 회신되지 않습니다.</td>
	</tr>
</table>
<!-- //내용 -->

<!-- 푸터 -->
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr><td height="18"></td></tr>
	<tr>
		<td align="center">
			<table width="800" cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td width="280" align="center" style="color:#b1b1b1;font-family:'돋움',dotum,sans-serif;font-size:11px;line-height:18px;"><img src="{C.SHOPURL}/jayjun/web/static/img/mail/ft_logo.png" alt="i KNOW iONE"></td>
					<td align="left" style="color:#b1b1b1;font-family:'돋움',dotum,sans-serif;font-size:11px;line-height:18px;"><strong>CS CENTER</strong> 080 881 2001 &nbsp;<strong>TEL</strong> 02 2193 9513 &nbsp;<strong>FAX</strong> 02 2193 9595<br>서울특별시 강남구 논현로 526 &nbsp;<strong>대표자</strong> 이진형 &nbsp;<strong>사업자번호</strong> 222-85-12156</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr><td height="34"></td></tr>
</table>
<!-- //푸터 -->

		</td>
	</tr>
</table>
</div>


</body>
</html>