<div class="content-wrap">
	<div class="title_depth3">전체 주문 조회<span>입금일별, 배송일자별, 주문일자별 주문현황 및 주문내역을 확인/처리하실 수 있습니다.</span></div>

	<div class=" m-t-20">
		<!--{* 검색폼:S *}-->
		<form id="FrmOrderSearch">
		<input type="hidden" name="sort" value="reg_desc">
		<input type="hidden" name="limit" value="20">
		<table class="tbl-search">
			<colgroup>
				<col style="width:150px">
				<col>
				<col style="width:150px">
				<col>
			</colgroup>
			<tr>
				<th>
					<span>검색어</span>
				</th>
				<td colspan="3">
					<select name="sf" class="select" style="height:32px;vertical-align:middle;">
						<option value="ob.order_num">주문번호</option>
						<option value="" disabled style="background-color:#ddd;color:#000;font-weight:700">주문자 정보</option>
						<option value="ob.buyer_name">주문자명</option>
						<option value="ob.member_id">주문자ID</option>
						<option value="ob.buyer_mobile">주문자 휴대폰번호</option>
						<option value="ob.buyer_ip">주문자IP</option>
						<option value="" disabled style="background-color:#ddd;color:#000;font-weight:700">받는사람 정보</option>
						<option value="ob.receiver_name">받는사람 이름</option>
						<option value="ob.receiver_mobile">수령자휴대폰번호</option>
						<option value="ob.receiver_addr">배송지주소</option>
					</select>
					<textarea class="w500" name="sv" id="search" style="vertical-align:middle;height:32px;box-sizing:border-box"></textarea>
				</td>
			</tr>

			<tr>
				<th>
					<span>기간선택</span>
				</th>
				<td colspan="3">
					<select name="date_field" class="select">
						<option value="date_order_1">주문일</option>
						<option value="date_order_2">결제완료일</option>
						<option value="date_order_4">배송중처리일</option>
						<option value="date_order_5">배송완료일</option>
					</select>
					<input class="input datepicker calendar" type="text" name="date_s" value="" readonly /> ~
					<input class="input datepicker calendar" type="text" name="date_e" value="" readonly />
				</td>
			</tr>

			<tr>
				<th>
					<span>상품</span>
				</th>
				<td>
					<select name="product_field" class="select">
						<option value="productname">상품명</option>
						<option value="productcode">상품코드</option>
					</select>
					<input type="text" name="product_value" value=""  class="w200">
				</td>
				<th>
					<span>상품유형</span>
				</th>
				<td>
					<label><input type="checkbox" name="pr_type[]" value="all" class="hj" data-reverse="pr_type[]" checked><span class="lbl">전체</span></label>
					<label><input type="checkbox" name="pr_type[]" value="1" class="hj"><span class="lbl">일반상품</span></label>
					<label><input type="checkbox" name="pr_type[]" value="3" class="hj"><span class="lbl">임직원상품</span></label>
					<label><input type="checkbox" name="pr_type[]" value="2" class="hj"><span class="lbl">바로구매상품</span></label>
				</td>
			</tr>
			<tr>
				<th>
					<span>주문상태</span>
				</th>
				<td colspan="3">
					<label><input type="checkbox" name="step[]" value="all" class="hj" data-reverse="step[]" checked><span class="lbl">전체</span></label>
					<label><input type="checkbox" class='hj' name="step[]" value="100"><span class="lbl">입금대기중</span></label>
					<label><input type="checkbox" class='hj' name="step[]" value="200','2E0"><span class="lbl">결제완료</span></label>
					<label><input type="checkbox" class='hj' name="step[]" value="300','3E0"><span class="lbl">배송준비중</span></label>
					<label><input type="checkbox" class='hj' name="step[]" value="400','4E0"><span class="lbl">배송중</span></label>
					<label><input type="checkbox" class='hj' name="step[]" value="500','5E0"><span class="lbl">배송완료</span></label>
					<label><input type="checkbox" class='hj' name="step[]" value="600','6E0"><span class="lbl">구매확정</span></label>
					
					<div class="m-t-10" style="margin-left:64px">
						<label><input type="checkbox" class='hj' name="step[]" value="1C1','2C1"><span class="lbl">취소신청</span></label>
						<label><input type="checkbox" class='hj' name="step[]" value="1C2','2C2"><span class="lbl">취소접수</span></label>
						<label><input type="checkbox" class='hj' name="step[]" value="1C3','2C3"><span class="lbl">취소처리중</span></label>
						<label><input type="checkbox" class='hj' name="step[]" value="1C4','2C4"><span class="lbl">취소완료</span></label>
					</div>
					
					<div class="m-t-10" style="margin-left:64px">
						<label><input type="checkbox" class='hj' name="step[]" value="4R1','5R1"><span class="lbl">반품신청</span></label>
						<label><input type="checkbox" class='hj' name="step[]" value="4R2','5R2"><span class="lbl">반품접수</span></label>
						<!-- <label><input type="checkbox" class='hj' name="step[]" value="4R1','5R1"><span class="lbl">반품철회</span></label> -->
						<!-- <label><input type="checkbox" class='hj' name="step[]" value="4R1','5R1"><span class="lbl">반품제품도착</span></label> -->
						<!-- <label><input type="checkbox" class='hj' name="step[]" value="4R1','5R1"><span class="lbl">반품보류</span></label> -->
						<label><input type="checkbox" class='hj' name="step[]" value="4R3','5R3"><span class="lbl">반품진행중</span></label>
						<label><input type="checkbox" class='hj' name="step[]" value="4R4','5R4"><span class="lbl">반품완료</span></label>
					</div>
					<div class="m-t-10" style="margin-left:64px">
						<label><input type="checkbox" class='hj' name="step[]" value="4E1','5E1"><span class="lbl">교환신청</span></label>
						<label><input type="checkbox" class='hj' name="step[]" value="4E2','5E2"><span class="lbl">교환접수</span></label>
						<label><input type="checkbox" class='hj' name="step[]" value="4E3','5E3"><span class="lbl">교환진행중</span></label>
						<!-- <label><input type="checkbox" class='hj' name="order_status[]" value="1"><span class="lbl">교환철회</span></label> -->
						<!-- <label><input type="checkbox" class='hj' name="order_status[]" value="1"><span class="lbl">교환제품도착</span></label> -->
						<!-- <label><input type="checkbox" class='hj' name="order_status[]" value="1"><span class="lbl">교환보류</span></label> -->
						<!-- <label><input type="checkbox" class='hj' name="step[]" value="4E','5E1"><span class="lbl">교환승인</span></label> -->
						<label><input type="checkbox" class='hj' name="step[]" value="4E4','5E4"><span class="lbl">교환완료</span></label>
					</div>
					<!---->
				</td>
			</tr>
			<!--{*
			<tr>
				<th>
					<span>CS구분</span>
				</th>
				<td>
					<label><input type="checkbox" name="cs_type[]" value="all" checked class="hj" data-reverse="cs_type[]"><span class="lbl">전체</span></label>
					<label><input type="checkbox" name="cs_type[]" value="C" class="hj"><span class="lbl">취소</span></label>
					<label><input type="checkbox" name="cs_type[]" value="E" class="hj"><span class="lbl">교환</span></label>
					<label><input type="checkbox" name="cs_type[]" value="R" class="hj"><span class="lbl">반품</span></label>
				</td>
			
				<th><span>CS처리상태</span></th>
				<td>
					<label><input type="checkbox" name="cs_status[]" class="hj" value="all" checked data-reverse="cs_status[]"><span class="lbl">전체</span></label>
					<label><input type="checkbox" name="cs_status[]" class="hj" value="1"><span class="lbl">신청</span></label>
					<label><input type="checkbox" name="cs_status[]" class="hj" value="2"><span class="lbl">접수</span></label>
					<label><input type="checkbox" name="cs_status[]" class="hj" value="3"><span class="lbl">처리중</span></label>
					<label><input type="checkbox" name="cs_status[]" class="hj" value="4"><span class="lbl">완료</span></label>

					<select name="cs_flag" id="" >
						<option value="">== 상태 == </option>
						<option value="WD">철회</option>
						<option value="WD">보류</option>
						<option value="WD">제품도착</option>
						<option value="WD">승인</option>
						<option value="WD">환불접수</option>
						<option value="WD">환불완료</option>
					</select>
				</td>
			</tr>
			*}-->

			<tr>
				<th>
					<span>결제방법</span>
				</th>
				<td>
					<label><input type="checkbox" class='hj' name="pg_paymethod[]" value="all" checked data-reverse="pg_paymethod[]"><span class="lbl">전체</span></label>
					<label><input type="checkbox" class='hj' name="pg_paymethod[]" value="card"><span class="lbl">카드결제</span></label>
					<label><input type="checkbox" class='hj' name="pg_paymethod[]" value="acnt"><span class="lbl">실시간계좌이체</span></label>
					<label><input type="checkbox" class='hj' name="pg_paymethod[]" value="vcnt"><span class="lbl">가상계좌</span></label>
				</td>
				<th>
					<span>주문금액</span>
				</th>
				<td>
					<input type="text" class="w100" name="pay_total_s"> 원 ~ <input type="text" class="w100" name="pay_total_e"> 원
				</td>
			</tr>

			<tr>
				<th>
					<span>유입경로</span>
				</th>
				<td>
					<label><input type="radio" class='hj' name="buyer_viewport" value="all" checked><span class="lbl">전체</span></label>
					<label><input type="radio" class='hj' name="buyer_viewport" value="PC"><span class="lbl">PC</span></label>
					<label><input type="radio" class='hj' name="buyer_viewport" value="MOBILE"><span class="lbl">MOBILE</span></label>
				</td>
				<th>회원구분</th>
				<td>
					<label><input type="radio" name="is_member" value="all" class="hj" checked><span class="lbl">전체</span></label>
					<label><input type="radio" name="is_member" value="Y"" class="hj" ><span class="lbl">회원</span></label>
					<label><input type="radio" name="is_member" value="N" class="hj" ><span class="lbl">비회원</span></label>
				</td>
			</tr>

		</table>

		<div class="ta_c mt_20">
			<button type="button" class="btn-point" onclick="OrderList.search()">조회</button>
			<button type="button" class="btn-basic" onclick="OrderList.searchReset()">초기화</button>
		</div>
		</form>
		<!--{* 검색폼:E *}-->

	</div>

	<!--{* 상단툴:S *}-->
	<div class="tools mb_10">
		<div class="pull-left">
			<img src="/admin/images/icon_8a.gif" border="0"> 전체
			<span id="count_total"></span>건 조회
			<button type="button" class="btn-basic dark h-x-small" onclick="OrderList.excel()" style="vertical-align:middle">엑셀 다운로드</button>
		</div>
		<div class="pull-right">
			<select name="sort" onchange="OrderList.search('sort',this.value)">
				<option value="reg_desc">주문일 ↓</option>
				<option value="reg_asc">주문일 ↑</option>
			</select>
			<select name="listnum_select" onchange="OrderList.search('limit',this.value)">
				{@ __CONFIG.limit}
				<option value="{.value_}">{.value_}개씩 보기</option>
				{/}
			</select>
		</div>
	</div>
	<!--{* 상단툴:E *}-->


	<!--{* 목록:S *}-->
	<div id="inner"></div>
	<!--{* 목록:E *}-->

</div>
<textarea id="searched" style="display:none">{searched}</textarea>
<form id="FrmExcel" name="FrmExcel" action="/admin/proc/excel.proc.php" method="POST">
	<input type="hidden" name="mode" value="order">
	<input type="hidden" name="search" value="">
</form>

<script type="text/javascript">
var OrderList = {
	page: 1,
	proc_url: '/admin/proc/order.proc.php',
	init: function() {
		var me = this;
		$('.datepicker').datepicker();
		me.load(1);
		UI.reverseCheck();
	},
	search: function (field, value) {
		if (field && value) $('#FrmOrderSearch').find('[name="' + field + '"]').val(value);
		this.load(1);
	},
	searchReset: function () {
		$('#FrmOrderSearch')[0].reset();
		$('[data-reverse]').prop('checked',true);
		this.load(1);
	},
	load: function (page) {
	    UI.ing('데이터를 불러오는 중입니다...');
		var p = page || OrderList.page;
		var search = $('#FrmOrderSearch').serialize();

		$('#inner').load('/admin/order/order_list_all.inner.php', {
				page: p,
				search: search
			},
			function () {
				OrderList.page = p;
				UI.toggleCheck();
				UI.ing();
				$('[data-toggle="tooltip"]').tooltip();
			}
		);
	},
    excel: function () {
        var search = $('#searched').val();
        UI.modal('/admin/common/excel.php', '엑셀다운로드', {
            type:'order_all',
            search: search
        }, 800);
    }
}
$(function() {
	OrderList.init();
});
</script>