<form id="FrmReturn" onsubmit="return false">
	<input type="hidden" name="mode" value="return" />
	<input type="hidden" name="act" value="each">
	<!-- <input type="hidden" name="product_idx" value='{checked}' /> -->
	<input type="hidden" name="order_num" value="{basic.order_num}">
	<!--{* 환불신청폼:S *}-->
	<div class="inc-tit-sub">반품사유</div>
	<table class="tbl-form">
		<colgroup>
			<col style="width:300px">
			<col>
		</colgroup>
		<thead>
			<th class="text-center">상품명/옵션</th>
			<th class="text-center">반품사유</th>
		</thead>
		<tbody>
			{@ product}
			<tr>
				<td>{.productname} <span class="text-muted">{.option.option_name}</span></td>
				<td class="text-left">
					<select name="product[reason][{.key_}]"  class="select validate[required]" data-errormessage-value-missing="반품사유를 선택하세요"> 
						<option value="">== 반품사유선택 ==</option>
						<option value="관리자 임의 반품|seller">관리자 임의 반품</option>
						{@ (__CONFIG.return_reason)}
						<option value="{..text}|{..charger}">{..text}</option>
						{/}
						<option value="etc">기타</option>
					</select>
					
					<input type="text" name="product[reason_etc][{.key_}]" class="" style="width:400px" placeholder="반품상세사유를 입력하세요."/>
					<input type="hidden" name="product[idx][{.key_}]" value="{.key_}" />
				</td>
			</tr>
			{/}
		</tbody>
	</table>
	<table class="tbl-form m-t-5">
		<colgroup>
			<col style="width:120px">
			<col>
		</colgroup>
		<tr>
			<th>관리메모</th>
			<td>
				<textarea name="memo"  rows="2" class="textarea w-100"></textarea>
			</td>
		</tr>
	</table>

	<!--{* 결제정보:S *}-->
	<div class="inc-tit-sub">결제정보 및 반품상품 금액</div>
	<table class="tbl-form">
		<colgroup>
			<col style="width:120px">
			<col>
			<col style="width:120px">
			<col>
		</colgroup>
		<tr>
			<th>결제수단</th>
			<td colspan="3">
				{basic.pg_paymethod_txt}{? payment.escrow_yn=='Y'}(에스크로){/} {? basic.use_mileage>0}+ 마일리지{/} {? basic.use_point>0}+ 포인트{/}
			</td>
		</tr>
		<tr>
			<th>반품상품 총액</th>
			<td>
				{=number_format(return.product)} 원
			</td>
			<th>배송비</th>
			<td>
				<span style="width:200px;display:inline-block" id="pay_delivery_txt">{=number_format(basic.pay_delivery_end)} 원</span>
				<input type="hidden" name="pay_delivery" id="pay_delivery" value="{basic.pay_delivery}">
				<input type="hidden" name="pay_delivery_discount" id="pay_delivery_discount" value="{basic.coupon_delivery_discount}" data-calc="minus">
			</td>
		</tr>
	</table>
	<!--{* 결제정보:E *}-->


	<!--{* 사은품정보:S *}-->
	{? gift}
	<div class="inc-tit-sub">사은품처리 </div>
	<table class="tbl-form tbl-center">
		<colgroup>
			<col style="width:50px"> <!-- 번호 -->
			<col style="width:100px"> <!-- 사은품코드 -->
			<col> <!-- 사은품명 -->
			<col style="width:250px"> <!-- 지급기준 -->
			<col style="width:100px"> <!-- 배송상태 -->
			<col style="width:100px"> <!-- 사은품회수 -->
		</colgroup>
		<thead>
			
			<th>번호</th>
			<th>사은품코드</th>
			<th>사은품명</th>
			<th>지급기준</th>
			<th>배송상태</th>
			<th>사은품회수 <i class="fa fa-question-circle" data-toggle="tooltip" title="미배송인경우 배송취소, 배송완료인경우 회수요청을 접수합니다." ></i></th>
		</thead>
		<tbody>
			{@ gift}
			<tr>
				<td class="p-3">{.index_+1}</td>
				<td>{.gift_info.giftcode}</td>
				<td class="p-l-10 ta_l">{.gift_info.giftname}</td>
				<td>{=number_format(.gift_info.price_s)}원 이상 ~ {=number_format(.gift_info.price_e)}원 미만</td>
				<td>
					배송대기
				</td>
				<td><input type="checkbox" class="hj" data-all="checked_gift[{.idx}]" name="gift[]" value="{.idx}"><span class="lbl"></span></td>
			</tr>
			{/}
		</tbody>
	</table>
	{/}

	<!--{* 사은품정보:E *}-->

	


	<!--{* 반품상품 수거정보:S *}-->
	<div class="row" >
		<div class="col-6">
			<div class="inc-tit-sub ta-l">배송지정보</div>
			<div>
				<table class="tbl-form">
					<colgroup>
						<col style="width:120px">
						<col>
					</colgroup>
					<tr>
						<th>받는사람 이름</th>
						<td>{basic.receiver_name}</td>
					</tr>
					<tr>
						<th>주소</th>
						<td>
							<div>{basic.receiver_zipcode}</div>
							<div>{basic.receiver_addr} {basic.receiver_addr_detail}</div>
							
						</td>

					</tr>
					<tr>
						<th>휴대전화</th>
						<td>
							{basic.receiver_mobile}
						</td>
					</tr>
					<tr>
						<th>전화번호</th>
						<td>
							{basic.receiver_tel}
						</td>
					</tr>
					<tr>
						<th>배송메모</th>
						<td>
							{basic.receiver_memo}
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="col-6 ta-l">
			<div class="inc-tit-sub">반품수거지 정보
				<div class="right">
					<label class="s"><input type="checkbox" id="address_sync" class="hj"> <span class="lbl"> 배송지정보와 동일</span></label>
				</div>
			</div>
			<div>
				<table class="tbl-form">
					<colgroup>
						<col style="width:120px">
						<col>
					</colgroup>
					<tr>
						<th>보내는 이름</th>
						<td><input type="text" name="receiver_name" value="{basic.receiver_name}" class="validate[required]" data-errormessage-value-missing="받는사람명을 입력하세요." data-receiver="{basic.receiver_name}"></td>
					</tr>
					<tr>
						<th rowspan="2">주소</th>
						<td>
							<input type="text" name="receiver_zipcode" id="receiver_zipcode" data-post="zonecode" value="{basic.receiver_zipcode}" class="w80 validate[required]" data-errormessage-value-missing="주소를 입력하세요." data-receiver="{basic.receiver_zipcode}"> <button type="button" class="btn btn-form" onclick="ReturnForm.post();">우편번호찾기</button> <input type="text" name="receiver_addr" data-post="address" id="receiver_addr" value="{basic.receiver_addr}" class="mt-1 w-100 validate[required]" data-errormessage-value-missing="주소를 입력하세요." data-receiver="{basic.receiver_addr}">
						</td>

					</tr>
					<tr>
						<td>
							<input type="text" name="receiver_addr_detail" id="receiver_addr_detail" data-post="buildingName" value="{basic.receiver_addr_detail}" class="w-100 validate[required]" data-errormessage-value-missing="상세주소를 입력하세요." data-receiver="{basic.receiver_addr_detail}">
						</td>
					</tr>
					<tr>
						<th>휴대전화</th>
						<td>
							<select name="receiver_mobile[]" id="receiver_mobile" style="width:60px" data-receiver="{basic.receiver_mobile_arr[0]}">
								{@ _arrMobile}
								<option value="{.value_}" {? .value_==basic.receiver_mobile_arr[0]}selected{/}>{.value_}</option>
								{/}
							</select> - <input type="text" name="receiver_mobile[]" maxlength="4" value="{basic.receiver_mobile_arr[1]}" class="w80 validate[required,minSize[3]]" data-errormessage-value-missing="휴대전화을 입력하세요." data-receiver="{basic.receiver_mobile_arr[1]}"> - <input type="text" name="receiver_mobile[]"  maxlength="4" value="{basic.receiver_mobile_arr[2]}" class="w80 validate[required,minSize[3]]" data-errormessage-value-missing="휴대전화을 입력하세요." data-receiver="{basic.receiver_mobile_arr[2]}">
						</td>
					</tr>
					<tr>
						<th>전화번호</th>
						<td>
							<select name="receiver_tel[]" id="receiver_tel" style="width:60px" data-receiver="{basic.receiver_tel_arr[0]}">
								<option value="">선택</option>
								{@ _arrTel}
								<option value="{.value_}" {? .value_== basic.receiver_tel_arr[0]}selected{/}>{.value_}</option>
								{/}
							</select> - <input type="text" name="receiver_tel[]" class="w80" maxlength="4" value="{basic.receiver_tel_arr[1]}" data-receiver="{basic.receiver_tel_arr[1]}"> - <input type="text" name="receiver_tel[]" class="w80" maxlength="4" value="{basic.receiver_tel_arr[2]}" data-receiver="{basic.receiver_tel_arr[2]}">
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
		

	<div class="text-center m-t-20 m-b-50">
		<button type="submit" class="btn-basic dark">반품접수</button>
	</div>
	</form>

	<div id="cancel_form"></div>
	

	
	<script type="text/javascript">
	var ReturnForm = {
		changed:false,
		init: function() {
			var me = this;
			var option = $.extend({}, validation_option, {
				validateNonVisibleFields: false,
				onValidationComplete: function (form, status) {
					if (status) me.return(form);
				}
			});
			$("#FrmReturn").validationEngine('attach',option);
	
			$('[name^="product[reason]["]').on('change', function() {
				if(me.changed) return false;
				$('[name^="product[reason]["]').val(this.value);
				me.changed = true;
			})
			
			//숫자체크
			$('[data-filter="numeric"], [data-filter="price"]').on('keydown.row input.row', function (evt) {
				var v = $(this).val();
				v = v.replace(/[^0-9]/g, '');
				v = v.replace(/^0+(?!$)/, '');
	
				var filter = $(this).data('filter');
				if (filter == 'price') v = UI.numberFormat(v);
				$(this).val(v);
			});

			//반품수거지정보
			$('#address_sync').on('click', function() {
				if(this.checked) {
					$('[data-receiver]').each(function() {
						var v = $(this).data('receiver');
						if(!v) return true;
						$(this).val(v);
					})
				}
			})

			me.setUI();
			
			$('[data-toggle="tooltip"]').tooltip();
		},
		post: function() {
			var me = this;
			new daum.Postcode({
				oncomplete: function (data) {
					$.each(data, function (i, e) {
						$('input[data-post="' + i + '"]').val(e);
					});
				}
			}).open();
		},
		return: function() {

			UI.confirm('반품접수하시겠습니까?', function() {
				var formdata = $('#FrmReturn').serialize();
				$.ajax({
					url:'/admin/proc/order.proc.php',
					data:formdata,
					dataType:'json',
					type:'POST',
					success: function(r) {
						if(r.success) {
							UI.alert(r.msg, function() {
								opener.location.reload();
								window.close();
							})
						}
						else {
							UI.error(r.msg);
						}
					}
				})
			})
		},
		setUI: function () {
			$('[data-cond]').each(function (i, e) {
				var cond = $(e).data('cond');
				var child = $(e).data('condChild');

				$('[name="' + cond + '"]').on('click, change', function () {
					$(e).addClass('hide');
					$(e).filter('[data-cond-value~="' + this.value + '"]').removeClass('hide');

					if(child) {
						$('[data-cond="'+child+'"]').addClass('hide');
						
						var child_el = $('[name="'+child+'"]');
						if(!child_el.is(':visible')) return false;

						switch(child_el.prop('tagName')) {
							case 'SELECT':
								child_el.trigger('change');
								break;
							default:
								child_el.trigger('click')
								break;
						}
					}
				});
				ReturnForm.calc();
			});

			
		},
	}
	
	$(function() {
		ReturnForm.init();
	})
	</script>
	
	