
<footer id="footer">
  <div class="inner-wrap">
    <ul class="nav">
      <li><a href="#">회사소개</a></li>
      <li><a href="#">서비스이용약관</a></li>
      <li><a href="#"><strong>개인정보처리방침</strong></a></li>
      <li><a href="#">이용안내</a></li>
      <li><a href="#">이벤트</a></li>
      <li><a href="#">채용공고</a></li>
    </ul>
    <ul class="info clear">
      <li class="customer">
        <h4>CUSTOMER CENTER</h4>
        <div class="mb-15">
          <img src="../../../jayjun/web/static/img/icon/icon_phone.jpg" alt="폰 아이콘">
          <strong class="phone">02-905-2201</strong>
        </div>
        <p><strong>상담시간</strong> : 10:00 ~ 18:30</p>
        <p>토/일요일, 공휴일 휴무</p>
      </li>
      <li class="banking">
        <h4>BANKING INFO</h4>
        <div class="mb-10">
          <label>국민은행</label>
          <span>501601-01-187439</span>
        </div>
        <div class="mb-30">
          <label>예금주</label>
          <span>(주)네츄럴원</span>
        </div>
        <h4>PARTNERSHIP</h4>
        <div>
          <p><strong>마케팅 / 온라인 / 오프라인 제휴</strong></p>
          <p><a href="#">lohacell_cp@lohacell.com</a></p>
        </div>
      </li>
      <li class="shopping">
        <h4>SHOPPING GUIDE</h4>
        <ul class="links clear">
          <li>
            <a href="#">
              <img src="../../../jayjun/web/static/img/icon/icon_shopping_guide01.jpg" alt="문의하기 아이콘">
              <div class="text-wrap">
                <p><strong>Q&A</strong></p>
                <p>문의하기</p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../../jayjun/web/static/img/icon/icon_shopping_guide02.jpg" alt="공지사항 아이콘">
              <div class="text-wrap">
                <p><strong>NEWS</strong></p>
                <p>공지사항</p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../../jayjun/web/static/img/icon/icon_shopping_guide03.jpg" alt="고객후기 아이콘">
              <div class="text-wrap">
                <p><strong>REVIEW</strong></p>
                <p>고객후기</p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../../jayjun/web/static/img/icon/icon_shopping_guide04.jpg" alt="배송조회 아이콘">
              <div class="text-wrap">
                <p><strong>ORDER</strong></p>
                <p>배송조회</p>
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li class="return">
        <h4>RETURN & EXCHANGEO</h4>
        <div class="clear">
          <p class="label">반품지주소</p>
          <div class="text-wrap">
            <p class="mb-15">서울특별시 도봉구 방학로 3길 6 B2F 로하셀 물류센터</p>
            <div>
              <p class="mb-10"><strong>[CJ대한통운택배이용]</strong></p>
              <div>
                <a href="#"><img src="../../../jayjun/web/static/img/icon/icon_facebook.gif" alt="페이스북 링크"></a>
                <a href="#"><img src="../../../jayjun/web/static/img/icon/icon_insta.gif" alt="인스타그램 링크"></a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="company">
      상호 : 주식회사 네츄럴원 | 대표 : 손완영 | 대표전화 : 02-905-2201 | 팩스 : 02-943-0878<br>
      주소 : 서울특별시 도봉구 방학로 3길 6, 4층 404호 (방학동, SYO빌딩) | 반품지주소 : 서울특별시 도봉구 방학로 3길 6 B2F 로하셀 물류센터 [CJ대한통운택배이용]<br>
      사업자등록번호 : 217-81-45827 <a href="#">(확인)</a> | 통신판매업신고 : 제 2015-서울도봉-0071호 | 화장품판매업 : 제 5390호 | 정보책임자 : 박기환 | 메일 :
      <a href="#">lohacellcs@lohacell.com</a>
    </div>
    <div class="copyright clear">
      <div class="left">
        <p class="text01">copyright (c) Naturalone corp. all rights reserved.</p>
        <p class="text02">
          (주)네츄럴원 홈페이지 내의 모든 콘텐츠에 대한 저작권은 (주)네츄럴원에 있습니다.<br>
          유사한 콘텐츠를 만들거나 기획내용을 무단 도용 할 경우 법적인 처벌을 받습니다.
        </p>
      </div>
      <div class="right">
        <ul class="clear">
          <li>
            <a href="#">
              <img src="../../../jayjun/web/static/img/common/bottom_logo01.gif" alt="신용카드 결제">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../../jayjun/web/static/img/common/bottom_logo02.gif" alt="신용카드 결제">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../../jayjun/web/static/img/common/bottom_logo03.gif" alt="신용카드 결제">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../../jayjun/web/static/img/common/bottom_logo04.gif" alt="신용카드 결제">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>










































