
<style>
.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}
</style>
<div class="layer-content js-scroll">
	<div class="ptreview_view">
		{? review_detail.image}
		<div class="img with-direction">

			<div class="swiper-container">
				<div class="swiper-wrapper">
					{@ review_detail.image}
					<div class="swiper-slide"><img src="{.value_}" alt="리뷰이미지" style="width:100%"></div>
					{/}
				</div>
				<div class="ptreview-prev"><a>PREV</a></div>
    			<div class="ptreview-next"><a>NEXT</a></div>
			</div>
		</div>
		{/}
		<div class="con">
			<div class="user clear">
				<div class="score">
					<img src="/jayjun/web/static/img/icon/rating_score{review_detail.marks}.png" alt="5점 만점중 {review_detail.marks}점">
					<div class="writer">{=format(review_detail.id,'id')}<span></span> {=format(review_detail.date,'Y.m.d')}</div>
				</div>
				{? C.MEMID == review_detail.id }
				<div class="function-btn">
					<!--button class="btn-point h-small" type="button"><span>수정</span></button-->
					<!--button class="btn-line h-small" type="button"><span>삭제</span></button-->
				</div>
				{/}
			</div>
			<div class="txt">
				<strong>{review_detail.subject}</strong>
				{review_detail.content}
			</div>
			<div class="review-goods-link">
				<div class="thumbnail"><img src="{review_detail.minimage}" alt=""></div>
				<div class="info">
					<div class="copy-main">{review_detail.productname}</div>
					<div class="copy-sub">{review_detail.phrase_ad}</div>
					<div class="copy-sub color">{? review_detail.option_info.color_img}<img src="{review_detail.option_info.color_img}" alt="">{/}{review_detail.option_name}</div>
					<div class="price-link">
						<div class="price">{=format(review_detail.consumerprice,'price')}<span>원</span></div>
						<a href="{url.productdetail}?productcode={review_detail.productcode}" target="_blank" class="btn-point h-small">리뷰상품 보기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- //.layer-content -->



<script type="text/javascript">
    var ReviewDetail = {

        init: function() {
            var me = this;
            $('html,body').css('overflow-y','hidden');

           var swiper = new Swiper('.swiper-container', {
				navigation: {
					nextEl: '.ptreview-next',
					prevEl: '.ptreview-prev',
				},
				spaceBetween: 80
		    });


           /*
           	// 상세 > 포토리뷰보기 팝업 slider
            var ptreviewSlider = $('.ptreview_vi222ew .slider').bxSlider({
                adaptiveHeight: true,
                adaptiveHeightSpeed: 300,
                preloadImages: 'all',
                nextSelector: '.ptreview-next',
                prevSelector: '.ptreview-prev'
            });
            */

          
        },
     }

    $(function() {
        ReviewDetail.init();
    })
</script>