
<div class="review-total">
	<ul class="clear">
		{@ review_list}
		<li>
			<div class="item-wrap">
				{? .best_type =='1'}<div class="icon"><span>BEST</span></div>{/}
				{? .type=='1'}
				<div class="photo" style="background-image:url('{.upfile}');"></div> <!-- [D] 이미지 없는경우 해당 태그 자체가 미출력 요망 -->
				{/}
				<div class="review-ct">
					<div class="goods ellipsis">{.productname}</div>
					<div class="subject ellipsis">{.subject}</div>
					<p>{.content}</p>
				</div>
				<div class="function clear">
					<div class="score"><img src="/jayjun/web/static/img/icon/rating_score{.marks}.png" alt="5점 만점중 5점"></div>
					<a href="javascript:;" class="more" onclick="ReviewList.detailOpen('{.num}');">more+</a>
				</div>
				<div class="writer-info clear">
					<div class="writer">{=format(.id,'id')}</div>
					<div class="date">{=format(.date,'Y-m-d')}</div>
				</div>
			</div>
		</li>
		{:}
		<li class="no-data">검색결과가 없습니다.</li>
		{/}
	</ul>
</div>
<p class="att">※ 리뷰 게시판은 제이준코스메틱 쇼핑몰 회원이 구매한 제품에 대한 이용후기를 공유하는 게시판입니다.</p>

{this->xprint('_include/pagination.html')}
<div style="margin-bottom: 50px;"></div>


<script type="text/javascript">

    var ReviewInner = {
		total:'{total}',
        init: function(){
            var me = this;
			$('#total').html(me.total);
        },
    }

    $(function() {
        ReviewInner.init();
    })
</script>


