<style>
	.table_style02 table {
		border-collapse: collapse;
	}

	.table_style02 td,
	.table_style02 th {

		border-collapse: collapse;
		border: solid 1px #ddd;
	}

	.table_style02 tfoot td {
		background-color: #EFEFEF;
	}

	.th-sub {
		background-color: #616161 !important;
	}
</style>
<div class="table_style02 table-hover">
	<table width=100% cellpadding=0 cellspacing=0 border=0 style="table-layout:fixed">
		<colgroup>
			<col style="width:50px" />
			<col />
			<col />
			<col style="width:150px" />
			<col style="width:150px" />
			<col style="width:150px" />
			<col style="width:150px" />

		</colgroup>
		<thead>
			<tr>
				<th>순위</th>
				<th>상품명</th>
				<th>옵션명</th>
				<th>결제수량</th>
				<th>환불수량</th>
				<th>판매수량</th>
				<th>판매합계</th>
			</tr>
		</thead>
		<tbody>
			{@ list}
			<tr>
				<td>{.index_+1}</td>
				<td>{.product_name}</td>
				<td title="{.option_code}">{? .option_code}{.option_name}{:}<span class="text-muted">{.option_name}</span>{/}</td>
				<td>{=number_format(.count_buy)}</td>
				<td>{=number_format(.count_refund)}</td>
				<td>{=number_format(.count_sales)}</td>
				<td>{=number_format(.price)}</td>
			</tr>
			{:}
			<tr>
				<td colspan="12">검색결과가 없습니다.</td>
			</tr>
			{/}

		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">합계</td>
				<td>{=number_format(total.count_buy)}</td>
				<td>{=number_format(total.count_refund)}</td>
				<td>{=number_format(total.count_sales)}</td>
				<td>{=number_format(total.price)}</td>
				
				
			</tr>
		</tfoot>
	</table>
</div>