<style>
	.table_style02 table {
		border-collapse: collapse;
	}

	.table_style02 td,
	.table_style02 th {

		border-collapse: collapse;
		border: solid 1px #ddd;
	}

	.table_style02 tfoot td {
		background-color: #EFEFEF;
	}

	.th-sub {
		background-color: #616161 !important;
	}
</style>
<div class="table_style02 table-hover">
	<table width=100% cellpadding=0 cellspacing=0 border=0 style="table-layout:fixed">
		<colgroup>
			<col style="width:90px" />
			

		</colgroup>
		<thead>
			<tr>
				<th rowspan="2">월</th>
				<th colspan="8">구매</th>
				<th colspan="8">환불</th>
				<th colspan="8">순매출</th>
			</tr>
			<tr>
				<th class="th-sub">주문건수</th>
				<th class="th-sub">주문개수</th>
				<th class="th-sub">상품금액</th>
				<th class="th-sub">쿠폰할인</th>
				<th class="th-sub">포인트</th>
				<th class="th-sub">마일리지</th>
				<th class="th-sub">배송비</th>
				<th class="th-sub">실결제액</th>

				<th class="th-sub">환불건수</th>
				<th class="th-sub">환불개수</th>
				<th class="th-sub">상품금액</th>
				<th class="th-sub">쿠폰할인</th>
				<th class="th-sub">포인트</th>
				<th class="th-sub">마일리지</th>
				<th class="th-sub">배송비</th>
				<th class="th-sub">실결제액</th>

				<th class="th-sub">주문건수</th>
				<th class="th-sub">주문개수</th>
				<th class="th-sub">상품금액</th>
				<th class="th-sub">쿠폰할인</th>
				<th class="th-sub">포인트</th>
				<th class="th-sub">마일리지</th>
				<th class="th-sub">배송비</th>
				<th class="th-sub">실결제액</th>
			</tr>
		</thead>
		<tbody>

			{@ list}
			<tr>
				<td>{.key_}월</td>
				<td>{=number_format(.buy.count_order)}</td>
				<td>{=number_format(.buy.count_product)}</td>
				<td>{=number_format(.buy.product)}</td>
				<td>{=number_format(.buy.coupon)}</td>
				<td>{=number_format(.buy.point)}</td>
				<td>{=number_format(.buy.mileage)}</td>
				<td>{=number_format(.buy.delivery)}</td>
				<td>{=number_format(.buy.pg)}</td>

				<td>{=number_format(.refund.count_order)}</td>
				<td>{=number_format(.refund.count_product)}</td>
				<td>{=number_format(.refund.product)}</td>
				<td>{=number_format(.refund.coupon)}</td>
				<td>{=number_format(.refund.point)}</td>
				<td>{=number_format(.refund.mileage)}</td>
				<td>{=number_format(.refund.delivery)}</td>
				<td>{=number_format(.refund.pg)}</td>

				<td>{=number_format(.sales.count_order)}</td>
				<td>{=number_format(.sales.count_product)}</td>
				<td>{=number_format(.sales.product)}</td>
				<td>{=number_format(.sales.coupon)}</td>
				<td>{=number_format(.sales.point)}</td>
				<td>{=number_format(.sales.mileage)}</td>
				<td>{=number_format(.sales.delivery)}</td>
				<td>{=number_format(.sales.pg)}</td>
			</tr>
			{:}
			<tr>
				<td colspan="19">검색된 주문건수가 없습니다.</td>
			</tr>
			{/}

		</tbody>
		<tfoot>
			<tr>
				<td colspan="1">합계</td>
				{@ total.buy}
				<td>{=number_format(.value_)}</td>
				{/}
				{@ total.refund}
				<td>{=number_format(.value_)}</td>
				{/}
				{@ total.sales}
				<td>{=number_format(.value_)}</td>
				{/}
				
			</tr>
		</tfoot>
	</table>
</div>