<div class="content-wrap">
	<div class="title_depth3">{__NAV.page_tit}</div>


	<div class="m-t-20">
		<form id="FrmSearchArea" onsubmit="return false" autocomplete="off">
			<input type="hidden" name="sort" value="reg_desc">
			<input type="hidden" name="limit" value="20">
			<table class="tbl-search">
				<colgroup>
					<col style="width:150px">
					<col>
					<col style="width:150px">
					<col>
				</colgroup>
				<tr>
					<th>특수지역명</th>
					<td colspan="3">
						<input type="text" name="sv" value="" class="w-100">
					</td>
				</tr>
			</table>

			<div class="ta_c mt_20">
				<button type="button" class="btn-point" onclick="AreaDeli.search()">조회</button>
				<button type="button" class="btn-basic" onclick="AreaDeli.searchReset()">초기화</button>
			</div>

		</form>
	</div>

	<!--{* 목록:S *}-->
	<div id="inner"></div>
	<!--{* 목록:E *}-->

	<div class="area-bottom2 ta_l m-t-20">
		<button type="button" class="btn btn-sm btn-dark " onclick="AreaDeli.remove()"><i class="fa fa-check"></i> 선택삭제</button>
		<span class="bar"></span>
		<button type="button" class="btn btn-sm btn-primary" onclick="AreaDeli.popup()">등록</button>
	</div>
</div>

<!--{* 엑셀다운로드:S  *}-->
<form name="FrmAreaExcel" method="POST" action="/admin/common/excel.download.php">
	<input type="hidden" name="type" value="deli_area">
	<input type="hidden" name="column" value="area_name,deli_price,st_zipcode,en_zipcode">
	<input type="hidden" name="search" value="no={event.idx}">
	<textarea id="searched" name="search" style="display:none">{searched}</textarea>
</form>
<!--{* 엑셀다운로드:S  *}-->

<script type="text/javascript">
var AreaDeli = {
	page:1,
	init: function() {
		var me = this;

		me.load(1);
	},
	search: function (field, value) {
		if (field && value) $('#FrmSearchArea').find('[name="' + field + '"]').val(value);
		this.load(1);
	},
	searchReset: function () {
		$('#FrmSearchArea')[0].reset();
		this.load(1);
	},
	load: function(page) {
		var p = page || AreaDeli.page;
		var search = $('#FrmSearchArea').serialize();

		$('#inner').load('/admin/shop/area_deli.inner.php', {
				page: p,
				search: search
			},
			function () {
				AreaDeli.page = p;
				UI.toggleCheck();
			}
		);
	},
	remove: function(no) {
		if(!no) {
			var checked = UI.getChecked('checked[]');
			if (checked.length < 1) {
				alert("삭제할 항목을 선택하세요.");
				return false;
			}

			var no_arr = checked.map(function(){return this.value; }).get();
			no = no_arr.join(',');
		}

		UI.confirm('삭제하시겠습니까?', function() {
			$.ajax({
				url:'/admin/proc/shop.proc.php',
				data:{
					mode:"area_deli",
					act:"remove",
					no:no
				},
				dataType:'json',
				type:'POST',
				success: function(r){
					if(r.success) {
						AreaDeli.load(1);
					}
					else {
						UI.error(r.msg);
					}
				}
			})
			console.log(no);
		})
	},
	popup: function() {
		window.open("./shop_area_deli_pop.php","areaopop","width=567,height=350,scrollbars=yes");
	},
	excel: function() {
		document.FrmAreaExcel.submit();
	}
}

$(function() {
	AreaDeli.init();
})
</script>