<!-- 쇼핑몰 개인정보 취급방침 -->

<div class="content-wrap">
	<form id="FrmPrivacy">
		<input type="hidden" name="mode" value="agreement">
		<input type="hidden" name="field" value="privacy">
		<table cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td>
					<!-- 페이지 타이틀 -->
					<div class="title_depth3">쇼핑몰 개인정보 처리방침
						<span>개인정보처리방침, 정보책임자 정보를 설정합니다.</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="tab_style1 m-t-20" data-ui="TabMenu">
						<div class="tab-menu clear">
							<a data-content="menu" data-id="privacy" class="active" title="선택됨">쇼핑몰 메인 개인정보 처리방침</a>
							<a data-content="menu" data-id="privacy_buy">회원가입 / 비회원 구매시 개인정보 처리방침</a>
						</div>

						<!-- 쇼핑몰 메인 개인정보 취급방침 -->
						<div class="tab-content active" data-editor="privacy" data-content="content">
							<div>
								<textarea name="privacy" id="privacy" rows=15 wrap=off class="editor" style="width:100%;">{privacy}</textarea>
							</div>
						</div>

						<!-- 회원가입 / 비회원 구매시 개인정보 취급방침 -->
						<div class="tab-content" data-content="content">
							<!--  style="visibility:hidden" -->
							<div>
								<textarea name="privacy_buy" id="privacy_buy" rows=15 wrap=off class="editor" style="width:100%;">{privacy_buy}</textarea>
							</div>
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td height=10></td>
			</tr>
			<tr>
				<td align="center" style="padding:10px 0px">
					<button type="button" class="btn-point" onclick="Privacy.save()">적용하기</button>
					<button type="button" class="btn-basic m-l-10" onclick="Privacy.standard()">표준약관 불러오기</button>
				</td>
			</tr>
		</table>
	</form>

	<div class="sub_manual_wrap">
		<div class="title">
			<p>매뉴얼</p>
		</div>
		<ul class="help_list">
			<li>[COMPANY]는 회사명, [SHOP]은 쇼핑몰명이 자동 입력됩니다.</li>
			<li>[NAME], [EMAIL]은 [기본정보관리]의 개인정보관리 담당자명과 이메일이 자동 입력됩니다.</li>
			<li>[TEL]은 [기본정보관리]의 고객상담 전화번호가 자동 입력됩니다.</li>
			<li>
				<b>쇼핑몰에 적용하시기 전, 쇼핑몰 운영사항을 확인하시고 내용 수정 후 반영하여 사용하시기 바랍니다.</b>
			</li>
			<li>등록/수정하시면 하단에 [적용하기]버튼을 누르셔야 쇼핑몰에 적용됩니다.</li>
			<li>
				<dl>
					<dt>관련법률</dt>
					<dd> - 정보통신망 이용촉진 및 정보보호 등에 관한 법률 [제27조의2(개인정보취급방침의 공개)]항
						<br> - 정보통신망 이용촉진 및 정보보호 등에 관한 법률 시행규칙 [제3조의2 (개인정보취급방침의 공개 방법 등)]항</dd>
				</dl>
			</li>
		</ul>

	</div>
</div>
<script type="text/javascript" src="/third_party/SE2/js/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript">
	var Privacy = {
		editors: [],
		tab_id: 'privacy',
		init: function () {
			var me = this;
			this.createEditor('privacy');

			$('[data-content=menu]').on('click', function () {
				var id = $(this).data('id');

				me.tab_id = id;
				$('input[name="field"]').val(id)
				me.createEditor(id);
			})
		},
		createEditor: function (id) {
			if ($.inArray(id, Privacy.editors) > -1) return false;
			nhn.husky.EZCreator.createInIFrame($.extend({}, se_option, {
				elPlaceHolder: id,
				fOnAppLoad: function () {
					Privacy.editors.push(id);
				}
			}));
		},
		save: function () { //적용하기
			if (!confirm('적용하시겠습니까?')) return false;

			$.each(oEditors, function (i, e) {
				this.exec("UPDATE_CONTENTS_FIELD", []);
			})

			var formdata = $('#FrmPrivacy').serialize();

			$.ajax({
				url: '{C.DIR_ADMIN}/proc/shop.proc.php',
				data: formdata,
				dataType: 'json',
				type: 'POST',
				success: function (r) {
					alert(r.msg);
				}
			})
		},
		standard: function () {
			var field = this.tab_id;
			$.ajax({
				url: '{C.DIR_ADMIN}/proc/shop.proc.php',
				data: {
					mode: 'agreement',
					act: 'get_standard',
					field: field + '_standard'
				},
				dataType: 'text',
				type: 'POST',
				success: function (r) {
					oEditors.getById[field].exec("SET_IR", [""]);
					oEditors.getById[field].exec("PASTE_HTML", [r]);
				}
			})


		}
	}

	$(function () {
		Privacy.init();
	})
</script>