<div id="contents">
    <div class="inner_width">
        <article class="erpage">
            <h3 class="title-ment">이메일 구독을 수신거부 하시겠습니까?</h3>
            <div class="box_line">
                <div class="box_bg"><strong class="emphasis-color">{id}</strong></div>
                <p class="sub_ment">수신거부가 완료되면 광고나 영리성 목적의 이메일이 발송되지 않으며,<br>i KNOW iONE 할인혜택 및 쿠폰을 받으실 수 없습니다.</p>
                <div class="btnPlace">
                    <a href="email_reject_end.php?key={key}" class="btn-point h-large"><span>확인</span></a>
                    <a href="#" onclick="javascript:window.close();" class="btn-line h-large"><span>취소</span></a>
                </div>
            </div>
        </article>
    </div>
</div>