<div id="contents">
    <div class="inner_width">
        <article class="erpage">
            <h3 class="title-ment">{msg}</h3>
            <div class="box_line">
                <p class="sub_ment">메일 수신거부와 관계없이 약관안내 및 서비스내용, 주문/배송,<br>주요 정책관련 변경에 따른 안내메일은 정상적으로 발송됩니다.</p>
                <p class="sub_ment">수신거부 후 다시 메일수신을 원하는 경우에는 로그인 후<br>마이페이지 &gt; 개인정보수정 에서 이메일 수신여부를 동의로 변경하여 주시기 바랍니다.</p>
                <div class="btnPlace">
                    <a href="/" class="btn-point h-large"><span>확인</span></a>
                </div>
            </div>
        </article>
    </div>
</div>
