<div id="page">
    <!-- 내용 -->
    <main id="content" class="subpage">
        <section class="page_local is-line">
            <h2 class="page_title">
                <a href="javascript:history.back();" class="prev">이전페이지</a>
                <span>이메일 수신거부</span>
            </h2>
        </section><!-- //.page_local -->

        <div class="erpage">
            <h3 class="title">{msg}</h3>
            <div class="box-line">
                <p>메일 수신거부와 관계없이 약관안내 및 서비스내용, 주문/배송, 주요 정책관련 변경에 따른 안내메일은 정상적으로 발송됩니다.</p>
                <span>수신거부 후 다시 메일수신을 원하는 경우에는 로그인 후 마이페이지 &gt; 개인정보수정 에서 이메일 수신여부를 동의로 변경하여 주시기 바랍니다.</span>
            </div>
            <div class="btn_area">
                <ul>
                    <li><a href="/" class="btn-point h-large"><span>확인</span></a></li>
                </ul>
            </div>
        </div>
    </main>
    <!-- //내용 -->
</div>