<div id="page">
    <!-- 내용 -->
    <main id="content" class="subpage">
        <section class="page_local is-line">
            <h2 class="page_title">
                <a href="javascript:history.back();" class="prev">이전페이지</a>
                <span>이메일 수신거부</span>
            </h2>
        </section><!-- //.page_local -->

        <div class="erpage">
            <h3 class="title">이메일 구독을<br>수신거부 하시겠습니까?</h3>
            <div class="box-grey">
                <strong>{id}</strong>
            </div>
            <p class="comment">수신거부가 완료되면 광고나 영리성 목적의 이메일이 발송되지 않으며, i KNOW iONE 할인혜택 및 쿠폰을 받으실 수 없습니다.</p>
            <div class="btn_area">
                <ul class="ea2">
                    <li><a href="email_reject_end.php?key={key}" class="btn-point h-large"><span>확인</span></a></li>
                    <li><a href="#" onclick="javascript:window.close();" class="btn-line h-large"><span>취소</span></a></li>
                </ul>
            </div>
        </div>
    </main>
    <!-- //내용 -->
</div>