<div class="goods-detail-page">
  <ul class="breadcrumb clear">
    <li><a href="#">제품유형별</a></li>
    <li><a href="#">헤어/바디</a></li>
    <li><a href="#">바디</a></li>
  </ul>
  <div class="goods-detail-info">
    <div class="inner">
      <h2 class="tit">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</h2>
      <div class="goods-img-wrap">
        <img class="goods-img" src="../../jayjun/m/static/img/common/goods-detail-sample.jpg" alt="상품 이미지">
        <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="라벨">
      </div>
      <p class="desc">식약처 허가 의약외품 손 소독제</p>
    </div>
    <ul class="price-wrap">
      <li class="clear">
        <label>상품가</label>
        <p class="origin">15,000원</p>
      </li>
      <li class="clear">
        <label><strong>할인가</strong></label>
        <p class="sale"><span>9,900</span>원</p>
      </li>
      <li class="clear">
        <label>적립금</label>
        <p>3%</p>
      </li>
      <li class="clear">
        <label>배송비</label>
        <p>개별(전체무료) 지역별</p>
      </li>
    </ul>
    <div class="sel-option">
      <ul>
        <li class="clear">
          <label>상품선택</label>
          <div class="select-wrap">
            <select class="select_line" title="손 소독제 옵션">
              <option selected="">의약외품 손 소독제</option>
              <option>선택1</option>
              <option>선택2</option>
              <option>선택3</option>
            </select>
          </div>
        </li>
      </ul>
    </div>
    <div class="total-price">
      <p>총 상품금액 <strong>12,900</strong> 원</p>
    </div>
    <div class="btn-area">
      <div class="top">
        <a href="#" class="btn-wish">
          관심상품
        </a>
        <a href="#" class="btn-cart">
          장바구니
        </a>
        <a href="#" class="btn-buy">
          구매하기
        </a>
      </div>
      <div class="middle">
        <a href="#">
          <img src="../../jayjun/m/static/img/btn/btn-facebook.gif" alt="페이스북 버튼">
        </a>
        <a href="#">
          <img src="../../jayjun/m/static/img/btn/btn-twitter.gif" alt="페이스북 버튼">
        </a>
        <a href="#">
          <img src="../../jayjun/m/static/img/btn/btn-kakaostory.gif" alt="페이스북 버튼">
        </a>
      </div>
      <div class="bottom">
        <img style="width:280px;" src="../../jayjun/m/static/img/btn/btn-naverpay.png" alt="네이버 페이">
      </div>
    </div>
  </div>
  <div class="banner-area">
    <ul class="clear">
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/detail-event-banner01.jpg" alt="이벤트 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/detail-event-banner02.jpg" alt="이벤트 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/detail-event-banner03.jpg" alt="이벤트 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/detail-event-banner04.jpg" alt="이벤트 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/detail-event-banner05.jpg" alt="이벤트 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/detail-event-banner06.jpg" alt="이벤트 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/detail-event-banner07.jpg" alt="이벤트 배너">
        </a>
      </li>
    </ul>
  </div>
  <div class="tab-area">
    <ul class="tab-menu clear">
      <li class="active">
        상품상세정보
      </li>
      <li>
        성분자세히보기
      </li>
      <li>
        특허/기능성
      </li>
      <li>
        멤버쉽 혜택
      </li>
      <li>
        배송안내
      </li>
    </ul>
    <ul class="tab-contents">
      <li class="con active">
        <div class="view-zoom">
          <a href="#">상세정보 새창 열기</a>
          <p>상세 정보를 확대해 보실 수 있습니다.</p>
        </div>
        <div class="detail-img">
          <img src="../../jayjun/m/static/img/common/detail-tab-content01.jpg" alt="상세 이미지">
        </div>
      </li>
      <li class="con">
        <div class="detail-img">
          <img src="../../jayjun/m/static/img/common/detail-tab-content02.jpg" alt="상세 이미지">
        </div>
      </li>
      <li class="con">
        <div class="detail-img">
          <img src="../../jayjun/m/static/img/common/detail-tab-content03.jpg" alt="상세 이미지">
        </div>
      </li>
      <li class="con">
        <div class="detail-img">
          <img src="../../jayjun/m/static/img/common/detail-tab-content04.jpg" alt="상세 이미지">
        </div>
      </li>
      <li class="con">
        <div class="detail-img">
          <img src="../../jayjun/m/static/img/common/detail-tab-content05.jpg" alt="상세 이미지">
        </div>
        <div class="delivery-info">
          <div class="mb-40">
            <h1>배송안내</h1>
            <dl>
              <dt>배송료</dt>
              <dd>
                <ul>
                  <li>2,500원</li>
                  <li>5만원 이상 구매 시 무료배송 <span>* 도서, 산간, 오지 지역은 배송비가 추가 될 수 있습니다. (제주도 3,000원, 도서산간 4,500원)</span></li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>배송기간</dt>
              <dd>
                <ul>
                  <li>당일 15시 이전 입금완료 된 건까지 당일 출고됩니다.</li>
                  <li>발송일 기준으로 1~5일 소요 (토,일 공휴일 제외)<span>* 단, 물류 사정에 따라 다소 차이가 날 수 있습니다.</span></li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>배송업계</dt>
              <dd>
                <ul>
                  <li>CJ대한통운</li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class="mb-40">
            <h1>반품교환 안내</h1>
            <dl>
              <dt>반품/교환 택배비</dt>
              <dd>
                <ul>
                  <li>상품 불량 및 오배송 등의 이유로 반품하실 경우, 반품 배송비는 무료입니다. 단순변심 및 고객님의 사정으로 반품/교환 하실 경우, 배송비는 고객님의 부담입니다.</li>
                  <li>무료배송상품의반품/환불은 상품과 함께 왕복택배비 5,000원(반품 수거비 2,500원)을 동봉하여 보내주시길 바랍니다.</li>
                </ul>
              </dd>
              <dt>교환/반품 신청</dt>
              <dd>
                <ul>
                  <li>상품 반품 및 교환을 상품 수령 후 7일 이내에 신청하실 수 있습니다.</li>
                  <li>교환 / 반품을 원하는 고객은 로하셀 고객센터 (02-905-2201)에 전화하시거나 1:1게시판을 이용해 신청해 주시면 됩니다.</li>
                </ul>
              </dd>
              <dt>교환/반품이 가능한 경우</dt>
              <dd>
                <ul>
                  <li>제품하자로 인한 경우</li>
                  <li>제품 오배송으로 인한 경우</li>
                  <li>구매자의 주문 실수로 인한 경우</li>
                </ul>
              </dd>
              <dt>교환/반품이 불가능한 경우</dt>
              <dd>
                <ul>
                  <li>제품박스, 마개, 파우치등을 개봉하였거나 내용물을 사용한 경우</li>
                  <li>고객 사용상의 부주의로 제품이 파손되거나 하자가 생긴 경우</li>
                  <li>제품의 겉 포장이 손상되거나 분실한 경우</li>
                  <li>고객의 사용 또는 일부 소비로 상품 가치가 현저히 감소한 경우</li>
                  <li>구입 후 7일이 지난 경우(단순변심)</li>
                  <li>교환 또는 반품 요청 후 5일 이내에 도착하지 않은 경우</li>
                  <li>증빙 자료가 정확히 첨부되지 않은 경우</li>
                </ul>
              </dd>
              <dt>교환/반품 주소</dt>
              <dd>
                <ul>
                  <li>서울특별시 도봉구 방학로 103 B2F 로하셀 물류센터</li>
                  <li>반송시 반드시 CJ대한통운택배를 이용해 주시기 바랍니다.</li>
                </ul>
              </dd>
              <dt>환불/취소 안내</dt>
              <dd>
                <ul>
                  <li>무통장 환불건은 접수된 날로부터 익일 오후 6시까지 환불되오니 양해 부탁드리며, 계좌번호 누락 또는 오등록시 지연될 수 있는점 참고 부탁드립니다.</li>
                  <li>주문 후 취소는 평일 낮 12시 까지만 가능합니다. 이후 요청건에 대해서는 처리가 어려우며, 부득이 취소를 원하실 경우 왕복 배송비를 고객님께서 지불하셔야 하는 점 참고 바랍니다.</li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<script>
  $(function(){
    $('.tab-menu li').on('click',function(){
      $(this).addClass('active');
      $(this).siblings().removeClass('active');

      var targetIndex = $(this).index();
      $('.tab-contents .con').eq(targetIndex).addClass('active');
      $('.tab-contents .con').eq(targetIndex).siblings().removeClass('active');
    });
  })
</script>























