<!-- Page -->
<div>
  <section class="main-slider-wrap">
    <ul class="main-slider type01">
      <li>
        <a href="#">
          <img class="img-banner" src="../../jayjun/m/static/img/common/main-slider-sample01.jpg" alt="슬라이드 배너"> 
        </a>
      </li>
      <li>
        <a href="#">
          <img class="img-banner" src="../../jayjun/m/static/img/common/main-slider-sample02.jpg" alt="슬라이드 배너"> 
        </a>
      </li>
      <li>
        <a href="#">
          <img class="img-banner" src="../../jayjun/m/static/img/common/main-slider-sample03.jpg" alt="슬라이드 배너"> 
        </a>
      </li>
      <li>
        <a href="#">
          <img class="img-banner" src="../../jayjun/m/static/img/common/main-slider-sample04.jpg" alt="슬라이드 배너"> 
        </a>
      </li>
    </ul>
  </section>

  <!-- 상품 리스트 -->
  <section>
    <h2 class="sec-tit">BEST SELLER</h2>
    <ul class="goods-list-slider">
      <li>
        <ul class="goods-list clear">
          <li>
            <a href="#">
              <div class="thumb-wrap">
                <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
                <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
              </div>
              <div class="goods-info">
                <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
                <div class="price-wrap">
                  <span class="origin">15,000원</span>
                  <span class="divider"></span>
                  <span class="sale">9,000원</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="thumb-wrap">
                <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
                <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
              </div>
              <div class="goods-info">
                <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
                <div class="price-wrap">
                  <span class="origin">15,000원</span>
                  <span class="divider"></span>
                  <span class="sale">9,000원</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="thumb-wrap">
                <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
                <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
              </div>
              <div class="goods-info">
                <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
                <div class="price-wrap">
                  <span class="origin">15,000원</span>
                  <span class="divider"></span>
                  <span class="sale">9,000원</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="thumb-wrap">
                <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
                <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
              </div>
              <div class="goods-info">
                <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
                <div class="price-wrap">
                  <span class="origin">15,000원</span>
                  <span class="divider"></span>
                  <span class="sale">9,000원</span>
                </div>
              </div>
            </a>
          </li>

        </ul>
      </li>
      <li>
        <ul class="goods-list clear">
          <li>
            <a href="#">
              <div class="thumb-wrap">
                <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
                <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
              </div>
              <div class="goods-info">
                <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
                <div class="price-wrap">
                  <span class="origin">15,000원</span>
                  <span class="divider"></span>
                  <span class="sale">9,000원</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="thumb-wrap">
                <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
                <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
              </div>
              <div class="goods-info">
                <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
                <div class="price-wrap">
                  <span class="origin">15,000원</span>
                  <span class="divider"></span>
                  <span class="sale">9,000원</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="thumb-wrap">
                <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
                <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
              </div>
              <div class="goods-info">
                <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
                <div class="price-wrap">
                  <span class="origin">15,000원</span>
                  <span class="divider"></span>
                  <span class="sale">9,000원</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="thumb-wrap">
                <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
                <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
              </div>
              <div class="goods-info">
                <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
                <div class="price-wrap">
                  <span class="origin">15,000원</span>
                  <span class="divider"></span>
                  <span class="sale">9,000원</span>
                </div>
              </div>
            </a>
          </li>

        </ul>
      </li>
    </ul>
  </section>
  <!-- //상품 리스트 -->

  <!-- 이벤트 배너 & 영상-->
  <section>
    <ul class="main-event-banner clear">
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/main-event-banner01.jpg" alt="이벤트 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/main-event-banner01.jpg" alt="이벤트 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/main-event-banner01.jpg" alt="이벤트 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/main-event-banner01.jpg" alt="이벤트 배너">
        </a>
      </li>
    </ul>

    <div class="video-hot-clip">
      <iframe src="https://www.youtube.com/embed/_RcXObnCgTE" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      <a class="btn-video-more" href="https://www.youtube.com/channel/UCRkTOc8RIGPg9CazYVl8N9g">LOHACELL HOT CLIP 영상 더보기 &nbsp; ></a>
    </div>

  </section>
  <!-- //이벤트 배너 & 영상-->

  <!-- 매거진 -->
  <section class="beauty-magazine">
    <h2 class="sec-tit">Beauty Magazine</h2>
    <div class="magazine-list clear">
      <div class="mb-5 clear">
        <a href="#" class="view-more">LIST </a>
      </div>
      <ul>
        <li>
          <a href="#">
            <div class="box">
              <img src="../../jayjun/m/static/img/common/magazine-thumb-sample.jpg" alt="매거진 썸네일 이미지">
              <p>[얼루어] 2019 11월호</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="box">
              <img src="../../jayjun/m/static/img/common/magazine-thumb-sample.jpg" alt="매거진 썸네일 이미지">
              <p>[얼루어] 2019 11월호</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- // 매거진 -->

  <!-- 브랜드 탭-->
  <section class="main-tab-section">
    <ul class="tab-menu clear">
      <li class="active">
        <img src="../../jayjun/m/static/img/common/main-brand-tab01.jpg" alt="탭 메뉴 이미지">
      </li>
      <li>
        <img src="../../jayjun/m/static/img/common/main-brand-tab02.jpg" alt="탭 메뉴 이미지">
      </li>
      <li>
        <img src="../../jayjun/m/static/img/common/main-brand-tab03.jpg" alt="탭 메뉴 이미지">
      </li>
      <li>
        <img src="../../jayjun/m/static/img/common/main-brand-tab04.jpg" alt="탭 메뉴 이미지">
      </li>
    </ul>
    <ul class="tab-contents">
      <li class="con active">
        <a href="#">
          <img class="top-banner" src="../../jayjun/m/static/img/common/tab-content-banner01.jpg" alt="배너">
        </a>
        <div class="video-wrap">
          <iframe title='NaverVideo' src='https://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=538092D8328B8FC42491DA0B300A64198F86&outKey=V125d3432e86cab3708b9977d5a4b782b3374d8c9ecf276a1ed08977d5a4b782b3374&controlBarMovable=true&jsCallable=true&skinName=tvcast_white' 
          frameborder='no' scrolling='no' marginwidth='0' marginheight='0' allowfullscreen style='width:100%; height:200px;'></iframe>
        </div>
        <div class="tab-con-slider num01">
          <ul>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider01.gif" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider02.jpg" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider01.gif" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider02.jpg" alt="상품 썸네일">
              </a>
            </li>
          </ul>
          <button class="btn-prev">
            <img src="../../jayjun/m/static/img/btn/btn-carousel-prev.png" alt="이전 버튼">
          </button>
          <button class="btn-next">
            <img src="../../jayjun/m/static/img/btn/btn-carousel-next.png" alt="다음 버튼">
          </button>
        </div>
      </li>
      <li class="con">
        <a href="#">
          <img class="top-banner" src="../../jayjun/m/static/img/common/tab-content-banner02.jpg" alt="배너">
        </a>
        <div class="video-wrap">
          <iframe title='NaverVideo' src='https://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=538092D8328B8FC42491DA0B300A64198F86&outKey=V125d3432e86cab3708b9977d5a4b782b3374d8c9ecf276a1ed08977d5a4b782b3374&controlBarMovable=true&jsCallable=true&skinName=tvcast_white' 
          frameborder='no' scrolling='no' marginwidth='0' marginheight='0' allowfullscreen style='width:100%; height:200px;'></iframe>
        </div>
        <div class="tab-con-slider num02">
          <ul>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider01.gif" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider02.jpg" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider01.gif" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider02.jpg" alt="상품 썸네일">
              </a>
            </li>
          </ul>
          <button class="btn-prev">
            <img src="../../jayjun/m/static/img/btn/btn-carousel-prev.png" alt="이전 버튼">
          </button>
          <button class="btn-next">
            <img src="../../jayjun/m/static/img/btn/btn-carousel-next.png" alt="다음 버튼">
          </button>
        </div>
      </li>
      <li class="con">
        <a href="#">
          <img class="top-banner" src="../../jayjun/m/static/img/common/tab-content-banner03.jpg" alt="배너">
        </a>
        <div class="video-wrap">
          <iframe title='NaverVideo'
            src='https://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=538092D8328B8FC42491DA0B300A64198F86&outKey=V125d3432e86cab3708b9977d5a4b782b3374d8c9ecf276a1ed08977d5a4b782b3374&controlBarMovable=true&jsCallable=true&skinName=tvcast_white'
            frameborder='no' scrolling='no' marginwidth='0' marginheight='0' allowfullscreen
            style='width:100%; height:200px;'></iframe>
        </div>
        <div class="tab-con-slider num03">
          <ul>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider01.gif" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider02.jpg" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider01.gif" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider02.jpg" alt="상품 썸네일">
              </a>
            </li>
          </ul>
          <button class="btn-prev">
            <img src="../../jayjun/m/static/img/btn/btn-carousel-prev.png" alt="이전 버튼">
          </button>
          <button class="btn-next">
            <img src="../../jayjun/m/static/img/btn/btn-carousel-next.png" alt="다음 버튼">
          </button>
        </div>
      </li>
      <li class="con">
        <a href="#">
          <img class="top-banner" src="../../jayjun/m/static/img/common/tab-content-banner04.jpg" alt="배너">
        </a>
        <div class="video-wrap">
          <iframe title='NaverVideo'
            src='https://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=538092D8328B8FC42491DA0B300A64198F86&outKey=V125d3432e86cab3708b9977d5a4b782b3374d8c9ecf276a1ed08977d5a4b782b3374&controlBarMovable=true&jsCallable=true&skinName=tvcast_white'
            frameborder='no' scrolling='no' marginwidth='0' marginheight='0' allowfullscreen
            style='width:100%; height:200px;'></iframe>
        </div>
        <div class="tab-con-slider num04">
          <ul>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider01.gif" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider02.jpg" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider01.gif" alt="상품 썸네일">
              </a>
            </li>
            <li class="content">
              <a href="#">
                <img class="goods-img" src="../../jayjun/m/static/img/common/tab-content-slider02.jpg" alt="상품 썸네일">
              </a>
            </li>
          </ul>
          <button class="btn-prev">
            <img src="../../jayjun/m/static/img/btn/btn-carousel-prev.png" alt="이전 버튼">
          </button>
          <button class="btn-next">
            <img src="../../jayjun/m/static/img/btn/btn-carousel-next.png" alt="다음 버튼">
          </button>
        </div>
      </li>
    </ul>
    <ul class="main-event-banner mb-60 clear">
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/event-banner-sample01.jpg" alt="이벤트 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../jayjun/m/static/img/common/event-banner-sample02.jpg" alt="이벤트 배너">
        </a>
      </li>
    </ul>
  </section>
  <!-- //브랜드 탭-->

  <section>
    <h2 class="sec-tit mb-30">NEW ARRIVAL</h2>
    <!-- swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide num01">
          <div class="box">
            <img class="thumb" src="../../jayjun/m/static/img/common/swiper-goods-sample01.jpg" alt="상품 이미지">
            <img class="label" src="../../jayjun/m/static/img/common/swiper-goods-label.png" alt="상품 라벨">
            <div class="info">
              <p class="name">[신제품] 바이옴 크림 팩 패드</p>
              <div class="price-wrap">
                <span class="origin">29,000원</span>
                <span class="sale">23,200원</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide num02">
          <div class="box">
            <img class="thumb" src="../../jayjun/m/static/img/common/swiper-goods-sample02.jpg" alt="상품 이미지">
            <img class="label" src="../../jayjun/m/static/img/common/swiper-goods-label.png" alt="상품 라벨">
            <div class="info">
              <p class="name">[신제품] 바이옴 크림 팩 패드</p>
              <div class="price-wrap">
                <span class="origin">29,000원</span>
                <span class="sale">23,200원</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide num03">
          <div class="box">
            <img class="thumb" src="../../jayjun/m/static/img/common/swiper-goods-sample03.jpg" alt="상품 이미지">
            <img class="label" src="../../jayjun/m/static/img/common/swiper-goods-label.png" alt="상품 라벨">
            <div class="info">
              <p class="name">[신제품] 바이옴 크림 팩 패드</p>
              <div class="price-wrap">
                <span class="origin">29,000원</span>
                <span class="sale">23,200원</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide num04">
          <div class="box">
            <img class="thumb" src="../../jayjun/m/static/img/common/swiper-goods-sample04.jpg" alt="상품 이미지">
            <img class="label" src="../../jayjun/m/static/img/common/swiper-goods-label.png" alt="상품 라벨">
            <div class="info">
              <p class="name">[신제품] 바이옴 크림 팩 패드</p>
              <div class="price-wrap">
                <span class="origin">29,000원</span>
                <span class="sale">23,200원</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide num05">
          <div class="box">
            <img class="thumb" src="../../jayjun/m/static/img/common/swiper-goods-sample05.jpg" alt="상품 이미지">
            <img class="label" src="../../jayjun/m/static/img/common/swiper-goods-label.png" alt="상품 라벨">
            <div class="info">
              <p class="name">[신제품] 바이옴 크림 팩 패드</p>
              <div class="price-wrap">
                <span class="origin">29,000원</span>
                <span class="sale">23,200원</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //swiper -->  

    <ul class="main-slider type02">
      <li>
        <a href="#">
          <img class="img-banner" src="../../jayjun/m/static/img/common/main-slider-mid01.jpg" alt="슬라이드 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="img-banner" src="../../jayjun/m/static/img/common/main-slider-mid02.jpg" alt="슬라이드 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="img-banner" src="../../jayjun/m/static/img/common/main-slider-mid03.jpg" alt="슬라이드 배너">
        </a>
      </li>
    </ul>
  </section>

  <section>
    <h2 class="sec-tit">SEASON ITEM</h2>
    <ul class="goods-list mb-30 clear">
      <li>
        <a href="#">
          <div class="thumb-wrap">
            <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
            <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
          </div>
          <div class="goods-info">
            <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
            <div class="price-wrap">
              <span class="origin">15,000원</span>
              <span class="divider"></span>
              <span class="sale">9,000원</span>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="thumb-wrap">
            <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
            <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
          </div>
          <div class="goods-info">
            <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
            <div class="price-wrap">
              <span class="origin">15,000원</span>
              <span class="divider"></span>
              <span class="sale">9,000원</span>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="thumb-wrap">
            <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
            <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
          </div>
          <div class="goods-info">
            <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
            <div class="price-wrap">
              <span class="origin">15,000원</span>
              <span class="divider"></span>
              <span class="sale">9,000원</span>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="thumb-wrap">
            <img class="thumb" src="../../jayjun/m/static/img/common/goods-list-thumb01.jpg" alt="상품 썸네일">
            <img class="label" src="../../jayjun/m/static/img/common/thumb-label.png" alt="이미지 라벨">
          </div>
          <div class="goods-info">
            <p class="desc">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 ★무료배송 이벤트★</p>
            <div class="price-wrap">
              <span class="origin">15,000원</span>
              <span class="divider"></span>
              <span class="sale">9,000원</span>
            </div>
          </div>
        </a>
      </li>

    </ul>
  </section>

  <section class="sns-board">
    <h2 class="sec-tit mb-10">#환절기에도 #각질없는<br>#매끈피부</h2>
    <div class="link">
      <a href="#">INSTAGRAM</a>
      <span> | </span>
      <a href="#">FACEBOOK</a>
    </div>
    <ul class="list clear">
      <li>
        <div class="box">
          <a href="#">
            <img src="../../jayjun/m/static/img/common/sns-board-sample01.jpg" alt="제품 후기 이미지">
            <p>
              #쌍욕세럼 #피지, 블랙<br>
              헤드순삭 #인스타그램<br>
              # adorable hxx
            </p>
          </a>
        </div>
      </li>
      <li>
        <div class="box">
          <a href="#">
            <img src="../../jayjun/m/static/img/common/sns-board-sample01.jpg" alt="제품 후기 이미지">
            <p>
              #쌍욕세럼 #피지, 블랙<br>
              헤드순삭 #인스타그램<br>
              # adorable hxx
            </p>
          </a>
        </div>
      </li>
      <li>
        <div class="box">
          <a href="#">
            <img src="../../jayjun/m/static/img/common/sns-board-sample01.jpg" alt="제품 후기 이미지">
            <p>
              #쌍욕세럼 #피지, 블랙<br>
              헤드순삭 #인스타그램<br>
              # adorable hxx
            </p>
          </a>
        </div>
      </li>
      <li>
        <div class="box">
          <a href="#">
            <img src="../../jayjun/m/static/img/common/sns-board-sample01.jpg" alt="제품 후기 이미지">
            <p>
              #쌍욕세럼 #피지, 블랙<br>
              헤드순삭 #인스타그램<br>
              # adorable hxx
            </p>
          </a>
        </div>
      </li>
      <li>
        <div class="box">
          <a href="#">
            <img src="../../jayjun/m/static/img/common/sns-board-sample01.jpg" alt="제품 후기 이미지">
            <p>
              #쌍욕세럼 #피지, 블랙<br>
              헤드순삭 #인스타그램<br>
              # adorable hxx
            </p>
          </a>
        </div>
      </li>
      <li>
        <div class="box">
          <a href="#">
            <img src="../../jayjun/m/static/img/common/sns-board-sample01.jpg" alt="제품 후기 이미지">
            <p>
              #쌍욕세럼 #피지, 블랙<br>
              헤드순삭 #인스타그램<br>
              # adorable hxx
            </p>
          </a>
        </div>
      </li>
    </ul>
  </section>

  <section>
    <ul class="main-slider type03">
      <li>
        <a href="#">
          <img class="img-banner" src="../../jayjun/m/static/img/common/main-slider-bottom01.jpg" alt="슬라이드 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="img-banner" src="../../jayjun/m/static/img/common/main-slider-bottom02.jpg" alt="슬라이드 배너">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="img-banner" src="../../jayjun/m/static/img/common/main-slider-bottom03.jpg" alt="슬라이드 배너">
        </a>
      </li>
    </ul>
  </section>


</div>



<!-- //Page -->

<script>
$(function(){
  // init : 첫번째 탭 상품 슬라이더 그리기
  $('.tab-con-slider.num01 ul').slick({
    infinite: true,
    speed: 300,
    slidesToShow: 2,
    slidesToScroll: 1,
    adaptiveHeight: true,
    prevArrow: '.tab-con-slider.num01 .btn-prev',
    nextArrow: '.tab-con-slider.num01 .btn-next',
  });

  // 탭 메뉴 클릭
  $('.tab-menu li').click(function () {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');

    var targetIndex = $(this).index();
    $('.tab-contents .con').eq(targetIndex).addClass('active');
    $('.tab-contents .con').eq(targetIndex).siblings().removeClass('active');

    var sliderIdxClass = '.num0' + (targetIndex + 1);
    renderGoodsSlider(sliderIdxClass);
  });

  // 탭 컨텐츠 상품 슬라이더 그리기 ( 탭 클릭시 마다 그려야 됨 )
  function renderGoodsSlider(sliderNum) {
    $('.tab-con-slider' + sliderNum + ' ul').slick({
      infinite: true,
      speed: 300,
      slidesToShow: 2,
      slidesToScroll: 1,
      adaptiveHeight: true,
      prevArrow: '.tab-con-slider' + sliderNum + ' .btn-prev',
      nextArrow: '.tab-con-slider' + sliderNum + ' .btn-next',
    });
  }

  // goods list slider
  $('.goods-list-slider').slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    adaptiveHeight: true,
    arrows: false,
  });	

  // main slider - 최상단
  $('.main-slider.type01').slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    adaptiveHeight: true,
    autoplay: true,
    arrows: false,
  });	

  // main slider - 중간
  $('.main-slider.type02').slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    adaptiveHeight: true,
    autoplay: true,
    arrows: false,
  });	

  // main slider - 최하단
  $('.main-slider.type03').slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    adaptiveHeight: true,
    autoplay: true,
    arrows: false,
  });	

  /* swiper slider */
  var mySwiper = new Swiper ('.swiper-container', {
    loop: true,
    effect: 'coverflow',
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 'auto',
    coverflowEffect: {
      rotate: 30,
      stretch: 140,
      depth: 200,
      modifier: 1,
      slideShadows : false,
    },
  })
});
</script>


</body>

