<div id="page">
	<section class="page_local is-line">
		<h2 class="page_title">
			<a href="javascript:history.back();" class="prev">이전페이지</a>
			<span>SNS 연동관리</span>
		</h2>
	</section>

	<div class="sns_account_wrp">
		<!-- SNS 계정 연결이 없는 경우 노출 -->
		{? list}
		<!-- SNS 계정이 연결된 경우 노출 -->
		<div class="sns_termination">
			<div class="sns">
				<i class="icon-sns-{=strtolower(list.sns_type)}-color big">{list.sns_type}</i><span class="account">{list.sns_email}</span>
			</div>
			<div class="info">
				<p>* 연동정보 : <span class="point-color">{=format(list.date_insert,'Y-m-d H:i')} 연동</span></p>
			</div>
		</div>
		<div class="board-attention">* 연결 해제 시 SNS 간편로그인 서비스를 이용하실 수 없습니다.</div>
		<div class="btn_area">
			<ul class="dib_type">
				<li>
					{? list.sns_type=='NAVER'}
					<a href="javascript:;" class="btn-point h-large" style="width:140px" onclick="Login.sns_disconnect('nv');"><span>해제</span></a>
					{: list.sns_type=='KAKAO'}
					<a href="javascript:;" class="btn-point h-large" style="width:140px" onclick="Login.disconn_kakao('kt');"><span>해제</span></a>
					{: list.sns_type=='FACEBOOK'}
					<a href="javascript:;" class="btn-point h-large" style="width:140px" onclick="Login.disconn_facebook('fb');"><span>해제</span></a>
					{/}
				</li>
			</ul>
		</div>
		{:}
		<p class="ment">연결된 계정이 없습니다.<br> 계정을 연결하려면 해당 SNS를 선택해주세요.</p>
		<ul class="sns_account_link">
			<li>
				<div class="item">
					<i class="icon-sns-naver-color big">네이버</i>
					<p class="sns_nm">NAVER</p>
					<a href="/plugin/sns/sns_access.php?sns={cfg.naver.use}&sns_login=1&ac=m" class="btn-line h-input">계정연결</a>
				</div>
			</li>
			<li>
				<div class="item">
					<i class="icon-sns-kakao-color big">카카오톡</i>
					<p class="sns_nm">KaKaotalk</p>
					<a href="/plugin/sns/sns_access.php?sns={cfg.kakao.use}&sns_login=1&ac=m" class="btn-line h-input">계정연결</a>
				</div>
			</li>
			<li>
				<div class="item">
					<i class="icon-sns-facebook-color big">페이스북</i>
					<p class="sns_nm">facebook</p>
					<a href="/plugin/sns/sns_access.php?sns={cfg.facebook.use}&sns_login=1&ac=m" class="btn-line h-input">계정연결</a>
				</div>
			</li>
		</ul>
		{/}
		<input type="hidden" name="sns_id" id="sns_id" value="{_SESSION.sns.sns_id}">
		<input type="hidden" name="now_sns" id="now_sns" value="{_SESSION.sns.sns_type}">
		<input type="hidden" name="mem_id" id="mem_id" value="{C.MEMID}">
		<input type="hidden" name="mem_name" id="mem_name" value="{C.MEMNAME}">
		<input type="hidden" name="kt_sns_id" id="kt_sns_id" value="{_SESSION.sns.sns_id}">
		<input type="hidden" name="fb_sns_id" id="fb_sns_id" value="{_SESSION.sns.fb_sns_id}">
		<input type="hidden" name="access_token" id="access_token" value="{_SESSION.access_token}">
	</div>
</div>

<script type="text/javascript">
    var Login = {
        init: function() {
            var me = this;
        },
        sns_disconnect : function (part){

			var sns_id =$("#sns_id").val();
			var now_sns =$("#now_sns").val();
			var mem_id =$("#mem_id").val();
			var mem_name =$("#mem_name").val();
			var postdata= {sns_id : sns_id,
				now_sns : now_sns,
				mem_id : mem_id,
				mem_name : mem_name} ;

			if(part=='nv'){
				if(part !=now_sns){
					alert('네이버 간편로그인 후 연동해제 처리가 가능합니다.');
					return;
				}
			}

			if(confirm("연동해제 처리하시겠습니까?")){
				if(part=='nv'){
					$.ajax({
						method : "GET",
						url: "/plugin/sns/sns_access.php?sns=nvdel&sns_login=1&ac=m",
						data: postdata,
						dataType:"json",
                    });
				}

				if(part=='nv'){
					$.ajax({
						method : "POST",
						url: "/plugin/sns/sns_join_ajax.php",
						data: postdata,
						dataType:"json",
                       success:function(response) {
							if(response.msgs == 'success'){
								alert("연동해제 되었습니다.");
								document.location.reload();
							}else{
								alert("네이버 간편로그인 후 다시 시도해주세요.");
							}
						}
					});
				}
			}
    	},
        disconn_kakao : function(part){

			var sns_id =$("#sns_id").val();
			var now_sns =$("#now_sns").val();
			var mem_id =$("#mem_id").val();
			var mem_name =$("#mem_name").val();
			var kt_sns_id =$("#kt_sns_id").val();
			var adminKey = "{cfg.kakao.adminKey}";
			if(part=='kt'){
				if(part !=now_sns){
					alert('카카오톡 간편로그인 후 연동해제 처리가 가능합니다.');
					return;
				}
			}

			var postData;
			var rows = Object();
			var rows= {
				target_id_type : 'user_id',
				target_id : kt_sns_id,
				Authorization : "KakaoAK "+adminKey,
				sns_id : sns_id,
				now_sns : now_sns,
				mem_id : mem_id,
				mem_name : mem_name
			};
			var postData = $.param(rows);
			var headers = {};
			headers["Authorization"] = "KakaoAK "+adminKey;   //  키
			if(confirm('연동해제 처리하시겠습니까?')){
				$.ajax({
					url:'/plugin/sns/kt_delete.php',
					data: postData,
					type:'post',
					dataType:'json',
					headers : headers,
					cache:false,
					success:function(response) {
						if(response.msgs == 'success'){
							alert("연동해제 되었습니다.");
							document.location.reload();
						}else{
							alert("카카오톡 간편로그인 후 다시 시도해주세요.");
						}
					}
				});
			}
		},
        disconn_facebook :function (part){

			var sns_id =$("#sns_id").val();
			var now_sns =$("#now_sns").val();
			var mem_id =$("#mem_id").val();
			var mem_name =$("#mem_name").val();
			var access =  $("#access_token").val();


			if(part=='fb'){
				if(part !=now_sns){
					alert('facebook 로그인 후 연동해제 해주세요');
					return;
				}
			}

			var postData;
			var rows = Object();
			var rows= {
				access : access,
				sns_id : sns_id,
				now_sns : now_sns,
				mem_id : mem_id,
				mem_name : mem_name
			};
			var postData = $.param(rows);
			var headers = {};
			if(confirm('연동해제 처리하시겠습니까?')){
				$.ajax({
					url:'/plugin/sns/fb_delete.php',
					data: postData,
					type:'post',
					dataType:'json',
					headers : headers,
					cache:false,
					success:function(response) {
						var success = (response.msgs == 'success');
						if(success){
							alert("연동해제 되었습니다.");
							document.location.reload();
						}else{
							alert("facebook 로그인 후 다시 시도해주세요.");
						}
					}
				});
			}
		}
    }

    $(function() {
        Login.init();
    })
</script>