
<script>
  // 사이드 메뉴 - 메인페이지 전용 따로 있음
  $('.side-area.subpage').hide();
</script>

<!-- side menu -->
<div class="side-area mainpage">
	<button class="btn-top">
		<img src="../../jayjun/web/static/img/btn/btn-top.png" alt="탑 이동 버튼">
	</button>
	<ul class="menu">
		<li><a href="#">LOGOUT</a></li>
		<li><a href="#">CART</a></li>
		<li><a href="#">MY PAGE</a></li>
		<li><a href="#">ORDER</a></li>
		<li><a href="#">Q&A</a></li>
	</ul>
	<div class="today-view">
		<p class="title">TODAY VIEW</p>
		<ul class="list">
			<li>
				<a href="#">
					<img src="../../jayjun/web/static/img/common/today-view-sample.jpg" alt="최근 본 상품">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="../../jayjun/web/static/img/common/today-view-sample.jpg" alt="최근 본 상품">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="../../jayjun/web/static/img/common/today-view-sample.jpg" alt="최근 본 상품">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="../../jayjun/web/static/img/common/today-view-sample.jpg" alt="최근 본 상품">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="../../jayjun/web/static/img/common/today-view-sample.jpg" alt="최근 본 상품">
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- //side menu-->

<!-- content -->
<div id="contents">
	<!-- main -->
	<main class="main_wrp">
		<!-- main slider banner-->
		<div class="main-slider-wrap">
			<ul class="main-slider-banner">
				<li class="main-banner ban01">
					<a href="#">의약외품 손 소독제</a>
				</li>
				<li class="main-banner ban02">
          <a href="#">나를 지키는 필수 아이템</a>
        </li>
				<li class="main-banner ban03">
          <a href="#">로하셀 롭스 공식 입점</a>
        </li>
				<li class="main-banner ban04">
          <a href="#">새출발 페스티벌</a>
        </li>
				<li class="main-banner ban05">
          <a href="#">보습 크림 팩 패드</a>
        </li>
				<li class="main-banner ban06">
          <a href="#">찐한 진정 앰플</a>
        </li>
				<li class="main-banner ban07">
          <a href="#">글로시 빔 쿠션</a>
        </li>
				<li class="main-banner ban08">
          <a href="#">워터 글루</a>
        </li>
				<li class="main-banner ban09">
          <a href="#">조약돌 쿠션</a>
        </li>
				<li class="main-banner ban10">
          <a href="#">100% 환불 보장</a>
        </li>
			</ul>
			<div class="btn-pager-wrap">
				<div class="inner-wrap">
					<button class="btn-prev">
						<img src="../../jayjun/web/static/img/btn/main_slider_left.png" alt="이전 슬라이드 버튼">
					</button>
					<button class="btn-next">
						<img src="../../jayjun/web/static/img/btn/main_slider_right.png" alt="이전 슬라이드 버튼">
					</button>
				</div>
			</div>
		</div>
		<!-- //main slider banner-->

		<!-- bestItem -->
		<div class="list-goods-wrap mb-100">
			<div class="inner-wrap">
				<h3 class="sec-title">BEST SELLER</h3>
				<ul class="list clear">
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
							<button class="btn-view-modal">
								<img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
							</button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
				</ul>			
			</div>
		</div>
		<!-- //bestItem -->

		<!-- event banner -->
		<div class="event-banner">
			<div class="inner-wrap clear">
				<div class="left">
					<ul class="banners clear">
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/event-banner-sample.jpg" alt="이벤트 배너">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/event-banner-sample.jpg" alt="이벤트 배너">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/event-banner-sample.jpg" alt="이벤트 배너">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/event-banner-sample.jpg" alt="이벤트 배너">
							</a>
						</li>
					</ul>
				</div>
				<div class="right">
					<div class="video-wrap">
						<iframe src="https://www.youtube.com/embed/_RcXObnCgTE" frameborder="0" allowfullscreen=""
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
						<a class="btn-video-more" href="https://www.youtube.com/channel/UCRkTOc8RIGPg9CazYVl8N9g">LOHACELL HOT CLIP 영상 더보기 &nbsp; ></a>
					</div>
				</div>
			</div>
		</div>
		<!-- //event banner -->

		<!-- Beauty Magazine -->
		<div class="list-magazine">
			<div class="inner-wrap">
				<div class="clear">
					<h4 class="title fl-l"><strong>Beauty Magazine</strong>&nbsp; | &nbsp;로하셀 매거진의 최신 소식을 만나다</h4>
					<a href="#" class="fl-r">리스트 보기 &nbsp;></a>
				</div>
				<ul class="clear">
					<li>
						<a href="#">
							<img src="../../jayjun/web/static/img/common/magazine-sample.jpg" alt="매거진 이미지">
							<p class="name">[얼루어] 2019 11월호</p>
							<p class="more">더보기 ></p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="../../jayjun/web/static/img/common/magazine-sample.jpg" alt="매거진 이미지">
							<p class="name">[얼루어] 2019 11월호</p>
							<p class="more">더보기 ></p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="../../jayjun/web/static/img/common/magazine-sample.jpg" alt="매거진 이미지">
							<p class="name">[얼루어] 2019 11월호</p>
							<p class="more">더보기 ></p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="../../jayjun/web/static/img/common/magazine-sample.jpg" alt="매거진 이미지">
							<p class="name">[얼루어] 2019 11월호</p>
							<p class="more">더보기 ></p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- //Beauty Magazine -->

		<!-- product style -->
		<div class="product-style">
			<div class="inner-wrap">
				<ul class="tab-menu clear">
					<li class="test active">
						<img src="../../jayjun/web/static/img/common/tab-title01.jpg" alt="탭 메뉴 이미지">
					</li>
					<li>
						<img src="../../jayjun/web/static/img/common/tab-title02.jpg" alt="탭 메뉴 이미지">
					</li>
					<li>
						<img src="../../jayjun/web/static/img/common/tab-title03.jpg" alt="탭 메뉴 이미지">
					</li>
					<li>
						<img src="../../jayjun/web/static/img/common/tab-title04.jpg" alt="탭 메뉴 이미지">
					</li>
				</ul>
				<div class="tab-contents">
					<div class="con active">
						<div class="banner">
							<a href="#">
								<img src="../../jayjun/web/static/img/banner/product-style-banner01.jpg" alt="상품 배너">
							</a>
						</div>
						<div class="clear">
							<div class="left">
								<iframe title='NaverVideo'
									src='https://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=538092D8328B8FC42491DA0B300A64198F86&outKey=V125d3432e86cab3708b9977d5a4b782b3374d8c9ecf276a1ed08977d5a4b782b3374&controlBarMovable=true&jsCallable=true&skinName=tvcast_white'
									frameborder='no' scrolling='no' marginwidth='0' marginheight='0' allowfullscreen WIDTH='580' HEIGHT='326'
									style='width:580px; height:326px;'></iframe>
							</div>
							<div class="right">
								<div class="slider-wrap num01">
									<ul class="slider">
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods01.gif" alt="상품 배너">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods02.jpg" alt="상품 배너">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods03.gif" alt="상품 배너">
											</a>
										</li>
									</ul>
									<button class="btn-prev">
										<img src="../../jayjun/web/static/img/btn/btn-arr-left.png" alt="이전 버튼">
									</button>
									<button class="btn-next">
										<img src="../../jayjun/web/static/img/btn/btn-arr-right.png" alt="다음 버튼">
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="con">
						<div class="banner">
							<a href="#">
								<img src="../../jayjun/web/static/img/banner/product-style-banner02.jpg" alt="상품 배너">
							</a>
						</div>
						<div class="clear">
							<div class="left">
								<iframe title='NaverVideo'
									src='https://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=538092D8328B8FC42491DA0B300A64198F86&outKey=V125d3432e86cab3708b9977d5a4b782b3374d8c9ecf276a1ed08977d5a4b782b3374&controlBarMovable=true&jsCallable=true&skinName=tvcast_white'
									frameborder='no' scrolling='no' marginwidth='0' marginheight='0' allowfullscreen WIDTH='580' HEIGHT='326'
									style='width:580px; height:326px;'></iframe>
							</div>
							<div class="right">
								<div class="slider-wrap num02">
									<ul class="slider">
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods01.gif" alt="상품 배너">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods02.jpg" alt="상품 배너">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods03.gif" alt="상품 배너">
											</a>
										</li>
									</ul>
									<button class="btn-prev">
										<img src="../../jayjun/web/static/img/btn/btn-arr-left.png" alt="이전 버튼">
									</button>
									<button class="btn-next">
										<img src="../../jayjun/web/static/img/btn/btn-arr-right.png" alt="다음 버튼">
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="con">
						<div class="banner">
							<a href="#">
								<img src="../../jayjun/web/static/img/banner/product-style-banner03.jpg" alt="상품 배너">
							</a>
						</div>
						<div class="clear">
							<div class="left">
								<iframe title='NaverVideo'
									src='https://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=538092D8328B8FC42491DA0B300A64198F86&outKey=V125d3432e86cab3708b9977d5a4b782b3374d8c9ecf276a1ed08977d5a4b782b3374&controlBarMovable=true&jsCallable=true&skinName=tvcast_white'
									frameborder='no' scrolling='no' marginwidth='0' marginheight='0' allowfullscreen WIDTH='580' HEIGHT='326'
									style='width:580px; height:326px;'></iframe>
							</div>
							<div class="right">
								<div class="slider-wrap num03">
									<ul class="slider">
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods01.gif" alt="상품 배너">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods02.jpg" alt="상품 배너">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods03.gif" alt="상품 배너">
											</a>
										</li>
									</ul>
									<button class="btn-prev">
										<img src="../../jayjun/web/static/img/btn/btn-arr-left.png" alt="이전 버튼">
									</button>
									<button class="btn-next">
										<img src="../../jayjun/web/static/img/btn/btn-arr-right.png" alt="다음 버튼">
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="con">
						<div class="banner">
							<a href="#">
								<img src="../../jayjun/web/static/img/banner/product-style-banner04.jpg" alt="상품 배너">
							</a>
						</div>
						<div class="clear">
							<div class="left">
								<iframe title='NaverVideo'
									src='https://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=538092D8328B8FC42491DA0B300A64198F86&outKey=V125d3432e86cab3708b9977d5a4b782b3374d8c9ecf276a1ed08977d5a4b782b3374&controlBarMovable=true&jsCallable=true&skinName=tvcast_white'
									frameborder='no' scrolling='no' marginwidth='0' marginheight='0' allowfullscreen WIDTH='580' HEIGHT='326'
									style='width:580px; height:326px;'></iframe>
							</div>
							<div class="right">
								<div class="slider-wrap num04">
									<ul class="slider">
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods01.gif" alt="상품 배너">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods02.jpg" alt="상품 배너">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="../../jayjun/web/static/img/common/product-style-goods03.gif" alt="상품 배너">
											</a>
										</li>
									</ul>
									<button class="btn-prev">
										<img src="../../jayjun/web/static/img/btn/btn-arr-left.png" alt="이전 버튼">
									</button>
									<button class="btn-next">
										<img src="../../jayjun/web/static/img/btn/btn-arr-right.png" alt="다음 버튼">
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //product style -->

		<!-- box-banner -->
		<div class="box-banner">
			<div class="inner-wrap">
				<ul class="clear">
					<li>
						<a href="#">
							<img src="../../jayjun/web/static/img/banner/box-banner-sample.jpg" alt="이벤트 배너">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="../../jayjun/web/static/img/banner/box-banner-sample.jpg" alt="이벤트 배너">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="../../jayjun/web/static/img/banner/box-banner-sample.jpg" alt="이벤트 배너">
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- //box-banner -->

		<!-- new arrival -->
		<div class="list-goods-wrap mb-100">
			<div class="inner-wrap">
				<h3 class="sec-title">NEW ARRIVAL</h3>
				<ul class="list clear">
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //new arrival -->

		<!-- mid slider -->
		<div class="mid-banner">
			<div class="inner-wrap">
				<div class="slider-wrap">
					<ul class="slider">
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/banner/mid-banner-sample01.jpg" alt="상품 배너 이미지">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/banner/mid-banner-sample02.jpg" alt="상품 배너 이미지">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/banner/mid-banner-sample03.jpg" alt="상품 배너 이미지">
							</a>
						</li>
					</ul>
					<div class="controls">
						<button class="btn-prev">
							<img src="../../jayjun/web/static/img/btn/btn-arr-left-small.png" alt="이전 버튼">
						</button>
						<div class="btn-toggle-play">
							<button class="btn-play hide">
								<img src="../../jayjun/web/static/img/btn/btn-slider-play.png" alt="다음 버튼">
							</button>
							<button class="btn-pause">
								<img src="../../jayjun/web/static/img/btn/btn-slider-pause.png" alt="다음 버튼">
							</button>
						</div>
						<button class="btn-next">
							<img src="../../jayjun/web/static/img/btn/btn-arr-right-small.png" alt="다음 버튼">
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- //mid slider -->

		<!-- season item -->
		<div class="list-goods-wrap mb-100">
			<div class="inner-wrap">
				<h3 class="sec-title">SEASON ITEM</h3>
				<ul class="list clear">
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
					<li>
						<div class="img-wrap">
							<a href="#">
								<img class="goods-img" src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 리스트 이미지">
							</a>
							<img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
						</div>
						<div class="btn-view-layer">
						  <button class="btn-view-modal">
						    <img src="../../jayjun/web/static/img/icon/icon-search.jpg" alt="더보기 버튼">
						  </button>
						</div>
						<p class="name">[의약외품 손 소독제] 폴톤 핸드 세니타이저 겔 휴대용 소독 코튼 증정</p>
						<div class="price-wrap">
							<div class="price">
								<span class="origin">15,000원</span>
								<span class="divider">|</span>
								<span class="sale">9,900원</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //season item -->

		<!-- sns reviews-->
		<div class="sns-reviews">
			<div class="sns-bg">
				<div class="inner-wrap">
					<h3 class="sec-title">#환절기에도 #각질업는 #매끈피부</h3>
					<div class="sub-title">
						<span>INSTAGRAM</span>
						<span> | </span>
						<span>FACEBOOK</span>
					</div>
					<ul class="list clear">
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/sns-review-sample.jpg" alt="sns 후기 이미지">
								<p class="hash-tag">#쌍욕세럼 #피지,블랙헤드 순삭 #인스타그램 #_adorable_hxx</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/sns-review-sample.jpg" alt="sns 후기 이미지">
								<p class="hash-tag">#쌍욕세럼 #피지,블랙헤드 순삭 #인스타그램 #_adorable_hxx</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/sns-review-sample.jpg" alt="sns 후기 이미지">
								<p class="hash-tag">#쌍욕세럼 #피지,블랙헤드 순삭 #인스타그램 #_adorable_hxx</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/sns-review-sample.jpg" alt="sns 후기 이미지">
								<p class="hash-tag">#쌍욕세럼 #피지,블랙헤드 순삭 #인스타그램 #_adorable_hxx</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/sns-review-sample.jpg" alt="sns 후기 이미지">
								<p class="hash-tag">#쌍욕세럼 #피지,블랙헤드 순삭 #인스타그램 #_adorable_hxx</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/sns-review-sample.jpg" alt="sns 후기 이미지">
								<p class="hash-tag">#쌍욕세럼 #피지,블랙헤드 순삭 #인스타그램 #_adorable_hxx</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/sns-review-sample.jpg" alt="sns 후기 이미지">
								<p class="hash-tag">#쌍욕세럼 #피지,블랙헤드 순삭 #인스타그램 #_adorable_hxx</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/sns-review-sample.jpg" alt="sns 후기 이미지">
								<p class="hash-tag">#쌍욕세럼 #피지,블랙헤드 순삭 #인스타그램 #_adorable_hxx</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/sns-review-sample.jpg" alt="sns 후기 이미지">
								<p class="hash-tag">#쌍욕세럼 #피지,블랙헤드 순삭 #인스타그램 #_adorable_hxx</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../jayjun/web/static/img/common/sns-review-sample.jpg" alt="sns 후기 이미지">
								<p class="hash-tag">#쌍욕세럼 #피지,블랙헤드 순삭 #인스타그램 #_adorable_hxx</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //sns reviews-->

		<!-- links -->
		<div class="link-area">
			<div class="inner-wrap clear">
				<div class="left">
					<a href="#">
						<img src="../../jayjun/web/static/img/common/bottom-link-sample01.jpg" alt="링크 배너 이미지">
					</a>
				</div>
				<div class="center">
					<a href="#">
						<img src="../../jayjun/web/static/img/common/bottom-link-sample02.jpg" alt="링크 배너 이미지">
					</a>
					<a href="#">
						<img src="../../jayjun/web/static/img/common/bottom-link-sample03.jpg" alt="링크 배너 이미지">
					</a>
				</div>
				<div class="right">
					<a href="#">
						<img src="../../jayjun/web/static/img/common/bottom-link-sample04.jpg" alt="링크 배너 이미지">
					</a>
				</div>
			</div>
		</div>
		<!-- //links -->
	</main>
</div>
<!-- //content -->

<!-- modal -->
<div class="bpopup goods-summary">
  <button class="btn-close"
    onClick="javascript:$('.bpopup.goods-summary').bPopup().close();">
    <img src="../../jayjun/web/static/img/btn/btn-popup-close.jpg" alt="닫기 버튼">
  </button>
	<div class="clear">
		<div class="thumb">
      <div class="goods-img">
        <a href="#">
          <img src="../../jayjun/web/static/img/common/goods-list-sample.jpg" alt="상품 이미지">
          <img class="label-discount" src="../../jayjun/web/static/img/common/label-discount.png" alt="할인 라벨">
        </a>
      </div>
			<div class="btns">
				<button class="btn-view-bigger">
					<i class="icon-plus-red"></i>
					<span>큰이미지 보기</span>
				</button>
				<button>
					<i class="icon-search-red"></i>
					<span>상품 자세히보기</span>
				</button>
			</div>
		</div>
		<div class="info">
			<h3 class="title">[의약외품 손 소독제] 폴튼 핸드세니타이저겔 ★휴대용 소독코튼 증정★</h3>
			<div class="origin-price">
				<span>소비자 가격 : </span>
				<span class="del">15,000원</span>
			</div>
			<div class="sale-price">
				<span>판매할인가 : </span>
				<span>9,000원</span>
			</div>
			<div class="opts-wrap">
        <p class="mb-5"><strong>기본옵션</strong></p>
        <ul class="options">
          <li>
            <label for="">상품선택</label>
            <div class="select is-custom">
              <select title="타이틀작성 필수">
                <option>의약외품 손 소독제</option>
              </select>
            </div>
          </li>
          <li>
            <label for="">수량</label>
            <div class="quantity">
              <input type="text" value="1" title="타이틀 작성" readonly="">
              <button class="plus">수량증가</button>
              <button class="minus">수량감소</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="btn-sns">
        <a href="#">
          <img src="../../jayjun/web/static/img/icon/icon-fb.gif" alt="페이스북 버튼">
        </a>
        <a href="#">
          <img src="../../jayjun/web/static/img/icon/icon-insta.gif" alt="페이스북 버튼">
        </a>
        <p class="mt-10">재고 수량 : 무제한</p>
      </div>
      <div class="btns">
        <button class="btn-point red">
          <span>즉시구매</span>
        </button>
        <button class="btn-point">
          <span>장바구니 담기</span>
        </button>
        <button class="btn-point">
          <span>관심상품 등록</span>
        </button>
      </div>
		</div>
	</div>
</div>
<!-- //modal -->


<script>
	$(function () {
    // 상품 요약 보기 팝업
    $('.btn-view-modal').click(function () {
      $('.bpopup.goods-summary').bPopup({
        position: ['auto', 'auto'], //x, y
        modalClose: true
      });
    });

		// 탑으로 이동
		$('.btn-top').on('click',function(){
			$('html, body').animate({'scrollTop':0},300);
		});

		// 사이드 바 위치 
		$(window).scroll(function(){
			var scrollTop = $(window).scrollTop();
			if(scrollTop > 900) {
				$('.side-area.mainpage').css({'position':'fixed', 'top':'20px'});
			} else {
				$('.side-area.mainpage').css({'position':'absolute', 'top':'900px'});
			}
		});

		// main slider
		$('.main-slider-banner').slick({
			dots: true,
			infinite: true,
			speed: 300,
			slidesToShow: 1,
			adaptiveHeight: true,
			prevArrow: '.main-slider-wrap .btn-prev',
			nextArrow: '.main-slider-wrap .btn-next',
			autoplay: true,
		});	

		// mid banner slider
		$('.mid-banner .slider').slick({
			infinite: true,
			speed: 300,
			slidesToShow: 1,
			adaptiveHeight: true,
			prevArrow: '.mid-banner .btn-prev',
			nextArrow: '.mid-banner .btn-next',
			autoplay: true,
		});

		$('.mid-banner .btn-play').on('click', function () {
			$(this).addClass('hide');
			$(this).siblings('.btn-pause').removeClass('hide');
			$('.mid-banner .slider').slick('slickPlay')
		});

		$('.mid-banner .btn-pause').on('click', function () {
			$(this).addClass('hide');
			$(this).siblings('.btn-play').removeClass('hide');
			$('.mid-banner .slider').slick('slickPause')
		});

		// init : product style 첫번째 탭 상품 슬라이더 그리기
		$('.slider-wrap.num01 .slider').slick({
			infinite: true,
			speed: 300,
			slidesToShow: 1,
			adaptiveHeight: true,
			prevArrow: '.slider-wrap.num01 .btn-prev',
			nextArrow: '.slider-wrap.num01 .btn-next',
		});

		// 탭 메뉴 클릭
		$('.tab-menu li').click(function () {
			$(this).addClass('active');
			$(this).siblings().removeClass('active');

			var targetIndex = $(this).index();
			$('.tab-contents .con').eq(targetIndex).addClass('active');
			$('.tab-contents .con').eq(targetIndex).siblings().removeClass('active');

			var sliderIdxClass = '.num0' + (targetIndex + 1);
			renderGoodsSlider(sliderIdxClass);
		});

		// product style 상품 슬라이더 그리기 ( 탭 클릭시 마다 그려야 됨 )
		function renderGoodsSlider(sliderNum) {
			$('.slider-wrap' + sliderNum + ' .slider').slick({
				infinite: true,
				speed: 300,
				slidesToShow: 1,
				adaptiveHeight: true,
				prevArrow: '.slider-wrap' + sliderNum + ' .btn-prev',
				nextArrow: '.slider-wrap' + sliderNum + ' .btn-next',
			});
		}
	});
</script>