@charset "utf-8";

/* CSS 리셋 설정 */
*{border:0;padding:0;margin:0;color:inherit;font-size:inherit;font-family:inherit;line-height:inherit;vertical-align:top}
header,main,footer,aside,nav,section,article,details,summary,figure,figcaption,menu,command{display:block}
q,blockquote{quotes:none;content:none}
ul,ol,li,menu{list-style:none}

table{width:100%;border-collapse:collapse;border-spacing:0}
caption{text-align:left}
th,td{text-align:center;vertical-align:middle}

address{font-style:normal}
label{display:inline-block}
a{text-decoration:none;display:inline-block}

/* 공통 설정 */
html,body{min-width:320px;background:#fff;-webkit-text-size-adjust:none}
body{color:#000;font:14px/1 "Helvetica",sans-serif;letter-spacing:-0.5px}
img{width:100%}
input[type="text"],
input[type="password"],
textarea{border-radius:0;resize:none;-webkit-appearance:none}
select{width:100%;height:28px;padding-left:4px;border:1px solid #cacaca;border-radius:0;color:#3b3b3b;background:#fff url("../images/select_arrow.png") no-repeat 100% 0;background-size:contain;appearance:none;-webkit-appearance:none;-moz-appearance:none}

.blind{position:absolute;width:0;height:0;left:0;top:0;font-size:0;line-height:0;overflow:hidden}
.hidden{width:0;height:0;font-size:0;line-height:0;overflow:hidden}
.hide {display:none;}

.container{position:relative}
.container:after{clear:both;content:"";display:block}

/* 본문 바로가기 */
.btn_skip{z-index:1000;position:fixed;width:100%;padding:10px 0;border-bottom:1px solid #000;left:0;top:-100px;text-align:center;background:#fff}
.btn_skip.on{top:0}
.btn_skip a{color:#000;font-weight:bold}

/* 헤더 */
#header{z-index:520;width:100%;min-width:320px;position:fixed}
#header .topwrap{position:relative;height:45px; background:#E8380D;}
#header .topwrap h1{display:inline-block;}

#header .topwrap nav.gnb{height:45px;}
#header .topwrap nav.gnb ul{height:100%}
#header .topwrap nav.gnb li{float:left;height:100%; text-align:center; position:relative;}
#header .topwrap nav.gnb li:before {content:""; width:1px; height:100%; background:#CD4804; position:absolute; left:0px; top:0px;}
#header .topwrap nav.gnb li:first-child:before {display:none;}
#header .topwrap nav.gnb li:nth-of-type(1) {width:14%;}
#header .topwrap nav.gnb li:nth-of-type(2) {width:14%;}
#header .topwrap nav.gnb li:nth-of-type(3) {width:20%;}
#header .topwrap nav.gnb li:nth-of-type(4) {width:12%;}
#header .topwrap nav.gnb li:nth-of-type(5) {width:23%;}
#header .topwrap nav.gnb li:nth-of-type(6) {width:17%;}
#header .topwrap nav.gnb li a{height:100%;color:#fff;font-size:14px;font-weight:bold;text-align:center;line-height:46px;display:block}

#header .topwrap nav.gnb li:nth-of-type(1).on {background:#CD4804 url(../images/header_logo.png) center no-repeat; }
#header .topwrap nav.gnb li:nth-of-type(2).on {background:#CD4804 url(../images/gnb_menu_ico01.png) center no-repeat; }
#header .topwrap nav.gnb li:nth-of-type(3).on {background:#CD4804 url(../images/gnb_menu_ico02.png) center no-repeat; }
#header .topwrap nav.gnb li:nth-of-type(4).on {background:#CD4804 url(../images/gnb_menu_ico04.png) center no-repeat; }
#header .topwrap nav.gnb li:nth-of-type(5).on {background:#CD4804 url(../images/gnb_menu_ico05.png) center no-repeat; }
#header .topwrap nav.gnb li:nth-of-type(6).on {background:#CD4804 url(../images/gnb_menu_ico06.png) center no-repeat; }
#header .topwrap nav.gnb li:nth-of-type(1).on , #header .topwrap nav.gnb li:nth-of-type(2).on , #header .topwrap nav.gnb li:nth-of-type(3).on  , #header .topwrap nav.gnb li:nth-of-type(4).on , #header .topwrap nav.gnb li:nth-of-type(5).on , #header .topwrap nav.gnb li:nth-of-type(6).on
{background-size:45px; text-indent:-9999px;}
#header .topwrap nav.gnb li.on {background:#c1181f;}
#header .topwrap nav.gnb li.on span {display:block;position:absolute; content:""; bottom:-4px; left:0px; width:100%; height:4px; background:url(../images/gnb_on_arrow.png) center no-repeat ; z-index:550; background-size:contain;}
#header .topwrap nav.gnb li h1 img {width:40px; height:37px;}

#header .topwrap .catewrap{position:absolute;right:0;top:7px}
#header .topwrap .catewrap a.btn_open{width:30px}

/* 카테고리 */
#category{z-index:1;position:fixed;width:100%;min-width:320px;height:100%;left:0;top:0;display:none}
#category .cover{width:100%;height:100%;background:#000;opacity:0}
#category .catebox{position:absolute;width:86%;height:100%;right:-100%;top:0}
#category .catebox a.btn_close{position:absolute;width:45px;left:-45px;top:0}

#category .catebox .logbox{height:45px;background:#071232}
#category .catebox .logbox p{float:left;margin-left:13px;color:#fff;line-height:45px}
#category .catebox .logbox a{float:right;height:22px;padding:0 6px;border:1px solid #1e2e5a;border-radius:4px;margin:10px 8px 0 0;color:#fff;font-size:12px;line-height:22px;background:linear-gradient(#12214e,#071233);background:-webkit-linear-gradient(#12214e,#071233);overflow:hidden}

#category nav.quick{height:50px;background:#fff}
#category nav.quick ul{height:100%}
#category nav.quick li{float:left;position:relative;width:25%;height:100%}
#category nav.quick li:before{position:absolute;height:100%;border-left:1px solid #bdbdbd;left:0;top:0;content:"";display:block}
#category nav.quick li:first-child:before{border:0}
#category nav.quick li a{height:100%;text-align:center;overflow:hidden;display:block}
#category nav.quick li a img{width:auto;height:22px;margin:7px 0 5px}
#category nav.quick li a span{color:#707070;font-size:10px;display:block}

#category nav.menu{position:absolute;width:100%;margin:95px 0 35px;left:0;top:0;bottom:0;background:#eee;overflow-y:auto}
#category nav.menu li a{position:relative;height:42px;padding:0 6px 0 13px;border-top:1px solid #4a4a4a;border-bottom:1px solid #2e2e2e;color:#fff;font-weight:bold;line-height:42px;background:#3b3b3b;display:block}
#category nav.menu > ul > li:first-child > a{border-top:0}
#category nav.menu > ul > li:last-child > a{border-bottom:0}
#category nav.menu li .arrow{position:absolute;width:22px;height:22px;right:10px;top:10px;background:url("../images/header_category_ico_arrow.png") no-repeat 0 0;background-size:22px 44px}
#category nav.menu li.link .arrow{background:url("../images/header_category_ico_link.png") no-repeat 0 0;background-size:22px 22px}
#category nav.menu li.on .arrow{background-position:0 100%}
#category nav.menu li.on > a{background:#ff4e08}
#category nav.menu li ul{display:none}
#category nav.menu li li a{padding:0 10px 0 20px;border-top-color:#aaa;background:#898989 url("../images/header_category_ico_link.png") no-repeat 100% 10px;background-size:22px 22px;background-origin:content-box}

#category .logobox{position:absolute;width:100%;height:35px;left:0;bottom:0;text-align:center;background:#071232}
#category .logobox img{width:70px;margin-top:10px}

/* 내용 */
#content{}
#content h2.title{padding:12px 0;color:#424242;text-align:center}

/* 푸터 */
#footer{padding-bottom:30px;background:#a9a9a9}
#footer nav.util{background:#a9a9a9; padding:20px 0px; text-align:center;}
#footer nav.util a{position:relative;color:#fff;text-align:center;;overflow:hidden;display:inline-block; font-size:12px; padding:0px 5px;}
#footer nav.util a:before{position:absolute;height:100%;border-left:1px solid #fff;left:0;top:0;content:"";display:block}
#footer nav.util a:first-child:before{border:0}

#footer address{margin:0 0 0 10px;color:#f2f2f2;font-size:12px;line-height:15px}
#footer address span.as{margin-left:17px;display:inline-block}
#footer address a{color:#fff}
#footer p{margin:12px 0 0 10px;color:#f2f2f2;font-size:12px;line-height:15px}

/* 하단 메뉴 고정 */
a.btn_top{z-index:10;position:fixed;width:41px;right:10px;bottom:80px}
#bottom{z-index:10;position:fixed;width:100%;min-width:320px;left:0;bottom:0;background:#fff}

#bottom nav.quick{border-top:1px solid #474747;overflow:hidden}
#bottom nav.quick ul{position:relative;height:49px}
#bottom nav.quick li{float:left;width:16.6%;height:100%}
#bottom nav.quick li:first-child{width:17%;}
#bottom nav.quick li a{height:100%;text-align:center;overflow:hidden;display:block}
#bottom nav.quick li a .icobox{height:49px;overflow:hidden}
#bottom nav.quick li a .icobox img{width:auto;height:200%}
#bottom nav.quick li a > span{position:absolute;width:100%;left:0;bottom:4px;color:#7a7a7a;font-size:9px;font-weight:bold;display:block}

#bottom nav.quick li .numbox{position:absolute;margin-left:4px;left:50%;top:6px}
#bottom nav.quick li .numbox > span{position:absolute;width:4px;height:3px;left:0;bottom:2px;font-size:0;text-indent:-9999px;background:url("../images/bottom_nav_ico_cart_cone.png") no-repeat 0 0;background-size:4px 6px;overflow:hidden;display:block}
#bottom nav.quick li .numbox strong{height:11px;border-radius:6px;padding:0 6px;color:#fff;font-size:8px;line-height:12px;background:#414141;overflow:hidden;display:inline-block}
#bottom nav.quick li .numbox strong span{margin:0 -3px;display:inline-block}

#bottom nav.quick li.on {}
#bottom nav.quick li.on .icobox img{margin-top:-49px}
#bottom nav.quick li.on a > span{color:#ff4e08}
#bottom nav.quick li.on .numbox > span{background-position:0 100%}
#bottom nav.quick li.on .numbox strong{background:#ff4e08}

/* 페이징 */
.paginate{text-align:center}
.paginate .pagebox{display:inline-block}
.paginate .pagebox a{height:25px;border:1px solid #bdbdbd;border-radius:2px;color:#242424;font-weight:bold;text-align:center;line-height:26px;background:linear-gradient(#fff,#dedede);background:-webkit-linear-gradient(#fff,#dedede);overflow:hidden;display:block}
.paginate .pagebox a.arrow{float:left;width:47px}
.paginate .pagebox ul{float:left;margin-right:7px}
.paginate .pagebox li{float:left;margin-left:7px}
.paginate .pagebox li a{width:25px}
.paginate .pagebox li.on a{border-color:#ac3d11;color:#fff;background:linear-gradient(#ff733b,#ff4f09);background:-webkit-linear-gradient(#ff733b,#ff4f09)}

.page_num {text-align:center; position:relative; margin:0px 10px; height:24px;}
.page_num:after {content:""; display:block; clear:both;}
.page_num span {line-height:24px; font-weight:bold; font-size:12px;}
.page_num a.btn {display:block; width:38px; height:22px; line-height:22px; border:1px solid #dfdfdf ;background:linear-gradient(#f6f6f6,#ededed);background:-webkit-linear-gradient(#f6f6f6,#ededed); text-align:center; font-size:11px; color:#595959;}
.page_num a.btn.prev {float:left;}
.page_num a.btn.next {float:right;}

/* 레이어 */
.layer{z-index:30;position:fixed;width:100%;height:100%;left:0;top:0;display:none}
.layer .cover{height:100%;background:#000;opacity:0.7}
.layer .layerwrap{position:absolute;left:50%;top:50%;background:#fff;overflow-y:auto}

/* 마진,패딩,컬러*/
.point {color:#ff4e08}
.mt0 {margin-top:0px !important}
.mt10 {margin-top:10px}

/* 중앙정렬 버튼 */
nav.cButton {margin:25px 0;text-align:center}
nav.cButton ul{display:inline-block}
nav.cButton li{float:left;width:100px;margin:0 3px}
nav.cButton li.wide {width:150px}
nav.cButton li a{padding:1px;color:#fff;font-size:13px;font-weight:bold;text-align:center;background:#555;display:block}
nav.cButton li a span{height:27px;border:1px solid #898989;line-height:28px;overflow:hidden;display:block}
nav.cButton li a.red{background:#ff4e08}
nav.cButton li a.red span{border-color:#ff9e78}


/* 더보기 버튼 */
a.btn_more {display:block; margin:0px 10px; font-weight:bold;height:23px; border:1px solid #e1e1e1; text-align:center; line-height:25px; font-size:12px; color:#595959; background:linear-gradient(#f7f7f7,#eeeeee);background:-webkit-linear-gradient(#f7f7f7,#eeeeee);}

/* 페이지 타이틀 */
nav.sub_page_title {height:38px;background:#3b3b3b; position:relative; text-align:center; line-height:38px; color:#fff; font-size:14px;}
nav.sub_page_title a.btn_back {display:block; width:38px; height:38px; background:url(../images/ico_back_arrow.png) 10px 10px no-repeat; background-size:10px; position:absolute; top:0px; left:0px;}

/*모바일용 추가*/
div.btn_area {margin-bottom:5px;}

