<div class="table_style02">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<colgroup>
			<col width="60">
			<col width="150">
			<col width="150">
			<col width="*">
			<col width="150">
			<col width="80">
			<col width="80">
		</colgroup>
		<tbody>
			<tr>
				<th>No</th>
				<th>아이콘 이미지(PC)</th>
				<th>아이콘 이미지(Mobile)</th>
				<th>아이콘명</th>
				<th>등록일</th>
				<th>수정</th>
				<th>삭제</th>
			</tr>
			{@ list}
			<tr data-idx="{.idx}">
				<td>{.no}</td>
				<td data-field="icon_pc">{? .icon_pc}<img src="{.icon_pc}" alt="" class="icon-preview">{/}</td>
				<td data-field="icon_mobile">{? .icon_mobile}<img src="{.icon_mobile}" alt="" class="icon-preview">{/}</td>
				<td data-field="icon_name">{.icon_name}</td>
				<td>{=format(.date_insert,'Y-m-d H:i:s')}</td>
				<td>
					<button type="button" class="btn btn-sm btn-outline-info" onclick="ProductIcon.modify('{.idx}')"><i class="fa fa-pencil"></i> 수정</button>
				</td>
				<td>
					{? .is_fix=='Y'}
					-
					{:}
					<button type="button" class="btn btn-sm btn-outline-danger" onclick="ProductIcon.remove('{.idx}','{.is_fix}')" {? .is_fix == 'Y'}disabled title="삭제불가한 아이콘입니다."{/} ><i class="fa fa-times"></i> 삭제
					{/}
				</td>
			</tr>
			{:}

			<tr height="28">
				<td colspan="7" align="center">조회된 내용이 없습니다.</td>
			</tr>
			{/}
		</tbody>
	</table>

	{this->xprint('include/pagination.html')}
</div>
