<div class="admin_linemap"><div class="line"><p>현재위치 : 상품관리 &gt; 상품 일괄 관리 &gt; <span>예약판매 일괄 수정</span></p></div></div>
<table cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
	<colgroup>
		<col width=240 id="menu_width">
		<col width=10>
		<col width="*">
		<col width=20>
	</colgroup>
	<tr>
		<td valign="top">
			{=include("menu_product.php")}
		</td>
		<td></td>
		<td valign="top">
			<div class="title_depth3">예약판매 일괄 수정</div>

			<!--{* 검색:S *}-->
			<form id="FrmProductSearch" name="FrmProductSearch">
			<input type="hidden" name="sort" value="reg_desc" /> <!-- 정렬기준 -->
			<input type="hidden" name="limit" value="20" /><!-- 페이지당노출개수 -->
			<div class="table_style01 pt_20">
				<table cellpadding=0 cellspacing=0 border=0 width="100%">
					<tr>
						<th><span>상품검색</span></th>
						<td>
							<label><input type="radio" name="sf" value="productname" class="hj" checked><span class="lbl">쇼핑몰상품명</span></label>
							<label><input type="radio" name="sf" value="prodcode" class="hj"><span class="lbl">상품코드</span></label>
							<label><input type="radio" name="sf" value="productcode" class="hj"><span class="lbl">관리코드</span></label>
							<textarea rows="2" cols="10" class="w200" name="sv" id="s_keyword" style="resize:none;vertical-align:middle;"></textarea>
						</td>
					</tr>
					<tr>
						<th><span>카테고리검색</span></th>
						<td>
							<select name="category[]" style="width:200px;" onchange="ProductBatchReserve.loadCategory(this)">
								<option value="">〓〓 1차 카테고리 〓〓</option>
								{@ category.c2}
								<option value="{.code_all}">{.code_name}</option>
								{/}
							</select>

							<select name="category[]" style="width:200px;" onchange="ProductBatchReserve.loadCategory(this)">
								<option value="">〓〓 2차 카테고리 〓〓</option>
							</select>

							<select name="category[]" style="width:200px;">
								<option value="">〓〓 3차 카테고리 〓〓</option>
							</select>
						</td>
					</tr>
					<tr>
						<th><span>기간검색</span></th>
						<td>
							<select name="date_sf">
								<option value="regdate">등록일</option>
								<option value="selldate">승인일</option>
								<option value="modifydate">업데이트일</option>
							</select>
							<input type="text" name="date_start" OnClick="Calendar(event)" value="" class="input_bd_st01 calendar" /> ~ <input type="text" name="date_end" OnClick="Calendar(event)" value="" class="calendar input_bd_st01" />
							<a href="javascript:;" onclick="ProductBatchReserve.setPeriod('today')"><img src="images/btn_today01.gif" class="middle" /></a>
							<a href="javascript:;" onclick="ProductBatchReserve.setPeriod('7_days')"><img src="images/btn_day07.gif" class="middle" /></a>
							<a href="javascript:;" onclick="ProductBatchReserve.setPeriod('14_days')"><img src="images/btn_day14.gif" class="middle" /></a>
							<a href="javascript:;" onclick="ProductBatchReserve.setPeriod('1_months')"><img src="images/btn_day30.gif" class="middle" /></a>
							<a href="javascript:;" onclick="ProductBatchReserve.setPeriod('all')"><img src="images/btn_day_total.gif" class="middle" ></a>
						</td>
					</tr>
					<tr>
						<th><span>상품금액별 검색</span></th>
						<td><input class="input_bd_st01" type="text" name="sellprice_min" value=""  data-filter="numeric" placeholder="숫자로만 검색" /> 원 ~ <input class="input_bd_st01" type="text" name="sellprice_max" value=""  data-filter="numeric"/> 원</td>
					</tr>
					<tr>
						<th><span>승인상태</span></th>
						<td>
							<label><input type="radio" name="display" value="" class="hj" checked><span class="lbl">전체</span></label>
							<label><input type="radio" name="display" value="R" class="hj"><span class="lbl">대기</span></label>
							<label><input type="radio" name="display" value="N" class="hj"><span class="lbl">승인보류</span></label>
							<label><input type="radio" name="display" value="Y" class="hj"><span class="lbl">승인완료</span></label>
						</td>
					</tr>
					<tr>
						<th><span>판매상태</span></th>
						<td>
							<label><input type="radio" name="soldout" value="" class="hj" checked><span class="lbl">전체</span></label>
							<label><input type="radio" name="soldout" value="N" class="hj"><span class="lbl">판매중</span></label>
							<label><input type="radio" name="soldout" value="S" class="hj"><span class="lbl">판매중지</span></label>
							<label><input type="radio" name="soldout" value="Y" class="hj"><span class="lbl">품절</span></label>
						</td>
					</tr>
					<tr>
						<th><span>예약판매</span></th>
						<td>
							<label><input type="radio" name="reserve_yn" value="" class="hj" checked><span class="lbl">전체</span></label>
							<label><input type="radio" name="reserve_yn" value="Y" class="hj"><span class="lbl">Y</span></label>
							<label><input type="radio" name="reserve_yn" value="N" class="hj"><span class="lbl">N</span></label>
						</td>
					</tr>
					<tr>
						<th><span>품절옵션</span></th>
						<td>
							<label><input type="radio" name="option_soldout" value="" class="hj" checked><span class="lbl">전체</span></label>
							<label><input type="radio" name="option_soldout" value="Y" class="hj"><span class="lbl">Y</span></label>
							<label><input type="radio" name="option_soldout" value="N" class="hj"><span class="lbl">N</span></label>
						</td>
					</tr>
					
				</table>

				<div class="ta_c mt_20">
					<button type="button" class="btn-point" onclick="ProductBatchReserve.search()">조회</button>
					<button type="button" class="btn-basic" onclick="ProductBatchReserve.searchReset()">초기화</button>
				</div>
			</div>
			</form>
			<!--{* 검색:E *}-->


			<!--{* 상단툴:S *}-->
			<div class="row mb_10">
				<div class="pull-left">
					<img src="images/icon_8a.gif" border="0"> 전체 <span id="count_total"></span>건 조회
					<button type="button" class="btn-basic dark h-x-small" onclick="ProductBatchReserve.excel()" style="vertical-align:middle">엑셀 다운로드</button>
				</div>
				<div class="pull-right">
					<select name="listnum_select" onchange="ProductBatchReserve.search('limit',this.value)">
						{@ cfg.limit}
						<option value="{.value_}">{.value_}개씩 보기</option>
						{/}
						<option value="100000">전체</option>
					</select>

					
				</div>
			</div>
			<!--{* 상단툴:E *}-->

			<!--{* 목록:S *}-->
			<form id="FrmBatchReserveList" name="FrmBatchReserveList">
			<div id="inner"></div>
			</form>
			<!--{* 목록:E *}-->

			<!--{* 일괄변경:S *}-->

			<form id="FrmProductBatchReserve">
			<input type="hidden" name="mode" value="batch" />
			<input type="hidden" name="act" value="reserve_excel" />
			<div class="area-bottom ta_c">
				<span class="tit">일괄 업데이트</span>

				<button type="button" class="ml_10" onclick="ProductBatchReserve.sample()" style="background-color:#A0A0A0">양식다운로드</button>
				<span class="bar"></span>
				<button type="button" data-attach="excel" class="btn-basic" style="padding:6px;height:26px;min-width:80px;background-color:#A0A0A0">파일선택</button>
				<span id="excel_view" class="ml_5">파일을 선택하세요.</span>
				<input type="file" id="excel" class="hide" name="excel">
				
				<button type="button" class="ml_10" onclick="ProductBatchReserve.batch()">일괄적용</button>

				<span class="bar"></span>
				<button type="button" class="btn-point dark h-x-small" onclick="ProductBatchReserve.submitBatch();" style="background-color:#0FA7A8;">저장</button>
			</div>
			<!--{* 일괄변경:E *}-->
			</form>
		</td>
	</tr>
</table>

<textarea id="searched" style="display:none">{searched}</textarea>

<script type="text/javascript" src="/static/js/blazy.min.js"></script>
<script type="text/javascript" src="/admin/static/js/jquery.form.js?{C.VER}"></script>
<script type="text/javascript" src="/admin/static/js/moment.js"></script>
<script type="text/javascript" src="/admin/static/js/jquery.validationEngine.js?{C.VER}"></script>
<script type="text/javascript" src="/admin/static/js/jquery.validationEngine-kr.js?{C.VER}"></script>
<script type="text/javascript" src="calendar.js"></script>
<script type="text/javascript">
var ProductBatchReserve ={
	page:1,
	proc_url:'/admin/proc/product.proc.php',
	init: function(){
		this.load();

		$('[data-attach]').on('click', function() {
			var target = $(this).data('attach');
			$('#'+target).trigger('click');
		});

		$('input[type=file]').on('change', this.attach);
		
		//숫자만입력
		$('[data-filter="numeric"]').on('keydown input', function(evt) {
			var v = $(this).val();
			$(this).val(v.replace(/[^0-9]/g,''));
		});
	},
	attach: function() {
		var input = this;
		var accept = (/\.(xls|xlsx)$/i).test(input.value);
		if(!accept) {
			alert('엑셀 파일만 업로드 가능합니다.');
			return false;
		}
		$('#excel_view').text(input.value);
	},
	load:function(page) {
		//UI.loading('inner');
		UI.ing('데이터를 불러오는 중입니다...');

		var p = page || ProductBatchReserve.page;
		var search = $('#FrmProductSearch').serialize();

		$('#inner').load('/admin/product_batch_reserve.inner.php',{page:p, search:search},
			function() {
				//UI.loading('inner');
				UI.ing();
				ProductBatchReserve.page = p;
				UI.toggleCheck();


				
			}
		);
	},
	loadPage: function(page) {
		this.load(page);
		var offset = $('#inner').offset();
		console.log(offset);
		UI.top(offset.top-60);
		
	},
	loadCategory: function(ele) {
		var el = $(ele);
		var parent_code = el.val();
		var target = el.next('select');
		el.nextAll('select').find('option[value!=""]').remove();

		//target.empty();

		$.ajax({
			url:this.proc_url,
			data:{
				mode:'category',
				act:'get_children',
				parent_code:parent_code
			},
			dataType:'json',
			type:'POST',
			success: function(r) {
				if(r.success){
					$.each(r.data, function(i,e){
						var opt = $('<option value="'+e.code_all+'">'+e.code_name+'</option>');
						target.append(opt);
					})
				}
			}
		})
	},
	search: function(field, value) {
		if(field && value) $('#FrmProductSearch').find('[name="'+field+'"]').val(value);
		this.load(1);
	},
	searchReset: function() {
		$('#FrmProductSearch')[0].reset();
		this.load(1);
	},
	setPeriod: function(sub) {
		var period = UTIL.period('<?=TIMESTAMP?>',sub);
		document.FrmProductSearch.date_start.value = period.start;
		document.FrmProductSearch.date_end.value = period.end;
	},
	input:function(prcode) {
		window.open("/admin/product_input.php?prcode="+prcode,"register","width=1500,height=700,scrollbars=yes,status=no");
	},
	submitBatch: function() {
		$("#FrmBatchReserveList").validationEngine('validate');
	},
	saveBatch: function() {
		if(!confirm('저장하시겠습니까?')) return false;
		var formdata = $('#FrmBatchReserveList').serializeArray();
		formdata.push({name:'mode', value:'batch'});
		formdata.push({name:'act', value:'reserve'})
		
		$.ajax({
			url:this.proc_url,
			data:formdata,
			dataType:'json',
			type:'POST',
			success: function(r) {
				alert(r.msg);
				if(r.success) ProductBatchReserve.load();
				
			}
		})
	},
	batch: function() {
		var file = $('#excel').val();
		if(!file) {
			alert('파일을 선택하세요.');
			return false;
		}

		if(!confirm("일괄적용하시겠습니까?")) return false;
		UI.ing('업데이트중입니다.')
		var options = {
			url:this.proc_url,
			type:'POST',
			dataType:'json',
			success : function(r) {
				$('#FrmProductBatchReserve')[0].reset();
				$('#excel_view').text('파일을 선택하세요.');
				UI.ing();
				if(r.success) {
					//r.data.push({name:'callback', value:'ProductBatchReserve.load'});
					r.data.callback = 'ProductBatchReserve.load';
					UI.modal('/admin/product_batch_update.result.php','예약판매 일괄수정 결과', r.data, 600);
				}
				else {
					alert(r.msg);
				}
			}

		}
		$('#FrmProductBatchReserve').ajaxSubmit(options);
	},
	sample: function() {
		document.location.href='/data/excel/예약판매일괄수정_양식_V0.1.xlsx';
	},
	excel: function() {
		var search = $('#searched').val(); //$('#FrmProductSearch').serialize()
		UI.modal('/admin/product_excel.php','엑셀다운로드', {item:'option',search:search}, 800);
	}
}

$(function() {
	ProductBatchReserve.init();
})
</script>