<div class="table_style02 mt_30">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed">
		<colgroup>
			<col style="width:50px" />
			<col style="width:200px" /><!-- 구분 -->
			<col /><!-- 조견표명 -->
			<col style="width:200px" /><!-- 최종업데이트일 -->
			<col style="width:200px" /><!-- 등록자 -->
		</colgroup>
		
		<tr>
			<th>No</th>
			<th>조견표구분</th>
			<th>노출카테고리</th>
			<th>수정</th>
			<th>삭제</th>
		</tr>
		{@ list}
		<tr>
			<td>{.no}</td>
			<td class="ta_l">{.size_grp} &gt; {.size_name}</td>
			<td class="ta_l">
				{=implode(' &gt; ', array_column(.product_category_nav,'name') )}
			</td>
			<td><button type="button" class="btn_type1" onclick="ProductSizeShow.register('{.idx}')">수정</button></td>
			<td><button type="button" class="btn_type1" onclick="ProductSizeShow.remove('{.idx}')">삭제</button></td>
		</tr>
		{:}
		<tr height="28">
			<td colspan="5" align="center">조회된 내용이 없습니다.</td>
		</tr>
		{/}
	</table>

	{this->xprint('include/pagination.html')}

	<div class="ta_r">
		<button type="button" class="btn-point" onclick="ProductSizeShow.register()">등록</button>
	</div>
</div>


<script type="text/javascript">
var ProductSizeInner = {
	init: function() {
		
	}
}

$(function() {
	ProductSizeInner.init();
})
</script>