<div class="layer-content js-scroll">
	<div class="layer-contents">
		<form id="FrmOrderCoupon" onsubmit="return false">
		<input type="hidden" name="mode" value="coupon"> 
		<input type="hidden" name="act" value="touse">
		<input type="hidden" name="order_num_temp" value="{order_num_temp}">
		
		<table class="th-top use_coupon">
			<caption>쿠폰 적용 하기</caption>
			<colgroup>
				<col style="width:90px">
				<col style="width:auto">
				<col style="width:320px">
				<col style="width:110px">
			</colgroup>
			<thead>
				<tr>
					<th scope="col" colspan="2">상품정보</th>
					<th scope="col">쿠폰내용</th>
					<th scope="col">할인금액</th>
				</tr>
			</thead>
			<tbody>

				<!--{* 상품쿠폰:S *}-->

				{@ list}
				<tr>
					<td rowspan="{=count(.children)+1}" class="va-t ta-l">
						<!-- [D] 옵션 수에 따라 rowspan 변경 필요(추가된 옵션개수+1, 옵션 없는 경우 rowspan 삭제) -->
						<a href="#"><img src="{.tinyimage}" style="width:80px" alt="썸네일"></a>
					</td>
					
					<td class="ta-l" colspan="3">
						<span class="fz-11">{.prodcode}</span>
						<span class="txt-toneA">{.productname}</span>
						<!-- {=pre(.children)} -->
					</td>

				</tr>

				{@ .children}
				
				<tr>
					<td class="ta-l">- {..option_name} </td>
					<td>
						<div class="select" style="width:300px">
							{? ..coupon}
							<select title="쿠폰 선택" name="product_coupon[{..temp_no}]" data-coupon="product" data-temp="{..temp_no}">
								<option value="" selected>쿠폰을 선택하세요!</option>
								{@ ..coupon}
								<option value="{...ci_no}" data-discount="{...discount}">{...coupon_name}</option>
								{/}
							</select>
							{:}
							<select title="쿠폰 선택" disabled >
								<option value="">적용 가능한 쿠폰이 없습니다!</option>
							</select>
							{/}
						</div>
					</td>
					<td><span class="fz-14 discount-color">- <i id="discount_{..temp_no}">0</i> 원</span></td>
					
				</tr>
				{/}
				{/}
				<!--{* 상품쿠폰:E *}-->
				
				<!--{* 장바구니쿠폰:S*}-->
				<tr>
					<td colspan="2" class="ta-l">
						<strong class="txt-toneA fz-14">장바구니쿠폰</strong> <span class="fz-12">(중복 사용 불가)</span>
					</td>
					<td>
						<div class="select" style="width:300px">
							{? coupon.basket}
							<select title="쿠폰 선택" name="coupon_basket" data-coupon="basket" data-temp="basket">
								<option value="" selected>쿠폰을 선택하세요!</option>
								{@ coupon.basket}
								<option value="{.ci_no}" data-discount="{.discount}">{.coupon_name}</option>
								{/}
							</select>
							{:}
							<select title="쿠폰 선택" disabled >
								<option value="">적용 가능한 쿠폰이 없습니다!</option>
							</select>
							{/}
						</div>
					</td>
					<td><span class="fz-14 discount-color">- <i id="discount_basket">0</i> 원</span></td>
				</tr>
				<!--{* 장바구니쿠폰:E *}-->
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<div class="cart-total-price">
							<h4></h4>
							<dl class="sum">
								<dt>총 할인금액</dt>
								<dd><span class="point-color fz-18">- <i id="discount_sum">0</i></span> 원</dd>
							</dl>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
		<p class="board-attention">※ 상품쿠폰과 장바구니 쿠폰은 동시 사용이 불가능합니다.</p>
		<div class="btnPlace mt-40">
			<button type="button" class="btn-line h-large" data-toggle="close"><span>취소</span></a>
			<button type="submit" class="btn-point h-large"><span>적용</span></a>
		</div>
		</form>
	</div>
</div><!-- //.layer-content -->

<script type="text/javascript">
var OrderCoupon = {
	init: function() {
		var me = this;
		var option = $.extend({}, validation_option, {
			validateNonVisibleFields: false,
			onValidationComplete: function (form, status) {
				if (status) me.apply();
			}
		});
		$("#FrmOrderCoupon").validationEngine('attach', option);

		$('[data-toggle="close"]').on('click', function() {
			$('.btn-close').trigger('click');
		});

		$('[data-coupon]').on('change', function(){
			me.select($(this));
		})
	},
	select: function(e) { //쿠폰선택
		var coupon_type = e.data('coupon');
		var coupon_value = e.val();

		switch(coupon_type) {
			case 'product':
				if(coupon_value)  {
					$('[data-coupon="basket"]').attr("disabled",true);
				}
				else  {
					//선택된 상품쿠폰이 없는경우 장바구니쿠폰선택가능
					var valid_basket = true;
					$('[data-coupon="product"]').each(function(i,e){
						if($(this).find('option:selected').val()) {
							valid_basket = false;
							return false;
						}
					});

					if(valid_basket) $('[data-coupon="basket"]').removeAttr("disabled");
				}
			break;
			case 'basket':
				if(coupon_value) $('[data-coupon="product"]').attr("disabled",true);
				else $('[data-coupon="product"]').removeAttr("disabled");
			break;
			case 'delivery':
				
			break;
		}

		//변경전 선택상품 활성화
		var coupon_value_pre = e.data('couponValue');
		if(coupon_value_pre) $('select[data-coupon] option[value="'+coupon_value_pre+'"]').removeClass('hide');

		//선택쿠폰이 있는경우 쿠폰 숨김
		if(coupon_value) {
			e.data('coupon-value', coupon_value);
			$('select[data-coupon] option[value="'+coupon_value+'"]:not(:selected)').addClass('hide');
		}

		$('select[data-coupon]').each(function(i,e) {
			var valid_option = $(this).find('option:not(.hide)');
			if(valid_option.length==1) $(this).find("option[value='']").text('적용 가능한 쿠폰이 없습니다!');
			else  $(this).find("option[value='']").text('쿠폰을 선택하세요!');
		})

		OrderCoupon.calc();
	},
	calc: function() { //쿠폰할인금액 적용 및 합계금액 계산
		var sum = 0;
		$('select[data-coupon]').each(function(i,e) {
		
			var opt = $(e).find('option:selected');
			var no = $(e).data('temp');
			if(opt.val()) {
				var discount = opt.data('discount');
				sum +=  parseInt(discount);
			}
			else {
				var discount = 0;
			}

			$('#discount_'+no).text(UI.numberFormat(discount));
		});

		$('#discount_sum').text(UI.numberFormat(sum));


	},
	apply: function() {
		var formdata = $('#FrmOrderCoupon').serialize();
		$.ajax({
			url:'/proc/order.proc.php',
			data:formdata,
			dataType:'json',
			type:'POST',
			success: function(r) {
				if(r.success){
					var frm = document.FrmOrder;
					$.each(r.data, function(i,e) {
						switch(i) {
							case 'product':
								frm.coupon_product_discount.value = e.discount; //상품쿠폰할인금액
								frm.coupon_basket_discount.value = 0;
								frm.coupon_basket.value = '';
								break;
							case 'basket':
								frm.coupon_product_discount.value = 0;
								frm.coupon_basket_discount.value = e.discount;
								frm.coupon_basket.value = e.coupon_issue_no; //장바구니쿠폰번호
								break;
						}
					})
					
					Order.calc();
					$('.btn-close').trigger('click');
				}
				else {
					UI.error(r.msg);
				}
			}
		})
	}

}

$(function() {
	OrderCoupon.init();
})
</script>