@charset "utf-8";

/*
css name : componentblockquote:before
use : align,display,layout,header,footer,lnb,aside
*/

/* ==================================================
	웹 폰트
================================================== */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700'); */
@font-face {font-family:OpenSans; font-weight:300; font-style:normal; src:url(../font/OpenSans-Light.eot); src:local(※), url(../font/OpenSans-Light.woff) format('woff') }
@font-face {font-family:OpenSans; font-weight:400; font-style:normal; src:url(../font/OpenSans-Regular.eot);src:local(※),url(../font/OpenSans-Regular.woff) format('woff')}
@font-face {font-family:OpenSans; font-weight:600; font-style:normal; src:url(../font/OpenSans-Semibold.eot);src:local(※),url(../font/OpenSans-Semibold.woff) format('woff')}
@font-face {font-family:OpenSans; font-weight:700; font-style:normal; src:url(../font/OpenSans-Bold.eot);src:local(※),url(../font/OpenSans-Bold.woff) format('woff')}
@font-face {font-family:OpenSans; font-weight:800; font-style:normal; src:url(../font/OpenSans-ExtraBold.eot);src:local(※),url(../font/OpenSans-ExtraBold.woff) format('woff')}

/* ==================================================
	RESET
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, 
mark, audio, video, button {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline; letter-spacing:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {overflow-x:hidden;font-family:'OpenSans','Malgun Gothic','맑은 고딕',sans-serif;line-height:1.2;font-size:12px;color:#000;}
ol, ul {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
th,td {vertical-align:middle;}
a:link, a:visited, a:hover, a:active {color:inherit;text-decoration:none;}
b, strong {font-weight:bold;}
input, textarea, select, button {font:inherit;}
button {cursor:pointer; outline:0; background:none;}
button > span {position:relative;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0;}
button[disabled], input[disabled] {cursor:default;}
textarea {overflow:auto;}
textarea, input {resize:none;}
legend {visibility:hidden; font-size:0;}
audio:not([controls]) {display:none;height:0;}
svg:not(:root){overflow:hidden;}
input[type="text"]::-ms-clear,
input[type="password"]::-ms-clear{display:none;}

input[type="button"],
input[type="reset"],
input[type="submit"]{border-radius:0;-webkit-appearance:button;appearance:button;cursor:pointer;}
button,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {border-radius:0;-webkit-border-radius:0;appearance:none;-webkit-appearance:none;}
select {-webkit-border-radius:0;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{margin:0;-webkit-appearance:none;}


/* ==================================================
	공통레이아웃
================================================== */
#header {position:fixed; top:0; left:0; right:0; z-index:100;}
#footer {}
#contents {padding-top:110px; _padding-top:190px;}
.inner-align {width:1200px; margin:auto;}

/* ==================================================
	header
================================================== */
.header-wideBanner {position:relative; left:50%; z-index:10; margin-left:-960px; font-size:0;}
.no-banner .header-wideBanner {display:none;}

.header-wrap {position:relative; z-index:15; background:#fff;}
	.header-wrap.fixed {margin-top:-80px;}
	.header-wrap .top-menu {background:#000;}

.header-logo {float:left; width:231px; height:70px;}
	.header-logo:before {content:""; display:inline-block; width:0.01%; height:100%; vertical-align:middle;}
	.header-logo a {display:inline-block; position:relative; z-index:2;  vertical-align:middle}

.brand-nav {float:left;}
	.brand-nav li {position:relative; float:left; }
	.brand-nav a {display:block; padding:13px 15px 14px; color:#bbb;_color:#939393; font-size:11px;}
	.brand-nav li:first-child a {padding-left:0px;}
	.brand-nav a:hover,
	.brand-nav a.on {color:#dadada;}
	.brand-nav a:hover:before,
	.brand-nav a.on:before {display:block; content:""; position:absolute; right:15px; bottom:0; left:15px; background:#fff; height:3px; }

	.brand-nav li:first-child a:hover:before,
	.brand-nav li:first-child a.on:before {left:0;}
	.brand-nav li:before {content:""; display:block; position:absolute; top:50%; left:0; margin-top:-4px; width:1px; height:8px; background:#666;}
	.brand-nav li:first-child:before {display:none;}
	.brand-nav a strong {color:#a8a8a8;}

.gnb-util-menu {float:right; margin-top:13px;}
	.gnb-util-menu li {position:relative; float:left; padding-left:24px;}
	.gnb-util-menu li:before {content:""; display:block; position:absolute; top:50%; left:12px; margin-top:-4px; width:1px; height:8px; background:#666;}
	.gnb-util-menu li:first-child:before {display:none;}
	.gnb-util-menu a {color:#fff; font-size:11px;}

/* GNB 메뉴 */
.gnb-wrap {position:relative; height:70px; border-bottom:1px solid #eee;}

	.gnb {margin-top:19px;float:left;}
		.gnb h2 {visibility:hidden; font-size:0; height:0px;}
		.gnb .category > li {float:left;}
		.gnb .category > li > .c1 {position:relative; display:block; padding:8px 23px 28px 23px; font-size:13px;}
		.gnb .category > li:hover > a:before {display:block; content:""; position:absolute; right:23px; bottom:25px; left:23px; height:1px; background:#000;}
		.gnb .category .banner-img {float:right; margin-top:2px; font-size:0;}
		
		.divide-line {display:block;  float:left; margin:29px 15px 0; width:1px; height:14px; background:#898989; transform:rotate(25deg); -webkit-transform:rotate(25deg); -ms-transform:rotate(25deg)}

	.under-c1 {display:none; position:absolute; top:70px; left:0; right:0; z-index:100; border:1px solid #eee; border-width:1px 0; background:#fff;}
		.under-c1 .inner {margin:auto; padding:27px 0 27px 254px; width:1200px; box-sizing:border-box;}

	.cate-c2 {float:left; width:130px;}
		.cate-c2 h3 {font-size:13px; font-weight:700;}
		.cate-c2 ul {margin-top:17px;}
		.cate-c2 li a {display:block; color:#555; font-size:13px; line-height:23px;}
		.cate-c2 li a:hover {color:#000;}
	.brand-cate .cate-c2 {width:auto;margin-right:50px;}
	
	.util-local {float:right; margin-top:25px;}
		.util-local .cart {margin-left:18px;}
		.util-local .cart i {text-align:center; padding-top:6px; font-size:11px; text-indent:0; box-sizing:border-box;}

	.only-outlet,
	.only-brand {display:none;}

	.with-brand .under-c1 .inner {padding-left:0;} /* 2017-05-31 수정 */
	.cate-c2.cate-brand {width:255px;} /* 2017-05-31 수정 */
	.cate-c2.cate-brand li {margin-top:5px;}

/* 브랜드 GNB 메뉴 */
.brand-header .header-logo {width:auto;margin-right:57px;_width:98px;}
	.brand-header .header-logo img {max-height:100%;_max-width:98px}
	.brand-header .common {display:none;}
	.brand-header .only-brand {display:block !important;}

/* 아웃렛 GNB 메뉴 */
.outlet-header .only-outlet {font-size:30px; font-weight:600;}
	.outlet-header .header-logo.common {display:none;}
	.outlet-header .only-outlet {display:block !important;}

/* 검색 */
.header-search {display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:110; background:rgba(255,255,255,.95);}
	.header-search .search-close {position:absolute; top:40px; right:40px;}
	.header-search .inner {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); }

	.header-search fieldset {position:relative; width:600px; margin:auto; border-bottom:1px solid #000;}
	.header-search input[type="text"] {padding-left:5px; height:56px; width:100%; border:none; background:none; font-size:20px;}
	.header-search .find {position:absolute; right:0; top:11px;}
	
	/* 검색 키워드 */
	.search-keyword {width:440px; margin:75px auto 0 auto}
		.search-keyword .btn a {position:relative; display:block; float:left; padding:15px 0; width:50%; border-bottom:1px solid #e1e1e1; color:#999; text-align:center; font-size:16px; cursor:pointer}
		.search-keyword .btn a.active {color:#000;}
		.search-keyword .btn a.active:after {display:block; content:""; position:absolute; bottom:-1px; left:0; right:0; height:2px; background:#000;}
		.search-keyword .list {padding:10px 0; height:170px; box-sizing:border-box;}
		.search-keyword .list a {display:block; padding:7px 10px; color:#555; font-size:14px;}
		.search-keyword .none {padding-top:50px; text-align:center; color:#adadad;}
	
	/* 검색 결과 없음 */
	.none-result {margin-bottom:37px; text-align:center; font-size:18px;}
	.none-attention {padding-top:53px;font-size:13px; color:#555;}
	.none-attention li {line-height:26px;}
	.none-attention li:before {content:"-"; padding-right:3px;}

/* ==================================================
	footer
================================================== */
.menu-wrap {position:relative; padding:17px 0 16px; border:1px solid #f0f0f0; border-width:1px 0;}
.footer-logo {display:block; float:left; margin-top:4px; width:172px; height:15px; background:url(../img/common/footer_logo.gif) no-repeat; text-indent:-9999px;}

.footer-menu {float:left; margin:4px 0 0 8px;}
	.footer-menu a {display:inline-block; margin-left:40px;}

.footer-share {float:right; margin:0 4px 0 0; font-size:0;}
	.footer-share .txt {color:#555; font-size:11px; text-transform:uppercase; vertical-align:middle;}
	.footer-share a {display:inline-block; margin-left:25px;}

.body-footer {position:relative; height:129px;}
	.body-footer address {padding-top:31px;color:#888; font-size:11px;}
	.body-footer address p {margin-bottom:5px;}
	.body-footer address p a {color:#444;}
	.body-footer .apps {position:absolute; top:34px; right:0;}
	.body-footer .qrcode {float:left; margin-right:34px;}
	.body-footer .btn {float:left;}
	.body-footer .btn a {display:block; font-size:0;}

.copyright {padding-top:2px; color:#888; font-size:11px;}
	.copyright a {display:inline-block; padding:4px 4px 6px; border:1px solid #ddd; color:#444; }

/* ==================================================
	LNB
================================================== */
/* 상품필터 */
.filter-wrap {float:left; width:200px;}
	.filter-wrap h2 {position:relative; padding-bottom:15px; border-bottom:1px solid #eee;}
	.filter-wrap h2 > span {font-size:20px; font-weight:700;}
	.filter-wrap h2 .reset {position:absolute; top:5px; right:0; color:#555; font-family:dotum; }
	.filter-wrap .icon-reset {margin-top:-2px;}
	
	.filter-wrap .type-box {padding:17px 0 12px 0;}
	.filter-wrap .type-box h3 {padding-bottom:3px; font-size:16px; font-weight:600;}
	.filter-wrap .type-box.price,
	.filter-wrap .type-box.size {margin-top:8px;}

	.filter-checkbox li {padding:8px 0;}

	.filter-color {margin:0 0 0 -7px; font-size:0;}
		.filter-color label {position:relative; display:inline-block; margin:7px 0 0 7px; width:22px; height:22px; box-sizing:border-box; cursor:pointer}
		.filter-color input[type="checkbox"] {visibility:hidden; padding:0; margin:0; position:absolute; top:0; left:0; width:1px; height:1px;}
		.filter-color input[type="checkbox"]:checked + span {display:block; position:absolute; top:0; right:0; bottom:0; left:0; background:url(../img/common/checked_small.png) 50% no-repeat;}
		
		.filter-color .with-border input[type="checkbox"]:checked + span {background-image:url(../img/common/checked_small_black.png);}

		/* 임시 컬러 */
		.filter-color .with-border {border:1px solid #000;}

	.filter-size {font-size:0; margin-left:-7px;}
		.size-check {display:inline-block; position:relative; margin:7px 0 0 7px; font-size:0;}
		.size-check input[type="checkbox"] {visibility:hidden; position:absolute; margin:0; width:1px; height:1px; border:none;}
		.size-check input[type="checkbox"] + label {display:inline-block; padding:0 10px; font-size:13px; _width:34px; height:30px; background:#fff; border:1px solid #ccc; text-align:center; line-height:28px; box-sizing:border-box; cursor:pointer; }
		.size-check input[type="checkbox"]:checked  + label {background:#212121; border-color:#212121; color:#fff;}
	
	.filter-price {}
		.range-box {margin-top:11px;}
		.range-box > div {position:relative; width:95px;}
		.range-box input[type="text"] {padding-left:0px; width:100%; height:28px; border-color:#000; border-width:0 0 1px 0; font-size:13px; color:#555;}
		#filter-priceRange {margin-top:13px;}


/* 마이페이지 */
.my-lnb {}
	.my-lnb .lnb-title {margin-top:-2px; padding-bottom:8px; font-size:22px; font-weight:700; line-height:1;}
	.my-lnb dl {margin-top:25px;}
	.my-lnb dt {padding-bottom:8px; font-size:15px; font-weight:700;}
	.my-lnb dd {color:#555; font-size:13px; line-height:25px;}
	.my-lnb dd a.active,
	.my-lnb dd a:hover {color:#ee5718;}

/* CS */
.cs-lnb {}
	.cs-lnb .lnb-title {margin-top:-2px; padding-bottom:8px; font-size:22px; font-weight:700; line-height:1;}
	.cs-lnb ul {margin-top:25px;}
	.cs-lnb li {color:#555; font-size:13px; line-height:25px;}
	.cs-lnb li a.active,
	.cs-lnb li a:hover {color:#ee5718;}


/* ==================================================
	align
================================================== */
.ta-l {text-align:left !important;}
.ta-c {text-align:center !important;}
.ta-r {text-align:right !important;}
.va-t {vertical-align:top;}
.va-m {vertical-align:middle;}

/* ==================================================
	hide & float & clear & block & position
================================================== */
.hide {display:none !important;}
.d-block {display:block !important;}
.d-iblock {display:inline-block !important;}
.fl-l {float:left;}
.fl-r {float:right;}
.clear:after {display:block; clear:both; content:"";}
.pos-r {position:relative;}
.pos-a {position:absolute;}
.pos-f {position:fixed;}
.v-hidden {visibility:hidden; height:0px; padding:0 !important; margin:0 !important;}
.ellipsis{display:block; overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

/* ==================================================
	skip
================================================== */
a.skip{display:block;position:absolute;top:-1px;z-index:999;width:0;height:0;overflow:hidden;text-align:center}
a.skip:active,a.skip:focus{z-index:999;width:100%;height:auto;padding:5px;background:#FFF}


/* ==================================================
	font
================================================== */
.fz-0 {font-size:0px !important;}
	.fz-9 {font-size:9px !important;}
	.fz-10 {font-size:10px !important;}
	.fz-11 {font-size:11px !important;}
	.fz-12 {font-size:12px !important;}
	.fz-13 {font-size:13px !important;}
	.fz-14 {font-size:14px !important;}
	.fz-15 {font-size:15px !important;}
	.fz-16 {font-size:16px !important;}
	.fz-18 {font-size:18px !important;}
	.fz-20 {font-size:20px !important;}
	.fz-22 {font-size:22px !important;}

.fw-bold {font-weight:700 !important;}
	.fw-normal {font-weight:400 !important;}
	.fw-light {font-weight:300 !important;}

/* ==================================================
	margin, padding
================================================== */
.no-margin {margin:0 !important;}

.mt-5 {margin-top:5px !important}
	.mt-10 {margin-top:10px !important}
	.mt-15 {margin-top:15px !important}
	.mt-20 {margin-top:20px !important}
	.mt-25 {margin-top:25px !important}
	.mt-30 {margin-top:30px !important}
	.mt-35 {margin-top:35px !important}
	.mt-40 {margin-top:40px !important}
	.mt-45 {margin-top:45px !important}
	.mt-50 {margin-top:50px !important}
	.mt-55 {margin-top:55px !important}
	.mt-60 {margin-top:60px !important}
	.mt-65 {margin-top:65px !important}
	.mt-70 {margin-top:70px !important}
	.mt-75 {margin-top:75px !important}
	.mt-80 {margin-top:80px !important}
	.mt-85 {margin-top:85px !important}
	.mt-90 {margin-top:90px !important}
	.mt-95 {margin-top:95px !important}
	.mt-100 {margin-top:100px !important}

.mr-5 {margin-right:5px !important}
	.mr-10 {margin-right:10px !important}
	.mr-15 {margin-right:15px !important}
	.mr-20 {margin-right:20px !important}
	.mr-25 {margin-right:25px !important}
	.mr-30 {margin-right:30px !important}
	.mr-35 {margin-right:35px !important}
	.mr-40 {margin-right:40px !important}
	.mr-45 {margin-right:45px !important}
	.mr-50 {margin-right:50px !important}
	.mr-55 {margin-right:55px !important}
	.mr-60 {margin-right:60px !important}
	.mr-65 {margin-right:65px !important}
	.mr-70 {margin-right:70px !important}
	.mr-75 {margin-right:75px !important}
	.mr-80 {margin-right:80px !important}
	.mr-85 {margin-right:85px !important}
	.mr-90 {margin-right:90px !important}
	.mr-95 {margin-right:95px !important}
	.mr-100 {margin-right:100px !important}

.mb-5 {margin-bottom:5px !important}
	.mb-10 {margin-bottom:10px !important}
	.mb-15 {margin-bottom:15px !important}
	.mb-20 {margin-bottom:20px !important}
	.mb-25 {margin-bottom:25px !important}
	.mb-30 {margin-bottom:30px !important}
	.mb-35 {margin-bottom:35px !important}
	.mb-40 {margin-bottom:40px !important}
	.mb-45 {margin-bottom:45px !important}
	.mb-50 {margin-bottom:50px !important}
	.mb-55 {margin-bottom:55px !important}
	.mb-60 {margin-bottom:60px !important}
	.mb-65 {margin-bottom:65px !important}
	.mb-70 {margin-bottom:70px !important}
	.mb-75 {margin-bottom:75px !important}
	.mb-80 {margin-bottom:80px !important}
	.mb-85 {margin-bottom:85px !important}
	.mb-90 {margin-bottom:90px !important}
	.mb-95 {margin-bottom:95px !important}
	.mb-100 {margin-bottom:100px !important}

.ml-5 {margin-left:5px !important}
	.ml-10 {margin-left:10px !important}
	.ml-15 {margin-left:15px !important}
	.ml-20 {margin-left:20px !important}
	.ml-25 {margin-left:25px !important}
	.ml-30 {margin-left:30px !important}
	.ml-35 {margin-left:35px !important}
	.ml-40 {margin-left:40px !important}
	.ml-45 {margin-left:45px !important}
	.ml-50 {margin-left:50px !important}
	.ml-55 {margin-left:55px !important}
	.ml-60 {margin-left:60px !important}
	.ml-65 {margin-left:65px !important}
	.ml-70 {margin-left:70px !important}
	.ml-75 {margin-left:75px !important}
	.ml-80 {margin-left:80px !important}
	.ml-85 {margin-left:85px !important}
	.ml-90 {margin-left:90px !important}
	.ml-95 {margin-left:95px !important}
	.ml-100 {margin-left:100px !important}

.no-padding {padding:0px !important;}

.pd-5 {padding:5px !important;}
	.pd-10 {padding:10px !important;}
	.pd-15 {padding:15px !important;}
	.pd-20 {padding:20px !important;}
	.pd-25 {padding:25px !important;}
	.pd-30 {padding:30px !important;}
	.pd-35 {padding:35px !important;}
	.pd-40 {padding:40px !important;}
	.pd-45 {padding:45px !important;}
	.pd-50 {padding:50px !important;}

.pt-5 {padding-top:5px !important}
	.pt-10 {padding-top:10px !important}
	.pt-15 {padding-top:15px !important}
	.pt-20 {padding-top:20px !important}
	.pt-25 {padding-top:25px !important}
	.pt-30 {padding-top:30px !important}
	.pt-35 {padding-top:35px !important}
	.pt-40 {padding-top:40px !important}
	.pt-45 {padding-top:45px !important}
	.pt-50 {padding-top:50px !important}
	.pt-55 {padding-top:55px !important}
	.pt-60 {padding-top:60px !important}
	.pt-65 {padding-top:65px !important}
	.pt-70 {padding-top:70px !important}
	.pt-75 {padding-top:75px !important}
	.pt-80 {padding-top:80px !important}
	.pt-85 {padding-top:85px !important}
	.pt-90 {padding-top:90px !important}
	.pt-95 {padding-top:95px !important}
	.pt-100 {padding-top:100px !important}

.pr-5 {padding-right:5px !important}
	.pr-10 {padding-right:10px !important}
	.pr-15 {padding-right:15px !important}
	.pr-20 {padding-right:20px !important}
	.pr-25 {padding-right:25px !important}
	.pr-30 {padding-right:30px !important}
	.pr-35 {padding-right:35px !important}
	.pr-40 {padding-right:40px !important}
	.pr-45 {padding-right:45px !important}
	.pr-50 {padding-right:50px !important}
	.pr-55 {padding-right:55px !important}
	.pr-60 {padding-right:60px !important}
	.pr-65 {padding-right:65px !important}
	.pr-70 {padding-right:70px !important}
	.pr-75 {padding-right:75px !important}
	.pr-80 {padding-right:80px !important}
	.pr-85 {padding-right:85px !important}
	.pr-90 {padding-right:90px !important}
	.pr-95 {padding-right:95px !important}
	.pr-100 {padding-right:100px !important}

.pb-5 {padding-bottom:5px !important}
	.pb-10 {padding-bottom:10px !important}
	.pb-15 {padding-bottom:15px !important}
	.pb-20 {padding-bottom:20px !important}
	.pb-25 {padding-bottom:25px !important}
	.pb-30 {padding-bottom:30px !important}
	.pb-35 {padding-bottom:35px !important}
	.pb-40 {padding-bottom:40px !important}
	.pb-45 {padding-bottom:45px !important}
	.pb-50 {padding-bottom:50px !important}
	.pb-55 {padding-bottom:55px !important}
	.pb-60 {padding-bottom:60px !important}
	.pb-65 {padding-bottom:65px !important}
	.pb-70 {padding-bottom:70px !important}
	.pb-75 {padding-bottom:75px !important}
	.pb-80 {padding-bottom:80px !important}
	.pb-85 {padding-bottom:85px !important}
	.pb-90 {padding-bottom:90px !important}
	.pb-95 {padding-bottom:95px !important}
	.pb-100 {padding-bottom:100px !important}

.pl-5 {padding-left:5px !important}
	.pl-10 {padding-left:10px !important}
	.pl-15 {padding-left:15px !important}
	.pl-20 {padding-left:20px !important}
	.pl-25 {padding-left:25px !important}
	.pl-30 {padding-left:30px !important}
	.pl-35 {padding-left:35px !important}
	.pl-40 {padding-left:40px !important}
	.pl-45 {padding-left:45px !important}
	.pl-50 {padding-left:50px !important}
	.pl-55 {padding-left:55px !important}
	.pl-60 {padding-left:60px !important}
	.pl-65 {padding-left:65px !important}
	.pl-70 {padding-left:70px !important}
	.pl-75 {padding-left:75px !important}
	.pl-80 {padding-left:80px !important}
	.pl-85 {padding-left:85px !important}
	.pl-90 {padding-left:90px !important}
	.pl-95 {padding-left:95px !important}
	.pl-100 {padding-left:100px !important}


/* ==================================================
	width
================================================== */
.w25-per {width:25% !important;}
	.w33-per {width:33.33% !important;}
	.w50-per {width:50% !important;}
	.w100-per {width:100% !important;}

.w10 {width:10px !important;}
	.w20 {width:20px !important;}
	.w30 {width:30px !important;}
	.w40 {width:40px !important;}
	.w50 {width:50px !important;}
	.w60 {width:60px !important;}
	.w70 {width:70px !important;}
	.w80 {width:80px !important;}
	.w90 {width:90px !important;}
	.w100 {width:100px !important;}
	.w150 {width:150px !important;}
	.w200 {width:200px !important;}
	.w250 {width:250px !important;}
	.w300 {width:300px !important;}
	.w350 {width:350px !important;}
	.w400 {width:400px !important;}
	.w450 {width:450px !important;}
	.w500 {width:500px !important;}
	.w550 {width:550px !important;}
	.w600 {width:600px !important;}
	.w650 {width:650px !important;}
	.w700 {width:700px !important;}

.h10 {height:10px !important;}
	.h20 {height:20px !important;}
	.h30 {height:30px !important;}
	.h40 {height:40px !important;}
	.h50 {height:50px !important;}
	.h60 {height:60px !important;}
	.h70 {height:70px !important;}
	.h80 {height:80px !important;}
	.h90 {height:90px !important;}
	.h100 {height:100px !important;}
	.h150 {height:150px !important;}
	.h200 {height:200px !important;}
	.h250 {height:250px !important;}
	.h300 {height:300px !important;}
	.h350 {height:350px !important;}
	.h400 {height:400px !important;}
	.h450 {height:450px !important;}
	.h500 {height:500px !important;}
	.h550 {height:550px !important;}
	.h600 {height:600px !important;}
	.h650 {height:650px !important;}
	.h700 {height:700px !important;}
