<div id="page">
	<section class="page_local is-line">
		<h2 class="page_title">
			<a href="javascript:history.back();" class="prev">이전페이지</a>
			<span>About us</span>
		</h2>
	</section>
	
	<div class="brand_story">
		<div class="intro">
			<p class="tit">More effective <br>YET Minimal Makeup Brand</p>
			<p class="sub_tit">단 하나의 제품, 손쉽고 간단한 터치만으로<br>나만의 아름다움을 효과적으로 표현할 수 있는<br><strong>메이크업 전문 브랜드</strong></p>
		</div>
		<ul class="intro_list">
			<li>
				<div class="img" style="background-image:url('/jayjun/m/static/img/content/brand_story01.jpg')">
					<p class="tit">Fit &amp; Vibrant</p>
				</div>
				<div class="txt">
					<p class="sub_tit">자연스러운 피부 표현과 생기있는 컬러감</p>
					<p class="exp">피부타입, 피부톤에 맞는 색조 제품을 연구하여 개발된 브랜드로 피부톤은 아름답게, 밀착력은 우수하게, 피부에 Fit 하게! 컬러 메이크업 제품 역시 한 번의 터치만으로 생기 있고 아름답게 표현되는 독창성을 더합니다.</p>
				</div>
			</li>
			<li>
				<div class="img" style="background-image:url('/jayjun/m/static/img/content/brand_story02.jpg')">
					<p class="tit">Simple &amp; Multi-function</p>
				</div>
				<div class="txt">
					<p class="sub_tit">심플한 라인업 및 멀티기능성 제품</p>
					<p class="exp">20대를 상징하는 아름다움은 심플함과 다양성입니다. 불필요하게 과장된 제품이 아닌 메이크업에 필수적인 제품들로 구성되어 메이크업을 처음 시작하시거나, 보다 가볍게 나를 표현하고자 하는 분들도 쉽게 사용 가능합니다. </p>
				</div>
			</li>
			<li>
				<div class="img" style="background-image:url('/jayjun/m/static/img/content/brand_story03.jpg')">
					<p class="tit">Minimalism &amp; Unique</p>
				</div>
				<div class="txt">
					<p class="sub_tit">미니멀한 디자인 및 나만의 독특한 아이템</p>
					<p class="exp">단순함과 간결함을 추구하며 심플한 라이프 스타일을 대변하는 미니멀리즘이 반영된 디자인으로 적은 양으로도 완벽한 메이크업을 연출 할 수 있는 탁월한 퍼포먼스를 가진 콤팩트한 제품입니다. 파우치 하나에 메이크업에 필수적인 제품을 담아낼 수 있으며 단순한 화장품이 아닌 스타일리쉬한 일상의 액세서리로 edge있게 나만의 개성을 표현 할 수 있는 아이템입니다. </p>
				</div>
			</li>
		</ul>
	</div>
	
</div>