<!-- 내용 -->
<div id="page">
    <main id="content" class="subpage">
        <section class="page_local">
            <h2 class="page_title">
                <a href="javascript:history.back();" class="prev">이전페이지</a>
                <span>개인정보취급방침</span>
            </h2>
            <div class="breadcrumb">
                <ul class="depth2">
                    <li>
                        <a href="javascript:;">개인정보취급방침</a>
                        <ul class="depth3">
                            <li><a href="etc_agreement.php">이용약관</a></li>
                            <li><a href="etc_privacy.php">개인정보취급방침</a></li>
                            <li><a href="etc_email.php">이메일 무단 수집거부</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="dimm_bg"></div>
            </div>
        </section><!-- //.page_local -->

        <section class="wrap_privacy">
            {privacy}
        </section><!-- //.wrap_privacy -->

    </main>
</div>
<!-- //내용 -->