<!-- 당첨자발표 -->
<div class="ta-r">
	<form>
		<fieldset>
			<legend>당첨자 발표 검색</legend>
			<input type="text" class="w250" placeholder="검색어를 입력해주세요." title="당첨자 검색어 입력자리">
			<button class="btn-point ml-5 w70" type="submit">
				<span>검색</span>
			</button>
		</fieldset>
	</form>
</div>
<table class="th-top mt-10">
	<caption>이벤트 당첨자 목록</caption>
	<colgroup>
		<col style="width:100px">
		<col style="width:auto">
		<col style="width:250px">
		<col style="width:150px">
	</colgroup>
	<thead>
		<tr>
			<th scope="col">No.</th>
			<th scope="col">이벤트명</th>
			<th scope="col">이벤트 기간</th>
			<th scope="col">발표일</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="txt-toneA">25</td>
			<td class="subject">
				<a href="">설 연휴 이벤트 당첨자 발표</a>
			</td>
			<td class="txt-toneA">2017.01.14 ~ 2017.02.28</td>
			<td class="txt-toneA">2017.03.02</td>
		</tr>
		<tr>
			<td class="txt-toneA">24</td>
			<td class="subject">
				<a href="">설 연휴 이벤트 당첨자 발표</a>
			</td>
			<td class="txt-toneA">2017.01.14 ~ 2017.02.28</td>
			<td class="txt-toneA">2017.03.02</td>
		</tr>
		<tr>
			<td class="txt-toneA">23</td>
			<td class="subject">
				<a href="">설 연휴 이벤트 당첨자 발표</a>
			</td>
			<td class="txt-toneA">2017.01.14 ~ 2017.02.28</td>
			<td class="txt-toneA">2017.03.02</td>
		</tr>
		<tr>
			<td class="txt-toneA">22</td>
			<td class="subject">
				<a href="">설 연휴 이벤트 당첨자 발표</a>
			</td>
			<td class="txt-toneA">2017.01.14 ~ 2017.02.28</td>
			<td class="txt-toneA">2017.03.02</td>
		</tr>
		<tr>
			<td class="txt-toneA">21</td>
			<td class="subject">
				<a href="">설 연휴 이벤트 당첨자 발표</a>
			</td>
			<td class="txt-toneA">2017.01.14 ~ 2017.02.28</td>
			<td class="txt-toneA">2017.03.02</td>
		</tr>
		<tr>
			<td class="txt-toneA">20</td>
			<td class="subject">
				<a href="">설 연휴 이벤트 당첨자 발표</a>
			</td>
			<td class="txt-toneA">2017.01.14 ~ 2017.02.28</td>
			<td class="txt-toneA">2017.03.02</td>
		</tr>
	</tbody>
</table>

{= this->xfetch('_include/pagination.html')} 
