<style>
    .swiper-button-disabled {
        opacity: .35;
        cursor: auto;
        pointer-events: none;
    }
</style>

<div class="layer-content js-scroll">
    <div class="ptreview_view">
        {? list.photo_img}
        <div class="img with-direction">

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {@ list.photo_img}
                    <div class="swiper-slide"><img src="{.value_.path}" alt="리뷰이미지" style="width:100%"></div>
                    {/}
                </div>
                <div class="ptreview-prev"><a>PREV</a></div>
                <div class="ptreview-next"><a>NEXT</a></div>
            </div>
        </div>
        {/}
        <div class="con">
            <div class="user clear">
                <div class="score">
                    <div class="writer">{=format(list.c_mem_id,'id')}<span></span> {=format(list.writetime,'Y.m.d H:i')}</div>
                </div>
                {? list.owner && !end_yn}
                <div class="function-btn">
                    <!--<button class="btn-point h-small" type="button"><span>수정</span></button>-->
                    <button class="btn-line h-small" type="button"><span>삭제</span></button>
                </div>
                {/}
            </div>
            <div class="txt">
                <strong>{list.title}</strong>
                {list.comment}
            </div>
        </div>
    </div>
</div><!-- //.layer-content -->


<script type="text/javascript">
    var CommentPhotoDetail = {

        init: function() {
            var me = this;
            $('html,body').css('overflow-y','hidden');

            var swiper = new Swiper('.swiper-container', {
                navigation: {
                    nextEl: '.ptreview-next',
                    prevEl: '.ptreview-prev',
                },
				spaceBetween: 80
            });


        },
    };

    $(function() {
        CommentPhotoDetail.init();
    })
</script>