<div id="contents">
    <div class="sub-page">

        <article class="sub-wrap">
            <header class="subPage-title"><h2>개인정보취급방침</h2></header>
            <section class="agreement-pack">
                <h3 class="v-hidden">개인정보취급방침 페이지</h3>
                <div class="tabs three">
                    <a href="etc_agreement.php"><span>이용약관</span></a>
                    <a href="etc_privacy.php" class="active"><span>개인정보취급방침</span></a>
                    <a href="etc_email.php"><span>이메일 무단 수집거부</span></a>
                </div>
                <div class="frm-box">
                    {privacy}
                </div>
            </section>
        </article>

    </div>
</div><!-- //#contents -->
